<div class="container" *ngIf="order">
    <form style="border:1px solid #ccc">
        <div class="container">
            <div>
                {{'ObjectId' | translate}}: 
                <a target="_blank" href="/iddock/detail/things/{{order.objectId}}">
                    {{order.objectId}}
                </a>
            </div>
            <h1>{{"Address"|translate}}</h1>
            <hr>
            <div class="address-detail">

                <div class="form-group">
                    <label for="email"><b>{{"Unit" | translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter suite'|translate}}" [(ngModel)]="suite" name="suite">
                </div>
                <div class="form-group">
                    <label for="email"><b>{{"Street Number" | translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter street number'|translate}}" [(ngModel)]="streetNumber" name="streetNumber">        
                </div>
                <div class="form-group">
                    <label for="email"><b>{{"Street" | translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter street'|translate}}" [(ngModel)]="street" name="street">
                </div>
                <div class="form-group">
                    <label for="email"><b>{{"District"|translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter district'|translate}}" [(ngModel)]="district" name="district">
                </div>
                <div class="form-group">
                    <label for="email"><b>{{"City"|translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter city'|translate}}" [(ngModel)]="city" name="city">
                </div>
                <div class="form-group">
                    <label for="email"><b>{{"State/Province"|translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter state/province'|translate}}" [(ngModel)]="province" name="province">        
                </div>
                <div class="form-group">
                    <label for="email"><b>{{"Postcode"|translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter postcode'|translate}}" [(ngModel)]="postcode" name="postcode">        
                </div>
                <div class="form-group">
                    <label for="email"><b>{{"Country"|translate}}</b></label>
                    <input type="text" class="form-control" placeholder="{{'Enter country'|translate}}" [(ngModel)]="country" name="country">        
                </div>
        </div>
            <div class="d-flex justify-content-between py-2">
                <button type="button" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">{{"Cancel"|translate}}</button>
                <button type="submit" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block" (click)="confirm()">{{"Confirm"|translate}}</button>
            </div>
        </div>
    </form>
</div>
