
<div class="header-container">
    <header id="header" class="u-header u-header-left-aligned-nav">
        <div class="u-header__section">
            <!-- Topbar -->
            <div class="u-header-topbar py-2 d-none d-xl-block bg-primary border-bottom-0">
                <div class="container">
                    <div class="d-flex align-items-center">
                        <div class="topbar-left">
                            <a href="#" class="text-gray-70 font-size-13 u-header-topbar__nav-link">{{"Welcome to " | translate}} {{store.name | translateField}}</a>
                        </div>
                        <div class="topbar-right ml-auto">
                            <ul class="list-inline mb-0">
                                <!--
                                <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border">
                                    <a href="/store/{{storeId}}/store-locator" class="u-header-topbar__nav-link">
                                        <i class="ec ec-map-pointer mr-1"></i>{{"Store Locator"|translate}}</a>
                                </li>
                                -->
                                <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border full-bg">
                                    <a href="/store/{{storeId}}/track-order" class="u-header-topbar__nav-link"><i class="ec ec-transport mr-1"></i>
                                                                                {{"Track Your Order"|translate}}</a>
                                </li>
                                <li *ngIf="currency" class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border full-bg">
                                    <!-- Account Sidebar Toggle Button -->
                                    <a id="sidebarNavToggler" href="javascript:;" role="button" class="u-header-topbar__nav-link" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent"
                                        data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                                        <img src="{{getLogo(currency)}}" class="img-logo">&nbsp;
                                        <a href="/wallet">{{wallet.name}}({{currencyBalance}}{{currency}})</a>
                                        <!-- <span
                                                                                        class="text-primary-darken-5">or</span><a
                                                                                        routerLink="/auth/signin">Sign
                                                                                        in</a> -->
                                    </a>
                                    <!-- End Account Sidebar Toggle Button -->
                                </li>

                                <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border full-bg">
                                    <!-- Account Sidebar Toggle Button -->
                                    <a id="sidebarNavToggler" href="javascript:;" role="button" class="u-header-topbar__nav-link" aria-controls="sidebarContent" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-hide-on-scroll="false" data-unfold-target="#sidebarContent"
                                        data-unfold-type="css-animation" data-unfold-animation-in="fadeInRight" data-unfold-animation-out="fadeOutRight" data-unfold-duration="500">
                                        <i class="ec ec-user mr-1"></i> <a [routerLink]="['/account']">{{('My account') | translate}}</a>
                                        <!-- <span
                                                                                        class="text-primary-darken-5">or</span><a
                                                                                        routerLink="/auth/signin">Sign
                                                                                        in</a> -->
                                    </a>
                                    <!-- End Account Sidebar Toggle Button -->
                                </li>

                                <li class="list-inline-item mr-0 u-header-topbar__nav-item u-header-topbar__nav-item-border full-bg">
                                    <select class="select-css" [(ngModel)]="_lang" (change)="onChange($event.target.value)">
                                                    <option class="selectitem" selected="_lang==='en'" value="en">English</option>
                                                    <option class="selectitem" selected="_lang==='sc'" value="sc">中文</option>
                                                </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->

            <!-- Logo-Search-header-icons -->
            <div class="py-2 py-xl-5 bg-primary">
                <div class="container my-0dot5 my-xl-0">
                    <div class="row align-items-center">
                        <!-- Logo-offcanvas-menu -->
                        <div class="col-auto">
                            <!-- Nav -->
                            <nav class="navbar navbar-expand u-header__navbar py-0 justify-content-xl-between max-width-270 min-width-270">
                                <!-- Logo -->
                                <a class="order-1 order-xl-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-center" routerLink="/" aria-label="Electro">
                                    <img class="main-logo" src="{{store.image ? store.image : '/assets/images/logo/ecombar-logo.png'}}" />
                                    <div class="logo-text">{{store.name | translateField}}</div>



                                </a>
                                <!-- End Logo -->

                                <!-- Fullscreen Toggle Button -->
                                <!--
                                <button id="sidebarHeaderInvokerMenu" type="button" class="navbar-toggler d-block btn u-hamburger mr-3 mr-xl-0" (click)="openMenu()">
                                                                        <span id="hamburgerTriggerMenu"
                                                                                class="u-hamburger__box">
                                                                                <span class="u-hamburger__inner"></span>
                                                                        </span>
                                                                </button>
                                                                -->
                                <!-- End Fullscreen Toggle Button -->
                            </nav>
                            <!-- End Nav -->

                            <!-- ========== HEADER SIDEBAR ========== -->
                            <aside id="sidebarHeader1" class="u-sidebar u-sidebar--left" aria-labelledby="sidebarHeaderInvokerMenu" *ngIf='menu'>

                                <div class="u-sidebar__scroller">
                                    <div class="u-sidebar__container">
                                        <div class="u-header-sidebar__footer-offset pb-0">
                                            <!-- Toggle Button -->
                                            <div class="position-absolute top-0 right-0 z-index-2 pt-4 pr-7">
                                                <button type="button" class="close ml-auto" (click)="closeMenu()">
                                                        <span aria-hidden="true"><i class="ec ec-close-remove text-gray-90 font-size-20"></i></span>
                                                </button>
                                            </div>
                                            <!-- End Toggle Button -->

                                            <!-- Content -->
                                            <div class="js-scrollbar u-sidebar__body">
                                                <div id="headerSidebarContent" class="u-sidebar__content u-header-sidebar__content">
                                                    <!-- Logo -->
                                                    <a class="d-flex ml-0 navbar-brand u-header__navbar-brand u-header__navbar-brand-vertical" routerLink="/" aria-label="Electro">
                                                        <img src="/assets/images/logo/ecombar-logo.png" />
                                                    </a>
                                                    <!-- End Logo -->

                                                    <app-menu-mobile>
                                                    </app-menu-mobile>
                                                </div>
                                            </div>
                                            <!-- End Content -->
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!-- ========== END HEADER SIDEBAR ========== -->
                        </div>
                        <!-- End Logo-offcanvas-menu -->
                        <!-- Search Bar -->
                        <!-- Search Bar -->
                        <div class="col d-none d-xl-block">
                            <form class="js-focus-state" (ngSubmit)="onSearch()">
                                <label class="sr-only" for="searchproduct">{{'Search'|translate}}</label>
                                <div class="input-group">
                                    <input type="text" name="searchText" [(ngModel)]="searchText" class="form-control py-2 pl-5 font-size-15 border-right-0 height-42 border-width-0 rounded-left-pill border-primary" name="email" id="searchproduct-item" placeholder="{{'Search for Products'|translate}}" aria-label="Search for Products"
                                        aria-describedby="searchProduct1" required>
                                    <div class="input-group-append" *ngIf="categories">
                                        <!-- Select -->
                                        <select [(ngModel)]="categoryId" name="categoryId" class="js-select selectpicker dropdown-select custom-search-categories-select bg-white" data-style="btn height-42 text-gray-60 font-weight-normal border-top border-bottom border-left-0 rounded-0 border-primary border-width-0 pl-0 pr-5 py-2">
                                            <option value="" selected>{{"All Categories"|translate}}</option>
                                            <option *ngFor="let category of categories" value="{{category._id}}">{{category.category | translateField}}</option>
                                        </select>
                                        <!-- End Select -->
                                        <button class="btn btn-dark height-42 py-2 px-3 rounded-right-pill" type="submit" id="searchProduct1" routerLinkActive="router-link-active">
                                            <span class="ec ec-search font-size-20"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Search Bar -->
                        <!-- Header Icons -->
                        <div class="col col-xl-auto text-right text-xl-left pl-0 pl-xl-3 position-static">
                            <div class="d-inline-flex">
                                <ul class="d-flex list-unstyled mb-0 align-items-center">
                                    <!-- Search -->
                                    <li class="col d-xl-none px-2 px-sm-3 position-static">
                                        <a id="searchClassicInvoker" class="font-size-22 text-gray-90 text-lh-1 btn-text-secondary" href="javascript:;" role="button" data-toggle="tooltip" data-placement="top" title="Search" aria-controls="searchClassic" aria-haspopup="true" aria-expanded="false"
                                            data-unfold-target="#searchClassic" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                                            <span class="ec ec-search"></span>
                                        </a>

                                        <!-- Input -->
                                        <div id="searchClassic" class="dropdown-menu dropdown-unfold dropdown-menu-right left-0 mx-2" aria-labelledby="searchClassicInvoker">
                                            <form class="js-focus-state input-group px-3">
                                                <input class="form-control" type="search" placeholder="Search Product">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary px-3" type="button"><i class="font-size-18 ec ec-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- End Input -->
                                    </li>
                                    <!-- End Search -->

                                    <!--
                                    <li class="col d-none d-xl-block"><a href="./compare" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Compare"><i
                                                                                                class="font-size-22 ec ec-compare"></i></a>
                                    </li>
                                    -->
                                    <li class="col d-none d-xl-block">
                                        <a routerLink="/store/{{storeId}}/wishlist" class="text-gray-90" data-toggle="tooltip" data-placement="top" title="Favorites"><i
                                                                                                class="font-size-22 ec ec-favorites"></i></a>
                                    </li>
                                    <!-- <li class="col d-xl-none px-2 px-sm-3"><a href="../shop/my-account.html"
                                            class="text-gray-90" data-toggle="tooltip" data-placement="top"
                                            title="My Account"><i class="font-size-22 ec ec-user"></i></a></li> -->
                                    <li class="col pr-xl-0 px-2 px-sm-3">
                                        <a [routerLink]="['/store/' + storeId + '/cart']" class="text-gray-90 position-relative d-flex " data-toggle="tooltip" data-placement="top" title="Cart">
                                            <i class="font-size-22 ec ec-shopping-bag"></i>
                                            <span class="width-22 height-22 bg-dark position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12 text-white"> {{cartCount}}</span>
                                            <!-- <div class="px-3 mx-3 cursor-pointer" [routerLink]="['/cart']">
                                                                                                        <span [attr.badge]="cartCount">
                                                                                                            {{'Cart' | translate}}
                                                                                                        </span>
                                                                                                    </div> -->

                                            <!-- <span
                                                                                                class="d-none d-xl-block font-weight-bold font-size-16 text-gray-90 ml-3">$1785.00</span> -->
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Icons -->
                    </div>
                </div>
            </div>
            <!-- End Logo-Search-header-icons -->

            <!-- Primary-menu-wide -->
            <div class="d-none d-xl-block bg-primary border-color-2">
                <div class="container">
                    <div class="min-height-45">
                        <!-- Nav -->
                        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--wide u-header__navbar--no-space">
                            <!-- Navigation -->
                            <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                                <ul class="navbar-nav u-header__navbar-nav">
                                    <li class="nav-item hs-has-mega-menu u-header__nav-item">
                                        <a class="nav-link u-header__nav-link " href="/">{{'Home'|translate}}</a>
                                    </li>
                                    <li *ngFor="let category of categories" class="nav-item hs-has-mega-menu u-header__nav-item">
                                        <a class="nav-link u-header__nav-link u-header__nav-link-toggle" href="/store/{{storeId}}/category/{{category._id}}">{{category.category | translateField}}</a>
                                        <div class="hs-mega-menu w-100 u-header__sub-menu"
aria-labelledby="smartphonesMegaMenu">
                                        <app-sub-categories [storeId]="storeId" [category]="category"></app-sub-categories>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                            <!-- End Navigation -->
                        </nav>
                        <!-- End Nav -->
                    </div>
                </div>
            </div>
            <!-- End Primary-menu-wide -->
        </div>
    </header>
</div>