<!-- <div class="d-flex justify-content-between border-bottom">
    <div *ngIf="product.thumbnailUrl" class="w-25">
        <img [src]="product.thumbnailUrl" class="img-thumbnail">
    </div>
    <div class="w-75 py-3">
        <div class="py-3 d-flex justify-content-between border-bottom px-3">
            <div class="title">
                {{product.title | translate}}
            </div>
            <div>
                {{product.price}} {{product.currency}}
            </div>
            <div>
                <input type="number" (ngModelChange)="modelChanged($event)" [(ngModel)]="product.quantity">
            </div>
            <div>
                {{product.price * product.quantity}} {{product.currency}}
            </div>
        </div>
        <div class="py-3 text-right">
            <div class="link" (click)="remove()">
                Remove
            </div>

        </div>
    </div>

</div> -->

<td class="text-center">
    <div class="text-gray-32 font-size-26 link removeBtn" (click)="remove()">×</div>
</td>
<td class="d-none d-md-table-cell">
    <a href="/product/{{product.productId}}"><img class="img-fluid max-width-100 p-1 border border-color-1" [src]="product.thumbnailUrl" alt="Image Description"></a>
</td>

<td data-title="Product">  <!-- 购物车，调整细节 -->
    <a href="/product/{{product.productId}}" class="text-gray-90"><b>{{ product.title | translateField }}</b></a>
    <div *ngIf="product.color"><span class="border-bottom">{{ product.color }}</span></div>
    <div *ngIf="product.size"><span class="border-bottom">{{ product.size }}</span></div>
</td>

<td data-title="Price">
    <span class="">{{product.price}} {{currency}}</span>
</td>

<td data-title="Quantity">
    <span class="sr-only">Quantity</span>
    <!-- Quantity -->
    <div class="border rounded-pill py-1 width-122 w-xl-80 px-3 border-color-1">
        <div class="js-quantity row align-items-center">
            <div class="col">
                <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" [value]="product.quantity">
            </div>
            <div class="col-auto pr-1">
                <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle">  <!-- border-0 -->
                    <small class="fas fa-minus btn-icon__inner" (click)="quantityReduce()">－</small>
                </a>
                <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle">  <!-- border-0 -->
                    <small class="fas fa-plus btn-icon__inner"  (click)="quantityAdd()">＋</small>
                </a>
            </div>
        </div>
    </div>
    <!-- End Quantity -->
</td>

<td data-title="Total">
    <!-- <span class="">{{ product.price * product.quantity }} {{ currency }}</span> -->
    <span class="">{{ product.price * product.quantity | number:'1.2-2' }} {{ currency }}</span>  <!-- 保留两位小数 -->
</td>
