<div class="row AssetSell">
    <div class="col col-6">
        <div class="header"> Privacy </div>
        <div class="desc">You can keep your listing public, or your can specify one address that's allowed to buy it.</div>
    </div>
    <div class="col col-6">
        <div class="SwitchInput--switch-container">
            <label class="Togglereact__LabelContainer-taymdu-0 gwCGQf  ">
                <input class="Toggle--input" role="switch" type="checkbox" aria-label="ending price">
            </label>
        </div>
    </div>
</div>