.AssetSell {
    padding: 12px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;   
}

.AssetSell .header {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.AssetSell .desc {
    margin-top: 5px;
    font-size: 14px;
    line-height: 22px;
    color: rgb(138, 147, 155);
    display: flex;
    flex-wrap: wrap;
}

.SwitchInput--switch-container {
    float: right;
}

.gwCGQf {
    border-radius: 100px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 6px;
    height: 24px;
    width: 48px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
    background-color: rgb(138, 147, 155);
}

.gwCGQf .Toggle--input {
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out 0s;
}

.dqsrtv:focus-within {
    background-color: rgb(24, 104, 183);
}

.dqsrtv {
    border-radius: 100px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 6px;
    height: 24px;
    width: 48px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
    background-color: rgb(32, 129, 226);
}

.dqsrtv .Toggle--input {
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out 0s;
    transform: translateX(22px);
}

.row .col.s12 {
    width: 100%;
}

.row .col.s11, .row .col.s12 {
    margin-left: auto;
    left: auto;
    right: auto;
}

input[type=text]:not(.browser-default) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;    
}

.opensea-input {
    border: 1px solid #b7b7b7!important;
    border-radius: 5px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-indent: 10px!important;
}

.margin-top {
    margin-top: 15px!important;
}