<section class="collectionManagerView--section">
    <header class="collectionManagerView--section-header">
        <i class="material-icons">view_module</i>
        <span>Items</span>
    </header>
    <a rel="noreferrer" href="/nft/admin/collections/{{collection.slug}}/assets/create" style="color: white; display: inline-block;">
        <div class="ActionButtonrContainer">
            <div class="ActionButton--content" (click)="addNewItems()" style="min-width: 120px;">
                Add New Items
            </div>
        </div> 
    </a>
</section>