<div style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'New Shipping Carrier' | translate}}</h1>
      <hr>
      
      <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('default')">
          English
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Simplified Chinese')">
          简体中文
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Traditional Chinese')">
          繁體中文
        </div>
      </div>

      <div *ngIf="currentTab=='default'">
        <label for="email"><b>Name</b></label>
        <input type="text" placeholder="Enter name" [(ngModel)]="name" name="name" required>

        <label for="email"><b>Description</b></label>
        <input type="text" placeholder="Enter description" [(ngModel)]="desc" name="desc" required>


        <label for="email"><b>{{'Flat Rate' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter flat rate' | translate}}" [(ngModel)]="flatRate" name="flatRate" required>

        <label for="email"><b>{{'Sequence' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter sequence' | translate}}" [(ngModel)]="sequence" name="sequence" required>
          
      </div>
      
      <div *ngIf="currentTab=='Chinese'">
        <label for="email"><b>名称</b></label>
        <input type="text" placeholder="输入名称" [(ngModel)]="nameChinese" name="nameChinese">        
        <label for="email"><b>描述</b></label>
        <input type="text" placeholder="输入描述" [(ngModel)]="descChinese" name="descChinese">        
        
      </div>

      <div class="text-right py-2">
        <button class="btn signinbtn" (click)="addShippingCarrier()">{{(id?'Update':'Add') | translate}}</button>
      </div>
    </div>
  </div>