<div class="container" *ngIf="product">
    <div class="row">
        <div class="col col-4 px-1">
            <div class="d-flex flex-nowrap">
                <div>
                    <div *ngFor="let image of product.images">
                        <img [src]="image" (mouseenter) ="mouseEnter(image)" class="img-thumbnail" [ngClass]="image == selectedImage ? 'img-thumbnail-selected' : ''">
                    </div>
                </div>
                <div class="px-1">
                    <img class="selected-img" [src]="selectedImage">
                </div>
            </div>
        </div>

        <div class="col col-5 px-1">
            <div class="product-title">
                {{product.title | translateField}}
            </div>
            <div class="product-price py-2 border-bottom">
                ${{product.price}}
            </div>
            <div>
                <div class="about a-text-bold">
                    About this item
                </div>
                <div>
                    {{product.description | translateField}}
                </div>
            </div>
        </div> 
        
        <div class="col col-3 px-1">
            <div class="p-2  p-border">
                <div class="product-price py-2">
                    ${{product.price}}
                </div>
                <div>
                    <div class="color-success">
                        In stock
                    </div>
    
                    <div class="quantity-container py-2">
                        <div>
                            <select [(ngModel)]="quantity">
                                <option value="0">Quantity:</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>                        
                        </div>
                    </div>
                </div>

                <div>
                    <button class="btn" (click)="addToCart()">
                        Add to cart
                    </button>
                </div>

                <div>
                    <button class="btn" (click)="buyNow()">
                        Buy now
                    </button>
                </div>                
            </div>

        </div>
    </div>
</div>