
<!-- 顾客“订单” -->

<!-- 上下边线，解决 margin 问题 -->
<main class="border-top border-bottom bg-light">  <!-- 背景灰色 -->

  <div class="container my-md-3 font-size-18">
    <ion-button fill="clear" routerLink="/store/{{ storeId }}/order/{{ orderId }}">{{ 'Back' | translate }}&nbsp;&nbsp;></ion-button>
  </div>

    <div class="row justify-content-center">  <!-- 本行，水平置中 -->
        <div class="m-3 p-3 container border rounded bg-white">  <!-- 背景白色，圆角边框，mb-3 改 m-3 -->

            <div class="container font-size-16" *ngIf="order">  <!-- container 水平置中了 -->
                <div class="text-left">
                    {{ 'Number' | translate }}: {{ tableNo }}
                </div>
                <!-- <div>
                    {{ 'ObjectId' | translate }}: 
                    <a target="_blank" href="/iddock/detail/things/{{order.objectId}}">
                        {{order.objectId}}
                    </a>
                </div> -->
                <div class="text-left">
                    {{ 'Order' | translate }}: {{ orderId }}
                </div>
                <div class="text-left">
                    {{ 'Date' | translate }}: {{ order.dateCreated | date }}
                </div>
                <div class="text-center">
                    <h2>{{ "Order" | translate }}</h2>
                </div>

                <div class="cart-table">  <!-- 下边框 mb-10 -->
                    <form class="font-size-18" action="#" method="post">  <!-- "mb-4" -->
                        <table class="table mb-3" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-name">{{'Product' | translate}}</th>
                                    <th class="product-price">{{'Price' | translate}}</th>
                                    <th class="product-quantity w-lg-15">{{'Quantity' | translate}}</th>
                                    <th class="product-subtotal">{{'Total' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="py-2" *ngFor="let item of order.items">
                                    <td class="font-weight-bold">{{ item.title }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>x {{ item.quantity }}</td>
                                    <td>{{ item.price * item.quantity }} {{ currency }}</td>
                                </tr>
                            </tbody>
                            <tfoot class="border-top font-size-20">
                                <tr>
                                    <th colspan="3" class="text-right">{{ 'Subtotal' | translate }}</th>
                                    <th class="font-size-17">
                                        {{subtotal}} {{currency}}
                                    </th>
                                </tr>
                                <!-- <tr>
                                    <th colspan="3" class="text-right">{{ 'Shipping' | translate }}</th>
                                    <th class="font-size-17">
                                        {{ (shippingFee == 0 ? 'Free' : (shippingFee + currency)) | translate }}
                                    </th>
                                </tr> -->
                                <!-- <tr *ngIf="discount">
                                    <th colspan="3" class="text-right">{{ 'Discount' | translate }}</th>
                                    <th class="font-size-17">
                                        {{ discount }}%
                                    </th>
                                </tr> -->
                                <tr>
                                    <th colspan="3" class="text-right">{{ 'Tax' | translate }}</th>
                                    <th class="font-size-17">
                                        {{tax}} {{currency}}
                                    </th>
                                </tr>
                                <tr *ngIf="tips > 0">
                                    <th colspan="3" class="text-right">{{ 'Tips' | translate }}</th>
                                    <th class="font-size-17">
                                        {{tips}} {{currency}}
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-right">{{ 'Total' | translate }}</th>
                                    <th class="font-size-17">
                                        {{total}} {{currency}}
                                    </th>
                                </tr>
                                <tr *ngIf="diffFlag == 2">  <!-- order.paymentStatus != 2 -->
                                    <th colspan="4">
                                        <div class="w-100 d-flex align-items-start Tips-method">
                                            <span class="mx-1 px-7 py-3 text-left">
                                                {{'Tips' | translate}}:
                                            </span>
                                            <div class="mx-1 px-7 py-3 border rounded" [ngClass]="selectedTips=='0' ? 'selected' : ''" (click)="selectTips(0)">
                                                {{'0%' | translate}}
                                            </div>
                                            <div class="mx-1 px-7 py-3 border rounded" [ngClass]="selectedTips=='5' ? 'selected' : ''" (click)="selectTips(5)">
                                                {{'5%' | translate}}
                                            </div>
                                            <div class="mx-1 px-7 py-3 border rounded" [ngClass]="selectedTips=='10' ? 'selected' : ''" (click)="selectTips(10)">
                                                {{'10%' | translate}}
                                            </div>
                                            <div class="mx-1 px-7 py-3 border rounded" [ngClass]="selectedTips=='15' ? 'selected' : ''" (click)="selectTips(15)">
                                                {{'15%' | translate}}
                                            </div>
                                            <div class="mx-1 px-7 py-3 border rounded" [ngClass]="selectedTips=='20' ? 'selected' : ''" (click)="selectTips(20)">
                                                {{'20%' | translate}}
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr *ngIf="diffFlag == 2">  <!-- order.paymentStatus != 2 -->
                                    <td colspan="4" class="text-center">
                                        <div class="d-md-flex">
                                            <button type="button" class="btn btn-danger btn-lg btn-block NewButton" (click)="payBill()">
                                                {{'Pay Bill' | translate}}
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="diffFlag == 3">  <!-- order.paymentStatus == 2 -->
                                    <td colspan="4" class="text-center font-size-20">
                                        We are preparing the bill for you.
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>

                <!-- <div class="font-size-14">
                    {{ 'Merchant Name' | translate }}: {{ order.merchantId.name }}
                </div>
                <div class="font-size-14">
                    {{ 'Merchant Phone' | translate }}: {{ order.merchantId.phone }}
                </div> -->
                <!-- <div>
                    {{ 'Email' | translate }}: {{ order.merchantId.email }}
                </div> -->
                <!-- Login Email: {{ order.merchantId.createMemberId.email }} -->
            </div>
            <!-- 显示“空白订单” -->
            <div class="container font-size-16" *ngIf="!order">  <!-- container 水平置中了 -->
                <div class="text-center">
                    <h2>{{ "Order" | translate }}</h2>
                </div>
                <div class="cart-table">  <!-- 下边框 mb-10 -->
                    <form class="font-size-18" action="#" method="post">  <!-- "mb-4" -->
                        <table class="table mb-3" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-name">{{'Product' | translate}}</th>
                                    <th class="product-price">{{'Price' | translate}}</th>
                                    <th class="product-quantity w-lg-15">{{'Quantity' | translate}}</th>
                                    <th class="product-subtotal">{{'Total' | translate}}</th>
                                </tr>
                            </thead>
                        </table>
                    </form>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="text-center">
                <qrcode [qrdata]="QrUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
            <div class="text-center">
                {{ QrUrl }}
            </div>
        </div>
    </div>

</main>



<!-- <div class="m-3 list-group" *ngIf="order">
    <div class="list-group-item list-group-item-action active">
        Order ID:{{id}}
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Merchant information
        </div>
        <div class="list-group-item list-group-item-action">
            Name: {{order.merchantId.name}}
        </div>
        <div class="list-group-item list-group-item-action">
            Phone: {{order.merchantId.phone}}
        </div>  
        <div class="list-group-item list-group-item-action">
            Email: {{order.merchantId.email}}
        </div>    
        <div class="list-group-item list-group-item-action">
            Login Email: {{order.merchantId.createMemberId.email}}
        </div>         
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Items information
        </div>
        <div class="list-group-item list-group-item-action">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of order.items">
                    <th scope="row">
                        <img class="img-thumbnail" [src]="item.thumbnailUrl">
                    </th>
                    <td>{{item.title}}</td>
                    <td>{{item.price}} {{item.currency}}</td>
                    <td>{{item.quantity}}</td>
                  </tr>
                </tbody>
              </table>
        </div>        
    </div>       
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Payment information
        </div>
        <div class="list-group-item list-group-item-action">
            Payment Method: {{order.paymentMethod}}
        </div>
        <div class="list-group-item list-group-item-action">
            payment Status: {{order.paymentStatus}}
        </div>  
        <div class="list-group-item list-group-item-action">
            Charge ID: {{order.charge_id}}
        </div>          
    </div>   
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Shipping information
        </div>
        <div class="list-group-item list-group-item-action">
            Shipping Service: {{order.shippingServiceSelected}}
        </div>
        <div class="list-group-item list-group-item-action">
            Receiver name: {{order.name}}
        </div>  
        <div class="list-group-item list-group-item-action">
            Address: {{order.unit}} {{order.streetNumber}} {{order.streetName}} {{order.district}}
            {{order.city}} {{order.zip}}, {{order.province}} {{order.country}}
        </div>         
    </div>     
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Iddock information
        </div>
        <div class="list-group-item list-group-item-action">
            Object ID: 
            <a target="_blank" href="/iddock/detail/things/{{order.objectId}}">
                {{order.objectId}}
            </a>
        </div>        
    </div>  
</div> -->
