<form style="border:1px solid #ccc">
    <div class="container">
      <h1>My profile</h1>
      <hr>
      


      <div>

        <label for="email"><b>Phone Number</b></label>
        <input type="text" placeholder="Enter phone number" [(ngModel)]="phone" name="phone">
  
        <label for="email"><b>Address</b></label>
        <input type="text" placeholder="Enter address" [(ngModel)]="address" name="address">

        <label for="email"><b>Facebook</b></label>
        <input type="text" placeholder="Enter facebook link" [(ngModel)]="facebook" name="facebook">
 
        <label for="email"><b>Google</b></label>
        <input type="text" placeholder="Enter google link" [(ngModel)]="google" name="google">
                      
        <label for="email"><b>Twitter</b></label>
        <input type="text" placeholder="Enter twitter link" [(ngModel)]="twitter" name="twitter">

        <label for="email"><b>Github</b></label>
        <input type="text" placeholder="Enter github link" [(ngModel)]="github" name="github">        


      </div>

      <div class="text-right py-2">
        <button type="submit" class="btn signinbtn" (click)="update()">Update</button>
      </div>
    </div>
</form>