.OrderSummary {
    padding: 15px;
    background: rgb(251, 253, 255);
    border: 1px solid rgb(229, 232, 235);
    border-radius: 5px;    
}

.OrderSummary h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    line-height: 1.4em;
}

i.left {
    float: left;
    margin-right: 15px;
}