
<h1>{{'Ships' | translate}}</h1>

<div class="container">
  
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-2">{{'Order Id' | translate}}</div>
        <div class="col col-2">{{'Tracking number' | translate}}</div>
        <div class="col col-2">{{'Total' | translate}}</div>
        <div class="col col-2">{{'Payment Method' | translate}}</div>
        <div class="col col-2">{{'Status' | translate}}</div>
        <div class="col col-2"></div>
      </li>

      <li class="table-row" *ngFor="let ship of ships">
        <div class="col col-2" [attr.data-label]="'Order Id' | translate">{{ship.orderId}}</div>
        <div class="col col-2" [attr.data-label]="'Tracking number' | translate">{{ship.trackingNumber}}</div>
        <div class="col col-2">
          <button class="btn" (click)="openModal(ship, template)">Details</button>
        </div>
      </li>      
    </ul>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Shipping details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="container">
    
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-4">{{'Date created' | translate}}</div>
            <div class="col col-2">{{'Status' | translate}}</div>
            <div class="col col-6">{{'Text' | translate}}</div>
          </li>
    
          <li class="table-row" *ngFor="let detail of ship.details">
            <div class="col col-4" [attr.data-label]="'Date created' | translate">{{detail.dateCreated}}</div>
            <div class="col col-2" [attr.data-label]="'Status' | translate">{{detail.status}}</div>
            <div class="col col-6">
              [{{detail.city}}]{{detail.text}}
            </div>
          </li>      
        </ul>
      </div>   
      <div *ngIf="canAddDetails">
        <div class="row">
          <div class="col col-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Date created</label>
              <input type="text" class="form-control" [(ngModel)]="dateCreated" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date created">
           </div>
          </div>
          <div class="col col-3">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Status</label>
              <select class="form-control" [(ngModel)]="status" id="exampleFormControlSelect1">
                <option>Recieved</option>
                <option>Sent</option>
                <option>Dilivered</option>
                <option>Finished</option>
              </select>
           </div>
          </div>
          <div class="col col-3">
            <div class="form-group">
              <label for="exampleInputEmail1">City</label>
              <input type="text" [(ngModel)]="city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city">
             </div>   
          </div>
        </div>
       
       <div class="form-group">
        <label for="exampleInputEmail1">Text</label>
        <input type="text" [(ngModel)]="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter text">
       </div>          
       <button type="submit" (click)="addDetail()" class="btn btn-primary">Add</button>
      </div>
  </div>
</ng-template>

