<div class="nav-bar">
    <nav class="nav-bar-main">
        <div class="nav-bar-left">
            <img src="/assets/images/logo/ecombar-logo.png">
            <span class="logo-text">
                ecombar
            </span>
        </div>
        <div class="search-container">
            <div class="search-input">
                <i class="material-icons" value="search" size=24>search</i>
                <input type="text" class="search-input--input">
            </div>
        </div>
        <ul class="Navbar--items">
            <li class="NavItem--isRoot">
                <a class="NavItem--main" href="/">
                    Browse
                </a>
            </li>
            <li class="NavItem--isRoot">
                <a class="NavItem--main" href="/">
                    Activity
                </a>
            </li>     
            <li class="NavItem--isRoot">
                <a class="NavItem--main" href="/">
                    Rankings
                </a>
            </li>   
            <li class="NavItem--isRoot">
                <a class="NavItem--main" href="/">
                    Create
                </a>
            </li>  
            
            <li class="NavItem--isRoot">
                <a class="NavItem--main" href="/">
                    <div class="img-container" style="height: 32px; width: 32px;">
                        <img class="Image--image" src="https://storage.googleapis.com/opensea-static/opensea-profile/12.png" style="object-fit: cover;">
                    </div>
                </a>
                <ul class="NavDropdown--items">
                    <li>
                        ddd
                    </li>
                </ul>
            </li>               
        </ul>
    </nav>
    
</div>
