.asset-sell-subheader {
    margin-bottom: 5px;
}

.asset-sell-subheader {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.asset-sell-review-copy {
    color: rgb(52, 199, 123);
    margin: 0px;
    font-size: 14px;
}

.OrderSummary--submit {
    margin-top: 8px;
}

.ActionButton--iconOnly {
    padding: 12px;
}

.bwFKIF {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    user-select: none;
}

.ActionButton--content {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}