<div class="asset-sell-subheader">Listing</div>
<div class="asset-sell-review-copy"><span>Your item will be listed for<span class="margin-left-small"><span title="Ether (ETH)">Ξ</span></span><b>12</b></span>.</div>
<div data-testid="PostListing">
    <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light ActionButton--iconOnly OrderSummary--submit" data-testid="ActionButton" role="button" tabindex="0">
        <div class="ActionButton--content" (click)="postListing()">
            Post Your Listing<i value="keyboard_arrow_right" size="24" class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV material-icons">keyboard_arrow_right</i>
        </div>
    </div>
</div>