<div class="row AssetSell">
    <div class="col col-6">
        <div class="header"> Price </div>
        <div class="desc">Will be on sale until you transfer this item or cancel it. </div>
    </div>
    <div class="col col-6">
        <div class="Input--main">
            <div class="Input--label Input--left-label">
                <div class="PaymentTokenInput--selector" aria-expanded="false" (click)="showPopup = !showPopup">
                    <div class="PaymentTokenInput--selected-token">
                        <span class=""><span><small>{{selectedCoin}}</small></span></span>
                        <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV PaymentTokenInput--selector-icon material-icons" title="Open Dropdown" value="expand_more" size="24">expand_more</i>
                    </div>
                </div>

                <div *ngIf="showPopup" style="z-index: 9999; position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(4px, 51px, 0px);">
                    <div class="Popper">
                        <ul>
                            <li *ngFor="let coin of acceptableCoins" (click)="select(coin)">{{coin}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Input--prefix"></div>
            <input autocapitalize="off" autocomplete="off" autocorrect="off" class="browser-default Input--input " data-testid="Input" inputmode="decimal" placeholder="Amount" spellcheck="false" type="number" [(ngModel)]="quantity">
        </div>
    </div>
</div>

<!--
<div class="row AssetSell">
    <div class="asset-sell-input-section clearfix">
        <div class="asset-sell-input-copy col s12 m6 l8">
       </div>
        <div class="PaymentTokenInputreact__DivContainer-t856l0-0 kstceQ   ">
            <div class="Inputreact__DivContainer-sc-17icy78-0 cSjrfg  ">
                <div class="Input--main ">
                    <div class="Input--label Input--left-label">
                        <div class="PaymentTokenInput--selector" aria-expanded="false">
                            <div class="PaymentTokenInput--selected-token">
                                <span class=""><span title="Ether (ETH)">Ξ</span></span>
                                <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV PaymentTokenInput--selector-icon material-icons" title="Open Dropdown" value="expand_more" size="24">expand_more</i>
                            </div>
                        </div>
                    </div>
                    <div class="Input--prefix"></div>
                    <input autocapitalize="off" autocomplete="off" autocorrect="off" class="browser-default Input--input " data-testid="Input" inputmode="decimal" placeholder="Amount" spellcheck="false" type="text" value="12">
                </div>
            </div>
        </div>
    </div>
</div>
-->