<div class="container">
  
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-4">{{'Email' | translate}}</div>
      <div class="col col-4">{{'Role' | translate}}</div>
      <div class="col col-3"></div>
    </li>
    <li class="table-row" *ngFor="let user of users">
      <div class="col col-4" [attr.data-label]="'Email'">{{user.email}}</div>
      <div class="col col-4" [attr.data-label]="'Ref Code'">{{(user.defaultMerchant ? 'Merchant' : 'Customer') | translate}}</div>
      <div class="col col-3 text-right" [attr.data-label]="'Operations'">
      </div>
    </li>
  </ul>
</div>