<div *ngIf="!offers || offers.length == 0" class="text-center">
    No offers
</div>

<div *ngIf="offers && offers.length > 0">
    <div class="Orders--container ">
        <div class="Scrollbox--content">
            <div class="Row--isHeader  " role="row">
                <div class="Row--cell ">From</div>
                <div class="Row--cell ">Price</div>
                <div class="Row--cell ">Expiration</div>
                <div class="Row--cell "></div>
            </div>
            <div class="Row-notHeader" role="row" *ngFor="let offer of offers">
                <div class="Row--cell ">
                    {{addressDisplay(offer.maker)}}
                </div>
                <div class="Row--cell ">
                    {{offer.basePrice}} {{displayCoinName(offer.coinType)}}
                </div>
                <div class="Row--cell "></div>
                <div class="Row--cell ">
                    <div class="BaseModalreact__DivContainer-sc-1b6y25y-0 kxKpvP">
                        <div class=" Orders--button" *ngIf="!isOwner">
                            Buy<i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX Orders--order-fill-icon material-icons" value="keyboard_arrow_right" size="24">keyboard_arrow_right</i>
                        </div>

                        <div class=" Orders--button" *ngIf="isOwner">
                            Cancel<i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX Orders--order-fill-icon material-icons" value="keyboard_arrow_right" size="24">keyboard_arrow_right</i>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 FlexVerticalreact__FlexVertical-x35rw8-0 VerticalAlignedreact__VerticalAligned-sc-1v4gkkl-0 CenterAlignedreact__CenterAligned-sc-1ek5672-0 hxevxe gWUZeS qhVAl exleMn jKDYFy"></div>
        </div>
    </div>   
</div>

<div class="ActionButtonreact__DivButton-sc-7jpoey-0 gZqYMT ActionButton--secondary ActionButton--light " 
*ngIf="!isOwner" (click)="makeOffer()" type="secondary">
    <div class="ActionButton--content " style="min-width: 120px;">Make Offer</div>
</div>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>