.Orders--container {
    max-height: 332px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;    
}

.Scrollbox--content {
    border-color: rgba(0, 0, 0, 0);
    overflow-y: auto;
    transition: border-color 0.2s ease-in 0s;
}

.Row--isHeader {
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
}

.Row--isHeader .Row--cell {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 14);
    padding-bottom: 4px;
    padding-top: 4px;
}

.Row--cell:first-child {
    padding-left: 16px;
}

.Row--cell {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(229, 232, 235);
    display: flex;
    flex: 1 0 100px;
    overflow-x: auto;
    padding: 16px 4px;
}

.Row-notHeader {
    display: flex;
}

.Row-notHeader .Row--cell:first-child {
    padding-left: 16px;
}

.Row-notHeader .Row--cell {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(229, 232, 235);
    display: flex;
    flex: 1 0 100px;
    overflow-x: auto;
    padding: 16px 4px;
}

.kxKpvP {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 100%;
}

.Orders--container .Orders--button {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(50, 145, 233);
    color: rgb(50, 145, 233);
    cursor: pointer;
    display: flex;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 10px;
    height: 25px;
    padding: 2px 0px 0px 8px;
    width: 76px;
}

.cdETdX {
    font-size: 24px;
}

.ActionButton--secondary {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(32, 129, 226);
}

.gZqYMT {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    user-select: none;
}