<div class="product-item__outer w-100">
    <div class="product-item__inner remove-prodcut-hover py-4 row">
        <div class="product-item__header col-6 col-md-4">
            <div class="mb-2">
                <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img9.jpg" alt="Image Description"></a>
            </div>
        </div>
        <div class="product-item__body col-6 col-md-5">
            <div class="pr-lg-10">
                <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                <h5 class="mb-2 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                <div class="prodcut-price mb-2 d-md-none">
                    <div class="text-gray-100">$685,00</div>
                </div>
                <div class="mb-3 d-none d-md-block">
                    <a class="d-inline-flex align-items-center small font-size-14" href="#">
                        <div class="text-warning mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                        <span class="text-secondary">(40)</span>
                    </a>
                </div>
                <ul class="font-size-12 p-0 text-gray-110 mb-4 d-none d-md-block">
                    <li class="line-clamp-1 mb-1 list-bullet">Brand new and high quality</li>
                    <li class="line-clamp-1 mb-1 list-bullet">Made of supreme quality, durable EVA crush resistant, anti-shock material.</li>
                    <li class="line-clamp-1 mb-1 list-bullet">20 MP Electro and 28 megapixel CMOS rear camera</li>
                </ul>
            </div>
        </div>
        <div class="product-item__footer col-md-3 d-md-block">
            <div class="mb-3">
                <div class="prodcut-price mb-2">
                    <div class="text-gray-100">$685,00</div>
                </div>
                <div class="prodcut-add-cart">
                    <a href="../shop/single-product-fullwidth.html" class="btn btn-sm btn-block btn-primary-dark btn-wide transition-3d-hover">Add to cart</a>
                </div>
            </div>
            <div class="flex-horizontal-center justify-content-between justify-content-wd-center flex-wrap">
                <a href="../shop/compare.html" class="text-gray-6 font-size-13 mx-wd-3"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                <a href="../shop/wishlist.html" class="text-gray-6 font-size-13 mx-wd-3"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
            </div>
        </div>
    </div>
</div>