.BasePanel--header {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 12px;
    user-select: none;
    border-top: 1px solid rgb(229, 232, 235);
    border-right: 1px solid rgb(229, 232, 235);
    border-left: 1px solid rgb(229, 232, 235);
    border-image: initial;
    background-color: rgb(255, 255, 255);
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    color: rgb(14, 14, 14);
}

.BasePanel--header.no-border-top {
    border-top: none!important;
}
.Panel--icon {
    margin-right: 10px;
}

.Panel-body {
    
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid rgb(229, 232, 235);
    border-right: 1px solid rgb(229, 232, 235);
    border-left: 1px solid rgb(229, 232, 235);
    border-image: initial;
    border-bottom: none;
    color: rgb(53, 56, 64);
    background-color: rgb(251, 253, 255);    
}

.Panel--isContentPadded {
    padding: 20px;
}

.Panel--toggle {
    margin-left: auto;
    color: rgba(14, 14, 14, 0.5);
}