<div class="AssetForm--levels">
    <a role="link" *ngFor="let level of levels">
        <div class="NumericTraitCellreact__DivContainer-sc-1vpqa3a-0 kwFxNp item--numeric-trait">
            <div class="NumericTrait--label">
                <div class="NumericTrait--type">{{level.name}}</div>
                <div class="NumericTrait--value">{{level.value}} of {{level.max}}</div>
            </div>
            <div class="NumericTrait--bar" *ngIf="level.max && (level.max > 0)">
                <div class="NumericTrait--bar-fill" [ngStyle]="{'width': + (level.value / level.max * 100) + '%'}"></div>
            </div>
        </div>
    </a>
</div>