<app-nft-header></app-nft-header>

<div class="main-container">
    <div class="py-2">
        <app-textbox [(ngModel)]="username" [title]="'Username'" ></app-textbox>
    </div>
    <div class="py-2">
        <app-textarea class="py-2" [title]="'Bio'" [(ngModel)]="bio" [subtitle]="'Tell the world your story'"></app-textarea>
    </div>
    <div class="py-2">
        <app-textbox class="py-2" [(ngModel)]="email" [title]="'Email'" ></app-textbox>
    </div>
    <div class="py-2">
        <div class="CreateCollection--actions">
            <div class="ActionButtonrContainer">
                <div class="ActionButton--content" (click)="save()" style="min-width: 120px;">Save</div>
            </div> 
        </div>  
    </div>
  
</div>



