.flwOwm {
    border-radius: 5px;
    border: 1px solid rgb(229, 232, 235);
    color: rgb(14, 14, 14);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.TabbedPanel--panel {
    background-color: transparent;
}

.TabbedPanel--header {
    flex: 1 0 0%;
    font-weight: 500;
    margin: 0px 4px;
    color: rgb(138, 147, 155);
    transition: color 0.2s ease 0s;
}

.BasePanel--header {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 12px;
    user-select: none;
    background-color: rgb(255, 255, 255);
}


.TabbedPanel--headers {
    display: flex;
}

.TabbedPanel--header.TabbedPanel--header--isActive {
    color: rgb(14, 14, 14);
    font-weight: 600;
}

.BasePanel--body {
    border-top: 1px solid rgb(229, 232, 235);
    color: rgb(53, 56, 64);
    background-color: rgb(251, 253, 255);
}

.Orders--container {
    max-height: 332px;
    overflow-x: auto;
}

.OfferSearch--offers-scrollbox {
    max-height: 800px;
}



.TabbedPanel--header:first-child {
    margin: 0px 4px 0px 0px;
}

.fAClQF {
    display: flex;
    flex-direction: column;
}

.fAClQF .Scrollbox--content {
    border-color: rgba(0, 0, 0, 0);
    overflow-y: auto;
    transition: border-color 0.2s ease-in 0s;
}

.bISFhL.Row--isHeader {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.bISFhL {
    display: flex;
}

.bISFhL.Row--isHeader .Row--cell {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 14);
    padding-bottom: 4px;
    padding-top: 4px;
}

.bISFhL .Row--cell:first-child {
    padding-left: 16px;
}

.bwfvaa .Orders--item-col {
    flex-basis: 80px;
}

@media (min-width: 600px) {
    .bwfvaa .Orders--item-col {
        flex-basis: 300px;
    }
}

.bISFhL .Row--cell {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(229, 232, 235);
    display: flex;
    flex: 1 0 100px;
    overflow-x: auto;
    padding: 16px 4px;
}

.bISFhL .Row--cell {
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(229, 232, 235);
    display: flex;
    flex: 1 0 100px;
    overflow-x: auto;
    padding: 16px 4px;
}

.bdDOKm .AssetCell--container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.bwfvaa .Orders--container .Orders--button {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(50, 145, 233);
    color: rgb(50, 145, 233);
    cursor: pointer;
    display: flex;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 10px;
    height: 25px;
    padding: 2px 0px 0px 8px;
    width: 76px;
}

.cdETdX {
    font-size: 24px;
}

.hJExCK {
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

a {
    color: #039be5;
    -webkit-tap-highlight-color: transparent;
}

.hJExCK .AccountLink--image {
    cursor: pointer;
    margin-right: 5px;
}

.iRZQbz {
    position: relative;
}

.bEpYNa {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.bEpYNa .Image--image {
    height: 100%;
    object-fit: contain;
    transition: opacity 400ms ease 0s;
    width: 100%;
}