.TextAreareact__Text {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(226, 230, 239);
    height: auto;
    padding: 16px 12px;
    resize: vertical;
    width: 100%;
    height: auto;
    background-color: transparent;
    overflow: auto;        
}

header {
    color: rgb(170, 170, 170);
}