


<main id="content" role="main" class="cart-page">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="../home/index.html">{{'Home'|translate}}</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">{{'Cart'|translate}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="mb-4 d-flex justify-content-center">
            <h1 class="text-center mr-3">{{'Cart'|translate}}</h1>
            <button class="btn btn-link" (click)="clear()">
                Clear
            </button>   
        </div>

        <div class="mb-10 cart-table">
            <form class="mb-4" action="#" method="post">
                <table class="table" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="product-remove">&nbsp;</th>
                            <th class="product-thumbnail">&nbsp;</th>
                            <th class="product-name">{{'Product' | translate}}</th>
                            <th class="product-price">{{'Price' | translate}}</th>
                            <th class="product-quantity w-lg-15">{{'Quantity' | translate}}</th>
                            <th class="product-subtotal">{{'Total' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let item of cartItems;let i = index;" app-cart-product (productUpdated)="updateProduct($event)" [currency]="currency" [product]="item">

                        </tr>
                        <tr>
                            <td colspan="6" class="border-top space-top-2 justify-content-center">
                                <div class="pt-md-3">
                                    <div class="d-block d-md-flex flex-center-between">
                                        <div class="mb-3 mb-md-0 w-xl-40">
                                            <!-- Apply coupon Form -->
                                            <form class="js-focus-state">
                                                <label class="sr-only" for="subscribeSrEmailExample1">{{'Coupon code' | translate}}</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="text" id="subscribeSrEmailExample1" placeholder="{{'Coupon code' | translate}}" aria-label="Coupon code" aria-describedby="subscribeButtonExample2" required>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-block btn-dark px-4" type="button" id="subscribeButtonExample2"><i class="fas fa-tags d-md-none"></i><span class="d-none d-md-inline">{{'Apply coupon' | translate}}</span></button>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- End Apply coupon Form -->
                                        </div>
                                        <div class="d-md-flex">
                                            <!-- <button type="button" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">Update cart</button> -->
                                            <a (click)="checkout()" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block">{{'Proceed to checkout' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="mb-8 cart-total">
            <div class="row">
                <div class="col-xl-5 col-lg-6 offset-lg-6 offset-xl-7 col-md-8 offset-md-4">
                    <div class="border-bottom border-color-1 mb-3">
                        <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Cart totals</h3>
                    </div>
                    <table class="table mb-3 mb-md-0">
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td data-title="Subtotal"><span class="amount">{{total}}{{currency}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <a>
                        <button type="button" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-md-none" (click)="checkout()">Proceed to checkout</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
