<main id="content" role="main" class="cart-page">
  <!-- breadcrumb -->
  <div class="bg-gray-13 bg-md-transparent">
      <div class="container">
          <!-- breadcrumb -->
          <div class="my-md-3">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                      <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Home</a></li>
                      <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Wishlist</li>
                  </ol>
              </nav>
          </div>
          <!-- End breadcrumb -->
      </div>
  </div>
  <!-- End breadcrumb -->

  <div class="container">
      <div class="my-6">
          <h1 class="text-center">My wishlist on Ecombar</h1>
      </div>
      <div class="mb-16 wishlist-table">
          <form class="mb-4" action="#" method="post">
              <div class="table-responsive">
                  <table class="table" cellspacing="0">
                      <thead>
                          <tr>
                              <th class="product-remove">&nbsp;</th>
                              <th class="product-thumbnail">&nbsp;</th>
                              <th class="product-name">Product</th>
                              <th class="product-price">Unit Price</th>
                              <th class="product-Stock w-lg-15">Stock Status</th>
                              <th class="product-subtotal min-width-200-md-lg">&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let favorite of favorites">
                              <td class="text-center">
                                  <a (click)="unfavorite(favorite._id)" class="text-gray-32 font-size-26">×</a>
                              </td>
                              <td class="d-none d-md-table-cell">
                                  <a href="/store/{{storeId}}/product/{{favorite.parentId._id}}"><img class="img-fluid max-width-100 p-1 border border-color-1" src="{{favorite.parentId.images[0]}}" alt="Image Description"></a>
                              </td>

                              <td data-title="Product">
                                  <a href="/store/{{storeId}}/product/{{favorite.parentId._id}}" class="text-gray-90">{{favorite.parentId.title | translateField}}</a>
                              </td>

                              <td data-title="Unit Price">
                                  <span class="">${{favorite.parentId.price}}</span>
                              </td>

                              <td data-title="Stock Status">
                                  <!-- Stock Status -->
                                  <span>In stock</span>
                                  <!-- End Stock Status -->
                              </td>

                              <td>
                                  <button type="button" (click)="addToCart(favorite.parentId)" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">Add to Cart</button>
                              </td>
                          </tr>
                          <!--
                          <tr class="">
                              <td class="text-center">
                                  <a href="#" class="text-gray-32 font-size-26">×</a>
                              </td>
                              <td class="d-none d-md-table-cell">
                                  <a href="#"><img class="img-fluid max-width-100 p-1 border border-color-1" src="../../assets/img/300X300/img7.png" alt="Image Description"></a>
                              </td>

                              <td data-title="Product">
                                  <a href="#" class="text-gray-90">Widescreen NX Mini F1 SMART NX</a>
                              </td>

                              <td data-title="Unit Price">
                                  <span class="">$685.00</span>
                              </td>

                              <td data-title="Stock Status">
                                  <span>In stock</span>
                              </td>

                              <td>
                                  <button type="button" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">Add to Cart</button>
                              </td>
                          </tr>
                        -->
                      </tbody>
                  </table>
              </div>
          </form>
      </div>
  </div>
</main>