
<h1>{{'Products' | translate}}</h1>

<div class="px-3" *ngIf="store">
  <div class="text-right my-2" *ngIf="store.status == 2">
    <button type="button" class="btn btn-danger btn-lg newButton-S rounded" (click)="addNew()">
      {{ 'New' | translate }}
    </button>  <!-- 圆角边框 -->
  </div>

  <dl class="work-list row">
    <dt class="col-4">{{'Title' | translate}}</dt>
    <dt class="col-3">{{'Price' | translate}}</dt>
    <dt class="col-3">{{'Rebate rate' | translate}}</dt>
    <dt class="col"></dt>
  </dl>

  <dl class="work-list row" *ngFor="let product of products">
    <dd class="col-4">
      <a target="_blank" href="/store/{{storeId}}/product/{{product._id}}">
        {{ product.title | translateField }}
      </a>
    </dd>
    <dd class="col-3">{{ product.price }}</dd>
    <dd class="col-3">{{ product.rebateRate }}</dd>
    <dd class="col">
      <div class="d-inline-block px-2">
        <a (click)="editProduct(product)">
          <img src="/assets/svg/edit.svg">
        </a>
      </div>
      <div class="d-inline-block px-2">
        <a (click)="deleteProduct(product)">
          <img src="/assets/svg/delete.svg">
        </a>
      </div>
    </dd>
  </dl>
</div>
