.navigate-bar {
    background-color: #eff3f8;
    color: #8b93a7;
    font-weight: 700;
    font-size: 16px;
}

select {
    color: black!important;
}

/* ---------- 新增种类 ---------- */

.nav-tabs li a {
  color:#a5a5a5;  // 未选颜色
}
.nav-tabs li a:hover {
  color: #7f7f7f;    // 深一点点
  border-color:#eee #eee transparent #eee
}
.nav-tabs li a.active {
  color:#333;  // 选中颜色
}
.nav-tabs li a.active :hover {
  color:#333;  // 颜色不变  // 放 a:hover 后
}

.nav-tabs { 
  margin-bottom:25px;  // 下面间隙
}

// 填写发布信息
.w-form {
  font-size: 16px; 
  color: #3b3b3b; 
  line-height: 34px; 
  padding-top: 20px;
  margin: 20px 0;
  // border: solid 1px #eee;  // 灰色边框
}
.w-form dl {
  width: 100%;  // 占据整行
}
.w-form dt {
    float: left; 
    width: 150px;  // 120px
    padding: 6px 0 8px; 
    text-align: right;
}
.w-form dt span {color: #f00;}
.w-form dd {
  margin-left: 160px;  // 125px
  padding: 5px 20px 5px 10px;
}

// 单行文本
.w-form .inp {
    // float: left;
    height: 36px;
    background-color: #ffffff; 
    border: 1px solid #d8d8d8; 
    border-radius: 5px; 
    margin: 0px;
}

.mybtn {  // 自定义按钮
  background-color: #f60; 
  color: white;
  border: 0;
  border-radius: 0%;
// border-radius: 15%;  // 圆角
}
.mybtn:hover {
  cursor: pointer;  // 手形光标
}

.mybtn-fix {  // 将标准按钮统一风格
  background-color: #f60; 
  color: white;
  border: 0;
  border-radius: 15%;  // 圆角
}

legend {
text-align: left;
border-bottom: 1px solid #eee;
margin-bottom: 15px;
}
