<form style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'New Category' | translate}}</h1>
      <hr>
      
      <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('default')">
          English
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Chinese')">
          中文
        </div>
      </div>

      <div *ngIf="currentTab=='default'">
        <label for="email"><b>Name</b></label>
        <input type="text" placeholder="Enter category name" [(ngModel)]="category" name="category" required>
  
        <label for="email"><b>{{'Sequence' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter sequence' | translate}}" [(ngModel)]="sequence" name="sequence" required>
  
        <!--
        <div class="custom-select" style="width:200px;" *ngIf="categories">
          <select [(ngModel)]="parentId" name="parentId">
            <option value="0">{{'Select Category' | translate}}:</option>
            <option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.category | translateField}}</option>
          </select>
        </div> 
        -->


        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-animated">
            {{selectedCategory ? (selectedCategory.category | translateField) : ('Select Category' | translate)}} <span class="caret"></span>
          </button>
          <div  *ngIf="categories && categories.length > 0">
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-animated">
          <li role="menuitem" *ngFor="let cat of categories | excludeCategories : id">
            <a class="dropdown-item" (click)="changeSelectedCategory(cat)">{{cat.category | translateField}}</a>
          </li>
        </ul>
          </div>

        </div>






        <div>
          <label for="image"><b>{{'Image' | translate}}</b></label>
          <app-admin-upload-media [(images)]="images" [singleFile]="true"></app-admin-upload-media>
        </div>

      </div>
      
      <div *ngIf="currentTab=='Chinese'">
        <label for="email"><b>名称</b></label>
        <input type="text" placeholder="输入名称" [(ngModel)]="categoryChinese" name="categoryChinese">        
      </div>

      <div class="text-right py-2">
        <button type="submit" class="btn signinbtn" (click)="addCategory()">{{(id?'Update':'Add') | translate}}</button>
      </div>
    </div>
</form>