

<div class="myNavTabs" style="padding: 0 20px;">    <!-- class="container" -->
  <h1 class="text-dark">{{ (id ? 'Update Category' : 'New Category') | translate }}</h1>

  <div class="text-right my-2">
    <button type="button" class="btn btn-danger px-4 rounded" (click)="addCategory()">
      {{ (id ? 'Update' : 'Add') | translate }}
    </button>  <!-- 圆角边框 -->
  </div>

  <ul class="nav nav-tabs nav-justified">  <!-- 等宽 -->
    <li *ngIf="NavTab == 'General'" class="nav-item">
      <a class="nav-link active" href="javascript:;">General</a>
    </li> 
    <li *ngIf="NavTab != 'General'" class="nav-item" (click)="changeNavTab('General')">
      <a class="nav-link" href="javascript:;">General</a>
    </li> 

    <li *ngIf="NavTab == 'Data'" class="nav-item">
      <a class="nav-link active" href="javascript:;">Data</a>
    </li> 
    <li *ngIf="NavTab != 'Data'" class="nav-item" (click)="changeNavTab('Data')">
      <a class="nav-link" href="javascript:;">Data</a>
    </li> 

    <li class="nav-item"></li>  <!-- 右边留空 -->
    <li class="nav-item"></li>
    <li class="nav-item"></li>
  </ul>

  <!-- General -->
  <div *ngIf="NavTab == 'General'">

    <ul class="nav nav-tabs nav-justified">  <!-- 等宽 -->
      <li *ngIf="currentTab == 'default English'" class="nav-item">
        <a class="nav-link active" href="javascript:;">English</a>
      </li> 
      <li *ngIf="currentTab != 'default English'" class="nav-item" (click)="changeTab('default English')">
        <a class="nav-link" href="javascript:;">English</a>
      </li> 
      <li *ngIf="currentTab == 'Simplified Chinese'" class="nav-item">
        <a class="nav-link active" href="javascript:;">简体中文</a>
      </li> 
      <li *ngIf="currentTab != 'Simplified Chinese'" class="nav-item" (click)="changeTab('Simplified Chinese')">
        <a class="nav-link" href="javascript:;">简体中文</a>
      </li> 
      <li *ngIf="currentTab == 'Traditional Chinese'" class="nav-item">
        <a class="nav-link active" href="javascript:;">繁體中文</a>
      </li> 
      <li *ngIf="currentTab != 'Traditional Chinese'" class="nav-item" (click)="changeTab('Traditional Chinese')">
        <a class="nav-link" href="javascript:;">繁體中文</a>
      </li> 
      <li class="nav-item"></li>  <!-- 右边留空 -->
      <li class="nav-item"></li>
    </ul>

    <div class="work-form row">

      <!-- 缺省英文 -->
      <div class="w-100" *ngIf="currentTab == 'default English'">  <!-- 100% 宽度 -->

        <dl>
          <dt>Name</dt>
          <dd class="text-left">
            <input type="text" class="inp w-75" placeholder="Enter category name" [(ngModel)]="name" name="name" required>
          </dd>
        </dl>
        
      </div>

      <!-- 简体中文 -->
      <div class="w-100" *ngIf="currentTab == 'Simplified Chinese'">

        <dl>
          <dt>名称</dt>
          <dd class="text-left">
            <input type="text" class="inp w-75" placeholder="输入类别名称" [(ngModel)]="nameChinese" name="nameChinese" required>
          </dd>
        </dl>

      </div>

      <!-- 繁體中文 -->
      <div class="w-100" *ngIf="currentTab == 'Traditional Chinese'">

        <dl>
          <dt>名稱</dt>
          <dd class="text-left">
            <input type="text" class="inp w-75" placeholder="輸入類別名稱" [(ngModel)]="nameTradition" name="nameTradition" required>
          </dd>
        </dl>

      </div>

    </div>
  </div>

  <!-- Data -->
  <div *ngIf="NavTab == 'Data'">
    <div class="work-form row">

      <dl *ngIf="id">
        <dt>Id</dt>
        <dd class="text-left">  <!-- sequence -->
          <input type="text" class="inp w-75" placeholder="Enter category id" [(ngModel)]="id" name="id" required [readonly]="true">
        </dd>
      </dl>

      <dl>
        <dt>Category</dt>
        <dd class="text-left">
          <div class="btn-group" dropdown>
            <button id="button-animated" dropdownToggle type="button" class="button myButton dropdown-toggle"
                    aria-controls="dropdown-animated">
              {{ selectedCategory ? (selectedCategory.name | translateField) : ('Select Category' | translate) }} <span class="caret"></span>
            </button>
            <div  *ngIf="categories && categories.length > 0">
              <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                <li role="menuitem" *ngFor="let cat of categories | excludeCategories : id">
                  <a class="dropdown-item" (click)="changeSelectedCategory(cat)">{{ cat.name | translateField }}</a>
                </li>
              </ul>
            </div>
          </div>
        </dd>
      </dl>

      <dl>
        <dt>Image</dt>  <!-- Images -->
        <dd class="text-left">
          <!-- [(images)] 双向绑定 -> [images] 单向绑定 -->
          <app-admin-upload-media [images]="images" [singleFile]="true"></app-admin-upload-media>
        </dd>
      </dl>

    </div>
  </div>

</div>
