<div style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'New Category' | translate}}</h1>
      <hr>
      
      <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('default')">
          English
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Simplified Chinese')">
          简体中文
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Traditional Chinese')">
          繁體中文
        </div>
      </div>

      <div *ngIf="currentTab=='default'">
        <label for="email"><b>Name</b></label>
        <input type="text" placeholder="Enter category name" [(ngModel)]="name" name="name" required>
  
        <label for="email"><b>{{'Sequence' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter sequence' | translate}}" [(ngModel)]="sequence" name="sequence" required>
  



        <div class="btn-group" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-animated">
            {{selectedCategory ? (selectedCategory.name | translateField) : ('Select Category' | translate)}} <span class="caret"></span>
          </button>
          <div  *ngIf="categories && categories.length > 0">
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-animated">
          <li role="menuitem" *ngFor="let cat of categories | excludeCategories : id">
            <a class="dropdown-item" (click)="changeSelectedCategory(cat)">{{cat.name | translateField}}</a>
          </li>
        </ul>
          </div>

        </div>






        <div>
          <label for="image"><b>{{'Image' | translate}}</b></label>
          <app-admin-upload-media [(images)]="images" [singleFile]="true"></app-admin-upload-media>
        </div>

      </div>
      
      <div *ngIf="currentTab=='Simplified Chinese'">
        <label for="email"><b>名称</b></label>
        <input type="text" placeholder="输入名称" [(ngModel)]="nameChinese" name="nameChinese">        
      </div>
      
      <div *ngIf="currentTab=='Traditional Chinese'">
        <label for="email"><b>名稱</b></label>
        <input type="text" placeholder="輸入名稱" [(ngModel)]="nameTradition" name="nameTradition">        
    
      </div>
      <div class="text-right py-2">
        <button class="btn signinbtn" (click)="addCategory()">{{(id?'Update':'Add') | translate}}</button>
      </div>
    </div>
  </div>