
 // Sass tils
 $color-fiord: #394263; // sidenav bg & dark text
 $color-white: #FFF; // card bg
 $color-athens-gray: #EAEDF1; // content bg
 $color-catskill-white: #F9FAFC; // top nav bg
 $color-abbey: #777; // gray text
 $color-mischka: #DADAE3; // light gray for menu icon
 $color-java: #1BBAE1; // blue text
 $color-mine-shaft: #333; // main section header bg
 $color-zest: #e67e22; // document icon bg
 $color-jungle-green: #27ae60; // calendar icon bg
 $color-cinnabar: #e74c3c; // main icon bg, red
 $color-amethyst: #af64cc; // main photo icon bg
 $color-transparent: rgba(255, 255, 255, .5);
 $color-alto: #D3D3D3;
 
 $height-header: 50px;
 $height-footer: 50px;
 $width-sidenav: 240px;
 
 @mixin profile-avatar {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1609106/headshot.png");
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 50%;
   border: 2px solid rgba(255, 255, 255, .2);
 }
 
 @mixin box-shadow {
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
 }

 
/* Simple dashboard grid CSS */

  

  // Establish dashboard css grid layout - mobile
.grid {
  position: relative;
  display: grid;
  grid-template-columns: 100%; // Charts responsiveness won't work with fr units
  grid-template-rows: $height-header 1fr $height-footer;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
  overflow-x: hidden; // Prevent overflow scroll from hidden sidenav

  &--noscroll {
    overflow-y: hidden;
  }
}

  /* Give every child element its grid name */
  .header {
    grid-area: header;
    background-color: #648ca6;
  }
  
  .sidenav {
    grid-area: sidenav;
    background-color: #394263;
  }
  
  .main {
    grid-area: main;
    background-color: #8fd4d9;
  }
  
  .footer {
    grid-area: footer;
    background-color: #648ca6;
  }

  .header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
  }

  .sidenav {
    display: flex; /* Will be hidden on mobile */
    flex-direction: column;
    grid-area: sidenav;


    position: fixed; // Access sidenav at any scroll position; relatively positioned on medium + screens
    height: 100%;
    overflow-y: auto;
    background-color: $color-fiord;
    color: $color-white;
    width: $width-sidenav; // Will match grid area on medium + screens
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; // Needs to sit above the hamburger menu icon

    background-color: #394263;

    &__brand {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      height: $height-header;
      background-color: rgba(0, 0, 0, .15);
  
      &-icon {
        margin-top: 2px;
        font-size: 14px;
        color: $color-transparent;
      }
  
      &-close {
        position: absolute;
        right: 8px;
        top: 8px;
        visibility: visible;
        color: $color-transparent;
        cursor: pointer;
      }
  
      &-link {
        font-size: 18px;
        font-weight: bold;
        color: $color-white;
        margin: 0 15px;
        letter-spacing: 1.5px;
      }
    } 
    
    &__profile {
      display: flex;
      align-items: center;
      min-height: 90px;
      background-color: rgba(255, 255, 255, .1);
  
      &-avatar {
        @include profile-avatar;
        height: 64px;
        width: 64px;
        margin: 0 15px;
      }
  
      &-title {
        font-size: 17px;
        letter-spacing: 1px;
      }
    }  
    
    &__arrow {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      top: 50%;
      right: 20px;
      border-left: 2px solid rgba(255,255,255,.5);
      border-bottom: 2px solid rgba(255,255,255,.5);
      transform: translateY(-50%) rotate(225deg);
    }
  
    &__sublist {
      list-style-type: none;
      margin: 0;
      padding: 10px 0 0;
    }
  
    &--active {
      transform: translateX(0);
    }    
  }

  .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
  }

  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }

  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-catskill-white;

    &__menu {
      position: fixed; // Needs to stay visible for all mobile scrolling
      padding: 13px;
      left: 12px;
      background-color: $color-mischka;
      border-radius: 50%;
      z-index: 1;
  
      &:hover {
        cursor: pointer;
      }
    }  
    &__menu {
      position: fixed; // Needs to stay visible for all mobile scrolling
      padding: 13px;
      width: 20px;
      height: 20px;
      left: 12px;
      background-color: $color-mischka;
      border-radius: 50%;
      z-index: 1;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    &__search {
      margin-left: 55px;
      font-size: 20px;
      color: $color-abbey;
    }
  
    &__input {
      border: none;
      background: transparent;
      padding: 12px;
      font-size: 20px;
      color: $color-abbey;
  
      &:focus {
        outline: none;
        border: none;
      }
    }

    &__avatar {
      @include profile-avatar;
      position: relative;
      margin: 0 26px;
      width: 35px;
      height: 35px;
      cursor: pointer;
  
      &:after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        background: none;
        border-left: 2px solid $color-abbey;
        border-bottom: 2px solid $color-abbey;
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
        right: -18px;
      }
    }    
}

.dropdown {
  position: absolute;
  top: 54px;
  right: -16px;
  width: 220px;
  height: auto;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s;
  @include box-shadow;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__list-item {
    padding: 12px 24px;
    color: $color-abbey;
    text-transform: capitalize;

    &:hover {
      background-color: rgba(0,0,0, .1);
    }
  }

  &__icon {
    color: $color-java;
  }

  &__title {
    margin-left: 10px;
  }

  &:before {
    position: absolute;
    content: "";
    top: -6px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #FFF;
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}



a {
  text-decoration: none;
}


// Mobile screen breakpoints (750px)
@media only screen and (min-width: 46.875em) {
  // Break out to sidenav grid layout on medium + screens
  .grid {
    display: grid;
    grid-template-columns: $width-sidenav calc(100% - 240px); // Charts responsiveness won't work with fr units
    grid-template-rows: $height-header 1fr $height-footer;
    grid-template-areas:
      'sidenav header'
      'sidenav main'
      'sidenav footer';
    height: 100vh;
  }

  .sidenav {
    position: relative;
    transform: translateX(0);

    &__brand-close {
      visibility: hidden;
    }
  }

  .main-header {
    &__intro-wrapper {
      padding: 0 30px;
    }
  }

  .header {
    &__menu {
      display: none;
    }

    &__search {
      margin-left: 20px; // No menu icon; move 'er back over
    }

    &__avatar {
      width: 40px;
      height: 40px;
    }
  }
}

// Medium screens breakpoint (1050px)
@media only screen and (min-width: 65.625em) {
  .main {
    &__cards {
      column-count: 2;
    }
  }
  .close__btn {
    display: none;
  }
  .main-header {
    &__intro-wrapper {
      flex-direction: row;
    }

    &__welcome {
      align-items: flex-start;
    }
  }
}
