
<div class="grid" [ngClass]="showNavMenu ? 'grid--noscroll' : ''">
    <header class="header">
        <img class="header__menu" (click)="toggleShowNavMenu()" src="/assets/svg/bars-solid.svg">
        <div class="header__search">
            <input class="header__input" placeholder="Search..." />
        </div>
        <div class="header__avatar" (click)="toggleDropDownActive()">
            <div class="dropdown" [ngClass]="dropDownActive ? 'dropdown--active' : ''">
                <ul class="dropdown__list">
                  <li class="dropdown__list-item" (click)="profile()">
                    <span class="dropdown__icon"><i class="far fa-user"></i></span>
                    <span class="dropdown__title">my profile</span>
                  </li>
                  <li class="dropdown__list-item" (click)="logout()">
                    <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="dropdown__title">log out</span>
                  </li>
                </ul> 
              </div>
        </div>
    </header>
    <aside class="sidenav" [ngClass]="showNavMenu ? 'sidenav--active' : ''">

      <div class="sidenav__brand">
        <a class="sidenav__brand-link" href="#">
          <small>
            {{displayName}}
          </small>
        </a>
        <img class="close__btn" (click)="toggleShowNavMenu()" src="/assets/svg/close.svg">
      </div>
      <div class="sidenav__profile">
        <div class="sidenav__profile-avatar"></div>

      </div>

        <ul class="sidenav__list">
            <li *ngFor="let item of menuItems" class="sidenav__list-item" routerLink="{{item.link}}" routerLinkActive="active">
              {{item.title | translate}}
            </li>
            <li class="sidenav__list-item" (click)="changeLang()">
              English / 中文
            </li>
          </ul>        
    </aside>
    <main class="main">
        <router-outlet></router-outlet> 
    </main>
    <footer class="footer">
        <div class="footer__copyright">&copy; 2020 MTH</div>
        <div class="footer__signature">Made by Ecombar</div>
    </footer>
  </div>
