<div class="product-grid">
  <div class="product-image">
      <a href="#">
          <img class="pic-1" src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fGZhc2hpb258ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
          <img class="pic-2" src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fGZhc2hpb258ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
      </a>
      <ul class="social">
          <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
          <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
          <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
      </ul>
      <span class="product-new-label">Sale</span>
      <span class="product-discount-label">20%</span>
  </div>
  <ul class="rating">
      <li class="fa fa-star"></li>
      <li class="fa fa-star"></li>
      <li class="fa fa-star"></li>
      <li class="fa fa-star"></li>
      <li class="fa fa-star disable"></li>
  </ul>
  <div class="product-content">
      <h3 class="title"><a href="#">Women's Blouse</a></h3>
      <div class="price">$16.00
          <span>$20.00</span>
      </div>
      <a class="add-to-cart" href="">+ Add To Cart</a>
  </div>
</div>