<form style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'Shipping' | translate}}</h1>
      <hr>
      

      <!--
        <label for="email"><b>{{'Service name' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter service name' | translate}}" [(ngModel)]="serviceName" name="serviceName" required>
      -->
      <div class="container">  
        <div class="py-2">
          <label for="psw"><b>{{'Delivery' | translate}}</b></label>
        </div>
        <div class="py-2" *ngIf="providers">
          <select [(ngModel)]="provider" name="provider" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option value="">{{'Select Provider' | translate}}:</option>
            <option *ngFor="let pr of providers" value="{{pr._id}}">{{pr.name}}</option>
          </select>
        </div>
      </div>

        <label for="email"><b>{{'Tracking number' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter tracking number' | translate}}" [(ngModel)]="trackingNumber" name="trackingNumber">
      

      <div class="d-flex justify-content-between py-2">
        <button type="button" class="btn cancelbtn">{{'Cancel' | translate}}</button>
        <button type="submit" class="btn signinbtn" (click)="update()">{{'Update' | translate}}</button>
      </div>
    </div>
</form>