<form style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'Shipping' | translate}}</h1>
      <hr>
      

      <!--
        <label for="email"><b>{{'Service name' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter service name' | translate}}" [(ngModel)]="serviceName" name="serviceName" required>
      -->
      <div class="container">  
        <div class="py-2">
          <label for="psw"><b>{{'Delivery' | translate}}</b></label>
        </div>
        <div class="py-2" *ngIf="providers">
          <select [(ngModel)]="provider" name="provider" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option value="">{{'Select Provider' | translate}}:</option>
            <option *ngFor="let pr of providers" value="{{pr._id}}">{{pr.name}}</option>
          </select>
        </div>
      </div>

      <div>
        <label for="email"><b>{{'Tracking number' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter tracking number' | translate}}" [(ngModel)]="trackingNumber" name="trackingNumber">
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" [checked]="allItemsFlag" (change)="allItemsFlag = !allItemsFlag">
        <label class="form-check-label" for="flexCheckDefault">
          {{'All items' | translate}}
        </label>
      </div>
      <div *ngIf="!allItemsFlag" class="container py-2">  
        <div class="py-2">
          <label for="psw"><b>{{'Detail' | translate}}</b></label>
        </div>
        <div class="py-2" *ngIf="items">
          <div *ngIf="itemsAdded">
            <div *ngFor="let itemAdded of itemsAdded" class="d-flex justify-content-between py-1">
              <div>
                {{getProductName(itemAdded.productId)}}: {{itemAdded.quantity}}
              </div>
              <div>
                <img (click)="deleteItem(itemAdded.productId)" src="/assets/svg/delete.svg">
              </div>
              
            </div>
          </div>
          <div class="d-flex py-1">
            <div class="px-2 w-100">
              <select [(ngModel)]="item" name="item" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="">{{'Select item' | translate}}:</option>
                <option *ngFor="let it of items" value="{{it._id}}">{{it.title}}</option>
              </select>
            </div>
            <div class="px-2 w-100">
              <input type="text" placeholder="{{'Enter quantity' | translate}}" [(ngModel)]="quantity" name="quantity">
            </div>
            <div (click)="addItem()">
              <img src="/assets/svg/add.svg">
            </div>
          </div>

        </div>
      </div>

      <div class="d-flex justify-content-between py-2">
        <button type="button" class="btn cancelbtn">{{'Cancel' | translate}}</button>
        <button type="submit" class="btn signinbtn" (click)="update()">{{'Add' | translate}}</button>
      </div>
    </div>
</form>