
$color-fiord: #394263; // sidenav bg & dark text
$color-white: #fff; // card bg
$color-athens-gray: #eaedf1; // content bg
$color-catskill-white: #f9fafc; // top nav bg
$color-abbey: #777; // gray text
$color-mischka: #dadae3; // light gray for menu icon
$color-java: #1bbae1; // blue text
$color-mine-shaft: #333; // main section header bg
$color-zest: #e67e22; // document icon bg
$color-jungle-green: #27ae60; // calendar icon bg
$color-cinnabar: #e74c3c; // main icon bg, red
$color-amethyst: #af64cc; // main photo icon bg
$color-transparent: rgba(255, 255, 255, 0.5);
$color-alto: #d3d3d3;
$color-text: #212b36;
$height-header: 50px;
$height-footer: 50px;
$width-sidenav: 240px;
$--p-surface-hovered: rgba(92, 106, 196, 0.12);
$--p-action-primary: #202e78;
$--p-text: #212b36;

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #f4f6f8;
}

.sidenav {
  grid-area: sidenav;
  background-color: #f4f6f8;
}

.main {
  grid-area: main;
  background-color: #f4f6f8;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
}

.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;

  position: fixed; // Access sidenav at any scroll position; relatively positioned on medium + screens
  height: 100%;
  overflow-y: auto;
  background-color: $color-fiord;
  color: $color-white;
  width: $width-sidenav; // Will match grid area on medium + screens
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; // Needs to sit above the hamburger menu icon

  background-color: #f4f6f8;

  &__brand {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: $height-header;
    background-color: #f4f6f8;

    &-icon {
      margin-top: 2px;
      font-size: 14px;
      color: $color-transparent;
    }

    &-close {
      position: absolute;
      right: 8px;
      top: 8px;
      visibility: visible;
      color: $color-transparent;
      cursor: pointer;
    }

    &-link {
      font-size: 18px;
      font-weight: bold;
      color: $color-text;
      margin: 0 15px;
      letter-spacing: 1.5px;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    min-height: 90px;
    background-color: rgba(255, 255, 255, 0.1);

    &-avatar {
      height: 64px;
      width: 64px;
      margin: 0 15px;
    }

    &-title {
      font-size: 17px;
      letter-spacing: 1px;
    }
  }

  &__arrow {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 50%;
    right: 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-50%) rotate(225deg);
  }

  &__sublist {
    list-style-type: none;
    margin: 0;
    padding: 10px 0 0;
  }

  &--active {
    transform: translateX(0);
  }
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-catskill-white;

  &__menu {
    position: fixed; // Needs to stay visible for all mobile scrolling
    padding: 13px;
    left: 12px;
    background-color: $color-mischka;
    border-radius: 50%;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }
  &__menu {
    position: fixed; // Needs to stay visible for all mobile scrolling
    padding: 13px;
    width: 20px;
    height: 20px;
    left: 12px;
    background-color: $color-mischka;
    border-radius: 50%;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  &__search {
    margin-left: 55px;
    font-size: 20px;
    color: $color-abbey;
  }

  &__input {
    border: none;
    background: transparent;
    padding: 12px;
    font-size: 20px;
    color: $color-abbey;

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__avatar {
    position: relative;
    margin: 0 26px;
    width: 55px;
    height: 55px;
    cursor: pointer;

    /*
      &:after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        background: none;
        border-left: 2px solid $color-abbey;
        border-bottom: 2px solid $color-abbey;
        transform: rotate(-45deg) translateY(-50%);
        top: 50%;
        right: -18px;
      }
      */
  }
}

// ---------- 菜单页面 ----------

.main_page {
  width: 1500px;
  // background-color: #f7f7f7;  // 背景灰色
  text-align: center;  // 水平居中１
  margin: 0 auto;  // 水平居中２
}

.menu_box {
  float: left; 
  width: 100%;  // 占据整行
  color: lightgray;
  background-color: darkslategray; 
  margin: 0 0 20px 0; 
  box-sizing: border-box; 
  // text-align: left;
  // border: solid 1px #eee;  // 灰色四边框
}

// .avatar_box {
//   width: 100%;  // 占据整行
//   height: 100px;
//   text-align: center;  // 水平居中
//   // vertical-align: middle;  // 垂直居中  // 无效
// }

// .avatar_box img {
//   border-radius: 50%;
//   border: solid 1px #efefef; 
//   width: 100px;
//   height: 100px;
//   // margin: 10px;  // 垂直居中  100 - 10 * 2 = 80
// }

// .avatar_text .star {
//   color: #FF591E; 
//   font-size: 18px; 
//   font-weight: bold; 
//   font-family: number; 
//   font-style: italic;
// }
// .avatar_text .text {
//   color: #999999;
// }

.svg_icon {
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.sidenav__list {
  padding: 0;
  list-style-type: none;
}

.sidenav__list_2 {
  margin-left: 30px;  // 子选单向右错开
  padding: 0;
  list-style-type: none;
}

.sidenav__list-title {
  padding: 10px 10px 10px 20px;  // 上，右，下，左
  // color: $--p-text;
}

.sidenav__list-item {
  padding: 10px 10px 10px 20px;  // 上，右，下，左
  // color: $--p-text;
}

.sidenav__list-item:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

.sidenav__list-item.active {
  background: $--p-surface-hovered;
  color: $--p-action-primary;
}

/* ---------- 内容页面 ---------- */

.main_box {
  // float: right; 
  width: 100%;  /* 占据整行 */
  // background-color: #ffffff; 
  // border: solid 1px #eee;  // 灰色四边框
}
