.asset-sell-subheader {
    margin-bottom: 5px;
}

.asset-sell-subheader {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.asset-sell-review-copy {
    color: rgb(52, 199, 123);
    margin: 0px;
    font-size: 14px;
}

.OrderSummary--submit {
    margin-top: 8px;
}

.ActionButton--iconOnly {
    padding: 12px;
}

.jEtebO {
    padding: 1px 10px;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.6;
    background-color: rgb(229, 232, 235) !important;
}

.jEtebO i.right {
    margin-left: 8px;
    font-size: 17px;
    line-height: 23px;
}

.right {
    float: right!important;
}

.eflkJv p {
    margin-top: 0px;
    line-height: 22px;
    color: rgb(158, 158, 158);
}