<div class="row AssetSell">
    <div class="col col-6">
        <div class="header"> Include ending price </div>
        <div class="desc">Adding an ending price will allow this listing to expire, or for the price to be reduced until a buyer is found. </div>
    </div>
    <div class="col col-6">
        <div class="SwitchInput--switch-container">
            <label class="Togglereact__LabelContainer-taymdu-0 gwCGQf  ">
                <input class="Toggle--input" role="switch" type="checkbox" aria-label="ending price">
            </label>
        </div>
    </div>
</div>