<app-nft-header></app-nft-header>
<div *ngIf="asset">
    <app-nft-asset-action *ngIf="owner && address && asset && wallet"
    [wallet]="wallet"
    [asset]="asset" 
    [owner]="owner"
    [address]="address"></app-nft-asset-action>
    <div class="row">
        <div class="col col-5 dPgrCP">
            <section class="Framereact__Frame-sc-139h1ex-0 cUPysq item--frame item--media-frame">
                <app-nft-asset-image [asset]="asset"></app-nft-asset-image>
            </section>
            <section class="Framereact__Frame-sc-139h1ex-0 cUPysq item--frame item--media-frame">
                <app-nft-asset-details 
                [collection]="collection" 
                [asset]="asset" 
                [smartContractAddress]="smartContractAddress"
                [tokenId]="tokenId"
                [address]="address"></app-nft-asset-details>
            </section>
        </div>
        <div class="col col-7">
            <app-nft-asset-info *ngIf="owner && address && asset"
            [collection]="collection" [asset]="asset"
            [owner]="owner"
            [address]="address"
            ></app-nft-asset-info>
    
            <div class="item-frame">
                <app-expansion 
                [title]="'Price History'"
                [icon]="'timeline'"
                 [toggleable]="true">
                    price
                </app-expansion> 
            </div>
         
            <div class="item-frame">
                <app-expansion 
                [title]="'Listing'"
                [icon]="'local_offer'"
                 [toggleable]="true">
                    price
                </app-expansion>   
            </div>
     
            <div class="item-frame">
                <app-expansion 
                [title]="'Offers'"
                [icon]="'toc'"
                 [toggleable]="true">
                    price
                </app-expansion>   
            </div>        
    
        </div>
    </div>
    
    <div class="row">
        <div class="col col-12">
            <div class="item-frame">
                <app-expansion 
                [title]="'Trading History'"
                [icon]="'swap_vert'"
                 [toggleable]="true">
                    price
                </app-expansion>   
            </div>        
        </div>
    </div>
</div>
