<form style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'Merchant information' | translate}}</h1>
      <hr>
      

        <label for="email"><b>{{'Name' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter name' | translate}}" [(ngModel)]="name" name="name" required>
  
        <label for="email"><b>{{'Wallet address' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter wallet address' | translate}}" [(ngModel)]="walletExgAddress" name="walletExgAddress" required>


      <div class="text-right py-2">
        <button type="submit" class="btn signinbtn" (click)="update()">{{'Update' | translate}}</button>
      </div>
    </div>
</form>
