.epuAXJ.Asset--loaded:hover {
    transform: translateY(-2px);
}

.epuAXJ:hover {
    box-shadow: rgb(14 14 14 / 25%) 0px 0px 8px 0px;
    transition: all 0.1s ease 0s;
}

.epuAXJ {
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 232, 235);
    border-radius: 5px;
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.Asset--anchor {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.Asset--anchor {
    pointer-events: initial;
}

a {
    text-decoration: none;
}

.gFCSNk {
    background: rgb(255, 255, 255);
    padding: 12px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.hUGXgk {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.irGSTk {
    display: flex;
}

.ilXIqv {
    font-size: 12px;
    font-weight: 500;
    color: rgb(138, 147, 155);
}

.gvgkex {
    display: flex;
}

.dFAeok {
    animation: 0.45s ease-in-out 0s 1 normal none running hHEZD;
    color: rgb(235, 87, 87);
}

.eMVbuh {
    margin-left: 5px;
    color: rgb(235, 87, 87);
}

.jpdfEF {
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}

.iuJoOI {
    border-radius: 5px;
}

.hiRPrY {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
}

.cFPAYn {
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.hQRXeM {
    -webkit-box-align: center;
    align-items: center;
}

.dHtAcF {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: inherit;
}

.fccnhl {
    padding: 8px;
    position: relative;
}
.iuJoOI {
    border-radius: 5px;
}




.hUGXgk {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fPFfwx {
    padding: 12px 16px;
}

.dTytCM {
    display: flex;
    flex-direction: column;
}
.hUGXgk {
    -webkit-box-pack: justify;
    justify-content: space-between;
}




.AssetCardFooter--collection {
    color: rgb(138, 147, 155);
    font-size: 2.67vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
}



.AssetCardFooter--name {
    color: rgb(53, 56, 64);
    font-size: 2.93vw;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.AssetCardFooter--annotations {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 2.44vw;
    font-weight: 500;
    line-height: 1;
    margin-top: 12px;
}

.AssetCardFooter--annotations .AssetCardFooter--annotations-item {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(138, 147, 155);
    display: flex;
    margin-left: auto;
}

.AssetCardFooter--annotations-item-text {
    margin-right: 0.5em;
}

.Price--main {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.dnWXUG {
    color: rgb(53, 56, 64);
    width: fit-content;
    max-width: 100%;
}

.Price--main {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-weight: 600;
}

.dnWXUG {
    color: rgb(53, 56, 64);
    width: fit-content;
}

@media (min-width: 600px) {
    .AssetCardFooter--collection {
        font-size: 11px;
    }
    
}

@media (min-width: 600px) {
    .AssetCardFooter--annotations {
        font-size: 11px;
    }
}

@media (min-width: 600px) {
    .AssetCardFooter--name {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
    }
}

@media (min-width: 600px) {
    .jcdZXm {
        padding: 12px;
    }
}