<form style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'New Store' | translate}}</h1>
      <hr>
      
      <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('default')">
          English
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Chinese')">
          中文
        </div>
      </div>

      <div *ngIf="currentTab=='default'">
        <label for="email"><b>Name</b></label>
        <input type="text" placeholder="Enter name" [(ngModel)]="name" name="name" required>

        <label for="email"><b>{{'Smart Contract Address' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter smart contract address' | translate}}" [(ngModel)]="smartContractAddress" name="smartContractAddress" required>
       
        <div>
          <label for="email"><b>Coin</b></label>
        </div>
        <div>
          <select [(ngModel)]="coin" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option value="">Select Coin:</option>
            <option *ngFor="let coin of coins" value="{{coin}}">
              {{coin}}
            </option>
          </select>          
        </div>
        <label for="email"><b>{{'Sequence' | translate}}</b></label>
        <input type="text" placeholder="{{'Enter sequence' | translate}}" [(ngModel)]="sequence" name="sequence" required>
          
      </div>
      
      <div *ngIf="currentTab=='Chinese'">
        <label for="email"><b>名称</b></label>
        <input type="text" placeholder="输入名称" [(ngModel)]="nameChinese" name="nameChinese">        
    
      </div>

      <div class="text-right py-2">
        <button type="submit" class="btn signinbtn" (click)="addStore()">{{(id?'Update':'Add') | translate}}</button>
      </div>
    </div>
</form>