<div class="container">
    <div *ngIf="step == 1">
        <app-text-header [title]="('Create new item' | translate) + '(' + collection.type + ')'"></app-text-header>
        <app-image-uploader 
        [(ngModel)]="media"
        [title]="'Image, Video, Audio, or 3D Model' | translate"
        [subtitle]="'File types supported: JPG, PNG, GIF, SVG, MP4, WEBM, MP3, WAV, OGG, GLB, GLTF. Max size: 100 MB' | translate"
        >
        </app-image-uploader>
        
        <app-textbox [title]="'Name *' | translate" [(ngModel)]="name"></app-textbox>
        
        <div class="py-3">
            <app-textbox 
            [(ngModel)]="externalLink"
            [title]="'External Link' | translate" 
            [subtitle]="'Collection Gala will include a link to this URL on this item\'s detail page, so that users can click to learn more about it. You are welcome to link to your own webpage with more details.' | translate"></app-textbox>
        </div>
        
        <app-textarea  
        [(ngModel)]="description"
        [title]="'Description' | translate" 
        [subtitle]="'The description will be included on the item\'s detail page underneath its image.' | translate"></app-textarea>
        
        <app-form-trait 
        [icon]="'list'" 
        [title]="'Properties' | translate" 
        [subtitle]="'Textual traits that show up as rectangles' | translate" 
        (save)="saveProperties($event)"
        [modal]="propertiesModal">
        </app-form-trait>
        <app-properties-list [properties]="properties"></app-properties-list>
        
        <app-form-trait 
        [icon]="'star_rate'" 
        [title]="'Levels' | translate" 
        [subtitle]="'Numerical traits that show as a progress bar' | translate" 
        (save)="saveLevels($event)"
        [modal]="levelsModal"
        >
        </app-form-trait>
        <app-levels-list [levels]="levels"></app-levels-list>
        
        <app-form-trait 
        [icon]="'bar_chart'" 
        [title]="'Stats' | translate" 
        [subtitle]="'Numerical traits that just show as numbers' | translate" 
        (save)="saveStats($event)"
        [modal]="statsModal"
        >
        </app-form-trait>
        <app-levels-list [levels]="stats"></app-levels-list>
        
        <app-textbox *ngIf="collection && (collection.type == 'ERC1155')" [title]="'Supply' | translate" [(ngModel)]="supply"></app-textbox>
        
        <app-textarea-switch [(ngModel)]="unlockableContent"></app-textarea-switch>
        
        <app-hide-switch [(ngModel)]="hide"></app-hide-switch>
        <div class="CreateCollection--actions py-3">
            <div class="ActionButtonrContainer">
                <div class="ActionButton--content" (click)="createAssets()" style="min-width: 120px;">
                    {{(tokenId ? 'Update' : 'Create') | translate}}
                </div>
            </div> 
        </div>
        
    </div>
    
    <div *ngIf="step == 2">
        <app-nft-collection-assets-create-done [asset]="asset"></app-nft-collection-assets-create-done>
    </div>
</div>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>