<div class="overview" *ngIf="!wallet">
    <div class="py-3">
        <div class="button-primary" (click)="restoreWallet()" style="min-width:120px">
            Import
        </div>
    </div>
    <div class="py-3">
        <div class="button-outline" (click)="createWallet()" style="min-width:120px">
            Create
        </div>
    </div>

</div>

<div *ngIf="wallets && wallet">
    <div class="d-flex justify-content-between overview">
        <div>
            <select class="form-select" (change)="changeWallet($event.target.value)">
                <option *ngFor="let item of wallets.items" value="{{item.id}}" 
                [selected]="wallet.id == item.id"
                >{{item.name}}</option>
            </select>
        </div>
        <div>
            {{address}}
        </div>
    </div>
    <div class="content">
        <div class="button-primary" *ngIf="!isProxyAuthenticated" (click)="authenticate()" style="min-width:120px">
            Authenticate
        </div>        
        <div class="assets">
            <ul>
                <li class="d-flex" *ngFor="let asset of assets">
                    <div class="coin-name">
                        {{getCoinName(asset.coinType)}}
                    </div>
                    <div class="coin-value">
                        <div>
                            {{getCoinAmount(asset.unlockedAmount)}}
                        </div>                        
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
