
<div class="EventHistory--container" *ngIf="events && (events.length > 0)">
    <div class="Scrollbox--content">
        <div class="Row--isHeader" role="row">
            <div class="Row--cell Row--cellIsSpaced EventHistory--event-col">{{'Event' | translate}}</div>
            <div class="Row--cell Row--cellIsSpaced EventHistory--price-col">{{'Price' | translate}}</div>
            <div class="Row--cell Row--cellIsSpaced ">{{'From' | translate}}</div>
            <div class="Row--cell Row--cellIsSpaced ">{{'To' | translate}}</div>
            <div class="Row--cell Row--cellIsSpaced ">{{'Date' | translate}}</div>
            <div class="Row--cell Row--cellIsSpaced ">{{'Txid' | translate}}</div>
        </div>

        <div class="Rowreact__DivContainer-amt98e-0 iaHvzF  EventHistory--row " role="row"
            *ngFor="let event of events">

                <div class="Row--cell Row--cellIsSpaced EventHistory--event-col">
                    <i class="material-icons" value="{{getIcon(event.name)}}" size="24">
                        {{getIcon(event.name)}}
                    </i>
                    {{event.name}}
                </div>
                <div class="Row--cell Row--cellIsSpaced EventHistory--price-col">
                    {{event.price}} {{getCoinName(event.coinType)}}
                </div>
                <div class="Row--cell Row--cellIsSpaced ">
                    {{addressDisplay(event.from)}}
                </div>
                <div class="Row--cell Row--cellIsSpaced ">
                    {{addressDisplay(event.to)}}
                </div>
                <div class="Row--cell Row--cellIsSpaced ">
                    <div class="EventTimestamp__DivContainer-sc-3gbwf4-0 dYoAYR" data-testid="EventTimestamp">
                        {{event.dateCreated ? (event.dateCreated | date) : ''}}
                    </div>
                </div>
                <div class="Row--cell Row--cellIsSpaced ">
                    <div *ngIf="event.txid">
                        <a target="_blank" href="{{getTxidLink(event.txid)}}">
                            {{txidDisplay(event.txid)}}
                        </a>
                        
                    </div>
                </div>

        </div>
       
    </div>
</div>
