
<h1>{{ 'Categories' | translate }}</h1>

<div class="px-3">
  <div class="text-right my-2">
    <button type="button" class="btn btn-danger btn-lg newButton-S rounded" 
      routerLink="/merchant/category/add" routerLinkActive="active">
      {{ 'New' | translate }}
    </button>  <!-- 靠右对齐，圆角边框 btn-block float-right -->
  </div>

  <dl class="work-list row">
    <dt class="col-3">{{ 'Name' | translate }}</dt>
    <dt class="col-3">{{ 'Sequence' | translate }}</dt>
    <dt class="col"></dt>
  </dl>

  <dl class="work-list row" *ngFor="let category of categories">
    <dd class="col-3">{{ category.name | translateField }}</dd>
    <dd class="col-3">{{ category.sequence }}</dd>
    <dd class="col">
      <div class="d-inline-block px-2">
        <a (click)="editCategory(category)">
          <img src="/assets/svg/edit.svg">
        </a>
      </div>
      <div class="d-inline-block px-2">
        <a (click)="deleteCategory(category._id)">
          <img src="/assets/svg/delete.svg">
        </a>
      </div>
    </dd>
  </dl>


</div>
