
<!-- “类别”管理 -->

<ion-grid class="px-2 font-size-18 bg-white border-bottom">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-title><h1>{{ 'Categories' | translate }}</h1></ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-end" *ngIf="store.status == 2">
      <button type="button" class="btn btn-danger btn-lg newButton-S rounded" 
        routerLink="/merchant/category/add" routerLinkActive="active">
        {{ 'New' | translate }}
      </button>
    </ion-col>
  </ion-row>
  <ion-row class="bg-light">
    <ion-col size="3">{{ 'Name' | translate }}</ion-col>
    <ion-col size="3">{{ 'Id' | translate }}</ion-col>  <!-- 'Sequence' -->
    <ion-col></ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="bg-white" *ngFor="let category of categories">
  <ion-row class="work-list">
    <ion-col size="3">{{ category.nameSet | translateField }}</ion-col>  <!-- category.name -->
    <ion-col size="3">{{ category.id }}</ion-col>  <!-- category.sequence -->
    <ion-col>
      <div class="d-inline-block px-2">
        <a (click)="editCategory(category.id)">
          <img src="/assets/svg/edit.svg">
        </a>
      </div>
      <div class="d-inline-block px-2">
        <a (click)="deleteCategory(category.id)">
          <img src="/assets/svg/delete.svg">
        </a>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>


<!-- <h1>{{ 'Categories' | translate }}</h1>

<div class="px-3">
  <div class="text-right my-2">
    <button type="button" class="btn btn-danger btn-lg newButton-S rounded" 
      routerLink="/merchant/category/add" routerLinkActive="active">
      {{ 'New' | translate }}
    </button>
  </div>

  <dl class="work-list row">
    <dt class="col-3">{{ 'Name' | translate }}</dt>
    <dt class="col-3">{{ 'Sequence' | translate }}</dt>
    <dt class="col"></dt>
  </dl>

  <dl class="work-list row" *ngFor="let category of categories">
    <dd class="col-3">{{ category.name | translateField }}</dd>
    <dd class="col-3">{{ category.sequence }}</dd>
    <dd class="col">
      <div class="d-inline-block px-2">
        <a (click)="editCategory(category)">
          <img src="/assets/svg/edit.svg">
        </a>
      </div>
      <div class="d-inline-block px-2">
        <a (click)="deleteCategory(category._id)">
          <img src="/assets/svg/delete.svg">
        </a>
      </div>
    </dd>
  </dl>
</div> -->
