<div class="container" *ngIf="order">
    <div class="pb-2">
        {{'ObjectId' | translate}}: 
        <a target="_blank" href="/iddock/detail/things/{{order.objectId}}">
            {{order.objectId}}
        </a>
    </div>
    <div class="row">
        <div class="col col-8 px-2">
            <div class="card w-100">
                <div class="p-3">
                    <div class="py-3">
                        <div class="py-2 text-muted">
                            {{'Shipping information' | translate}}
                        </div>
                        <div>
                            <div class="font-weight-bold">
                                {{order.name}} {{order.buyerPhone}}
                            </div>
                            <div>
                                {{order.streetNumber}} {{order.streetName}} {{order.city}} {{order.province}}, {{order.zip}} {{order.country}}
                            </div>                       
                        </div>
                    </div>


                    <div class="py-3">
                        <div class="py-2 text-muted">
                            {{'Shipping services' | translate}}
                        </div>
                        <div class="font-weight-bold d-flex align-items-center justify-content-between">
                            <div>
                                {{order.shippingServiceSelected}}
                            </div>
                            
                            <button *ngIf="order.paymentStatus != 2" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block" (click)="change()">{{'Change' | translate}}</button>
                        </div>
                    </div>

                    <div class="py-3">
                        <div class="py-2 text-muted">
                            {{'Payment options' | translate}}
                        </div>
                        <div class="font-weight-bold d-flex align-items-center justify-content-between">
                            <div>
                                {{order.paymentMethod}}
                            </div>
                                
                                <button *ngIf="order.paymentStatus != 2" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block" (click)="change()">{{'Change' | translate}}</button>
                        </div>
                    </div>

                    <div *ngIf="order.paymentStatus != 2">
                        <div *ngIf="order.paymentMethod == 'usdt'">
                            <div class="text-center">
                                {{'Scan the QR Code with Ex App' | translate}} 
                            </div>
                            <div class="text-center py-5">
                                <qrcode [qrdata]="code" id="address_qr_code" style="display: inline-block"></qrcode>  <!-- [size]="150" [level]="'M'" -->
                                <div class="py-2">
                                    <a href="{{link}}" download (click)="dlDataUrlBin()">
                                        <div class="d-inline-block px-1">
                                            <img src="/assets/download.png">
                                        </div>
                                        <div class="d-inline-block px-1">
                                            {{'Download QR Code' | translate}}
                                        </div>
                                    </a>
                    
                                </div>
                            </div>                    

                            <div class="text-center py-3">
                                {{'Or' | translate}}
                            </div>

                            <div class="text-center">
                                <button class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block" (click)="pay()">
                                    {{'Pay directly' | translate}}
                                </button>
                                <!--
                                <div>
                                    Wallet: {{walletName}}
                                </div>
                                -->
                                <div>
                                    USDT {{'balance' | translate}}: {{usdtBalance}}
                                </div>
                                <!--
                                <button class="btn" (click)="payWithWeb()">
                                    Pay with Ex Web
                                </button>
                                -->
                            </div>
                        </div>
                        <div class="text-center" *ngIf="order.paymentMethod == 'paypal'">

                            <ngx-paypal [config]="payPalConfig"></ngx-paypal>

                        </div>

                        <div class="text-center" *ngIf="order.paymentMethod == 'creditcard'">

                            <button class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block" (click)="payWithCreditCard()">
                                {{'Pay with Credit card' | translate}}
                            </button>                      
                        </div>
                    </div>
                    <div class="text-center" *ngIf="order.paymentStatus == 2">
                        {{'Your order was paid successfully'| translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-4 px-2">
            <div class="card w-100 p-3">
                <div class="p-3 border-bottom">
                    <div class="text-muted py-3">
                        {{'Your order' | translate}}
                    </div>
                    <div *ngFor="let item of order.items" class="py-2">
                        <div class="row">
                            <div class="col col-4">
                                <img class="img-thumbnail" [src]="item.thumbnailUrl">
                            </div>
                            
                            <div class="col col-8">
                                <div class="font-weight-bold">
                                    {{item.title}}
                                </div>
                                <div class="row">
                                    <div class="col col-4">
                                        ${{item.price}}
                                    </div>
                                    <div class="col col-4">
                                        x{{item.quantity}}
                                    </div>
                                    <div class="col col-4 font-weight-bold">
                                        ${{item.price * item.quantity}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row py-2">
                        <div class="col col-6">
                            {{'Subtotal' | translate}}
                        </div>
                        <div class="col col-6 text-right">
                            ${{subtotal}}
                        </div>                        
                    </div>

                    <div class="row py-2">
                        <div class="col col-6">
                            {{'Shipping' | translate}}
                        </div>
                        <div class="col col-6 text-right">
                            {{shippingFee == 0 ? 'Free' : ('$' + shippingFee)}}
                        </div>                        
                    </div>  

                    <div class="row py-2">
                        <div class="col col-6 font-weight-bold">
                            {{'Total' | translate}}
                        </div>
                        <div class="col col-6 text-right font-weight-bold">
                            ${{total}}
                        </div>                        
                    </div>
                </div>
            </div> 
        </div>

    </div>
    
   
</div>
