.PaymentFilter--results {
    max-height: 200px;
}

.kCDZAF {
    display: flex;
    flex-direction: column;
}

.Scrollbox--content {
    border-color: rgba(255, 255, 255, 0);
    overflow-y: auto;
    transition: border-color 0.2s ease-in 0s;
}

.PaymentFilter--item {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 40px;
    padding: 10px 2px;
    cursor: pointer;
}

.PaymentFilter--item .PaymentFilter--symbol {
    color: rgb(53, 56, 64);
    margin-left: 8px;
}
