<div class="Scrollboxreact__DivContainer-sc-1b04elr-0 kCDZAF PaymentFilter--results">
    <div class="Scrollbox--content">
        <div class="PaymentFilter--item">
            <input class="PaymentFilter--checkbox" readonly="" type="checkbox">
            <div class="PaymentFilter--symbol">
                ETH
            </div>
        </div>
        <div class="PaymentFilter--item">
            <input class="PaymentFilter--checkbox" readonly="" type="checkbox">
            <div class="PaymentFilter--symbol">WETH</div>
        </div>
        <div class="PaymentFilter--item">
            <input class="PaymentFilter--checkbox" readonly="" type="checkbox">
            <div class="PaymentFilter--symbol">BRICK</div>
        </div>
        <div class="PaymentFilter--item">
            <input class="PaymentFilter--checkbox" readonly="" type="checkbox">
            <div class="PaymentFilter--symbol">CHERRY</div>
        </div>
        <div class="PaymentFilter--item">
            <input class="PaymentFilter--checkbox" readonly="" type="checkbox">
            <div class="PaymentFilter--symbol">DAI</div>
        </div>
    </div>
</div>
