<div class="AssetNavbar--container" *ngIf="asset">
    <a href="/nft/assets/{{asset.smartContractAddress}}/{{asset.tokenId}}">
        <div class="AssetNavbar--place-bid-navbar-outer">
            <button class="btn-flat AssetNavbar--place-bid-chevron">
                <i class="material-icons" value="keyboard_arrow_left" size="24">keyboard_arrow_left</i>
            </button>
            <div class="AssetNavbar--place-bid-image" style="background: url({{asset.media}}) center center / contain no-repeat rgb(251, 251, 251);"></div>
            <div class="AssetNavbar--place-bid-asset-labels">
                <div class="AssetNavbar--asset-category">{{asset.name}}<span *ngIf="collection && (collection.type=='ERC1155')">({{balance}})</span></div>
                <span class="AssetNavbar--asset-name">{{asset.description}}</span>
            </div>
        </div>
    </a>
</div>