<div class="CreateCollection--form">
    <label for="image">{{title}}</label>
    <header class="light-text">
        {{subtitle}}
    </header>
    <div class="CreateCollection--input">
        <div class="Image--isImageLoaderVisible ImageInput--image" style="height: 100%; width: 100%;">
            <img class="Image--image" *ngIf="image" src="{{image}}" style="object-fit: contain;">
            <div class="Image--content">
                <div class="ImageInput--wrapper">
                    <input accept="image/*" (change)="fileChange($event)" class="ImageInput--input" type="file">
                    <i *ngIf="!image" class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV ImageInput--icon material-icons" value="image" size="24">image</i>
                </div>
            </div>
        </div>
    </div>
    <div class="green" *ngIf="errMsg">
        {{successMsg | translate}}
    </div>
    <div class="red" *ngIf="errMsg">
        {{errMsg | translate}}
    </div>
</div>