.AssetForm-input-label {
    color: rgb(46, 54, 59);
    font-weight: 600;
    font-size: 16px;
    display: block;
    margin: 8px 0px 5px;
    text-transform: none;
}

.AssetForm--input-header, .AssetForm--unlockable-content-caption {
    color: rgb(170, 170, 170);
    margin-bottom: 5px;
}

.MediaInput--media.MediaInput--media-padded {
    padding: 50px;
}

.MediaInput--media {
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    border: 3px dashed rgb(204, 204, 204);
    margin-bottom: 20px;
    margin-top: 6px;
    padding: 4px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.MediaInput--input-wrapper {
    position: relative;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: rgb(170, 170, 170);
    font-weight: 500;
}

.MediaInput--icon {
    color: rgb(204, 204, 204);
    font-size: 84px;
    pointer-events: none;
}

.MediaInput--header {
    color: rgb(46, 54, 59);
    font-size: 16px;
    font-weight: 600;
}

.MediaInput--input-wrapper .MediaInput--input {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

a {
    color: #039be5!important;
    -webkit-tap-highlight-color: transparent;
}

