<div>
    <label class="AssetForm-input-label" for="media">
        {{title}}
    </label>
    <header class="AssetForm--input-header">
        {{subtitle}}
    </header>
    <div>
        <div class="MediaInput--media MediaInput--media-padded">
            <div class="MediaInput--input-wrapper">
                <div>
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV MediaInput--icon material-icons" value="image" size="24">image</i>
                    <header class="MediaInput--header">
                        Drag &amp; drop file
                    </header>
                    <div>
                        or <a>browse media on your device</a>
                    </div>
                </div>
                <input type="file" class="MediaInput--input">
            </div>
        </div>
    </div>
</div>