
<!-- 后台台号状态 -->

<h1>{{'Orders Status' | translate}}</h1>

<div class="px-2">  <!-- padding, left/right, $spacer * .5 -->

  <dl class="work-list row">
    <dt class="col-2">{{ 'No' | translate }}</dt>
    <dt class="col-3">{{ 'Id' | translate }}</dt>
    <dt class="col-2">{{ 'Date Created' | translate }}</dt>
    <dt class="col-2">{{ 'Total' | translate }}</dt>
    <dt class="col">{{ 'Status' | translate }}</dt>
    <!-- <dt class="col"></dt> -->
  </dl>

  <dl class="work-list row" *ngFor="let order of orders">
    <dd class="col-2">
      <a target="_blank" *ngIf="order.merchantId" href="/merchant/order-list-2/{{ order.tableNo }}">
        {{ order.tableNo }}
      </a>
      <span *ngIf="!order.merchantId">{{ order.tableNo }}</span>
    </dd>
    <dd class="col-3">
      <a target="_blank" *ngIf="order.merchantId" href="/merchant/order/{{ order._id }}">
        {{ order._id }}
      </a>
      <span *ngIf="!order.merchantId">{{ order._id }}</span>
    </dd>
    <dd class="col-2">{{ order.dateCreated | date:'MM-dd hh:mm' }}</dd>
    <dd class="col-2">{{ order.totalAmount }}</dd>
    <dd class="col">
      <div *ngIf="!order.flag">
        {{ getStatus(order) | translate }}
      </div>
      <div *ngIf="order.flag == 1" class="border border-warning text-warning">
        {{ getStatus(order) | translate }}
      </div>
      <div *ngIf="order.flag >= 2" class="border border-danger text-danger">
        {{ getStatus(order) | translate }}
      </div>
      <!-- <div *ngIf="order.paymentStatus == 5">
        <a (click)="refund(order)">
          Approve refund
        </a>
      </div> -->
    </dd>
    <!-- <dd class="col">
      <div class="d-inline-block px-2" *ngIf="(order.paymentStatus == 2)">
        <a href="/merchant/shipping/{{order._id}}">
          <img src="/assets/svg/shipping.svg">
        </a>
      </div>
    </dd> -->
  </dl>

</div>
