<div class="d-flex justify-content-between align-items-center border-bottom border-color-1 flex-lg-nowrap flex-wrap mb-4">
    <h3 class="section-title mb-0 pb-2 font-size-22">Related products</h3>
</div>


<ul class="row list-unstyled products-group no-gutters">
    <li class="col-6 col-md-3 col-xl-2gdot4-only col-wd-2 product-item" *ngFor="let product of products">
        <div class="product-item__outer h-100">
            <div class="product-item__inner px-xl-4 p-3">
                <div class="product-item__body pb-xl-2">
                    <div class="mb-2">
                        <a href="/store/{{storeId}}/category/{{product.primaryCategoryId._id}}" class="font-size-12 text-gray-5">
                            {{product.primaryCategoryId.category | translateField}}
                        </a>
                    </div>
                    <h5 class="mb-1 product-item__title">
                        <a href="/store/{{storeId}}/product/{{product._id}}" class="text-blue font-weight-bold">
                            {{product.title | translateField}}
                        </a>
                    </h5>
                    <div class="mb-2">
                        <a href="/store/{{storeId}}/product/{{product._id}}" class="d-block text-center">
                            <img class="img-fluid" src="{{product.images[0]}}" alt="Image Description">
                        </a>
                    </div>
                    <div class="flex-center-between mb-1">
                        <div class="prodcut-price">
                            <div class="text-gray-100">${{product.price}}</div>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a (click)="addToCart(product, 1)" 
                            class="btn-add-cart btn-primary transition-3d-hover">
                                <i class="ec ec-add-to-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                        <a (click)="addToWishList(product._id)" class="text-gray-6 font-size-13">
                            <i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<!--
<ul class="row list-unstyled products-group no-gutters">
    <li class="col-6 col-md-3 col-xl-2gdot4-only col-wd-2 product-item">
        <div class="product-item__outer h-100">
            <div class="product-item__inner px-xl-4 p-3">
                <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                    <h5 class="mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Wireless Audio System Multiroom 360 degree Full base audio</a></h5>
                    <div class="mb-2">
                        <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img1.jpg" alt="Image Description"></a>
                    </div>
                    <div class="flex-center-between mb-1">
                        <div class="prodcut-price">
                            <div class="text-gray-100">$685,00</div>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">

                        <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="col-6 col-md-3 col-xl-2gdot4-only col-wd-2 product-item">
        <div class="product-item__outer h-100">
            <div class="product-item__inner px-xl-4 p-3">
                <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                    <h5 class="mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Tablet White EliteBook Revolve 810 G2</a></h5>
                    <div class="mb-2">
                        <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img2.jpg" alt="Image Description"></a>
                    </div>
                    <div class="flex-center-between mb-1">
                        <div class="prodcut-price d-flex align-items-center position-relative">
                            <ins class="font-size-20 text-red text-decoration-none">$1999,00</ins>
                            <del class="font-size-12 tex-gray-6 position-absolute bottom-100">$2 299,00</del>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                        <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="col-6 col-md-3 col-xl-2gdot4-only col-wd-2 product-item">
        <div class="product-item__outer h-100">
            <div class="product-item__inner px-xl-4 p-3">
                <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                    <h5 class="mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Purple Solo 2 Wireless</a></h5>
                    <div class="mb-2">
                        <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img3.jpg" alt="Image Description"></a>
                    </div>
                    <div class="flex-center-between mb-1">
                        <div class="prodcut-price">
                            <div class="text-gray-100">$685,00</div>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                        <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="col-6 col-md-3 col-xl-2gdot4-only col-wd-2 product-item remove-divider-md-lg">
        <div class="product-item__outer h-100">
            <div class="product-item__inner px-xl-4 p-3">
                <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                    <h5 class="mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Smartphone 6S 32GB LTE</a></h5>
                    <div class="mb-2">
                        <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img4.jpg" alt="Image Description"></a>
                    </div>
                    <div class="flex-center-between mb-1">
                        <div class="prodcut-price">
                            <div class="text-gray-100">$685,00</div>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                        <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="col-6 col-md-3 col-xl-2gdot4-only col-wd-2 product-item remove-divider-xl">
        <div class="product-item__outer h-100">
            <div class="product-item__inner px-xl-4 p-3">
                <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                    <h5 class="mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Widescreen NX Mini F1 SMART NX</a></h5>
                    <div class="mb-2">
                        <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img5.jpg" alt="Image Description"></a>
                    </div>
                    <div class="flex-center-between mb-1">
                        <div class="prodcut-price">
                            <div class="text-gray-100">$685,00</div>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                        <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="col-6 col-md-3 col-xl-2gdot4-only col-wd-2 product-item remove-divider-wd d-xl-none d-wd-block">
        <div class="product-item__outer h-100">
            <div class="product-item__inner px-xl-4 p-3">
                <div class="product-item__body pb-xl-2">
                    <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Speakers</a></div>
                    <h5 class="mb-1 product-item__title"><a href="../shop/single-product-fullwidth.html" class="text-blue font-weight-bold">Tablet White EliteBook Revolve 810 G2</a></h5>
                    <div class="mb-2">
                        <a href="../shop/single-product-fullwidth.html" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img2.jpg" alt="Image Description"></a>
                    </div>
                    <div class="flex-center-between mb-1">
                        <div class="prodcut-price d-flex align-items-center position-relative">
                            <ins class="font-size-20 text-red text-decoration-none">$1999,00</ins>
                            <del class="font-size-12 tex-gray-6 position-absolute bottom-100">$2 299,00</del>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product-item__footer">
                    <div class="border-top pt-2 flex-center-between flex-wrap">
                        <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                        <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
-->