<div class="CreateCollection--form" *ngIf="collection">
    <div class="CreateCollection--form">
        <h4 class="CreateCollection--header">{{'Edit your collection' | translate}}</h4>
        <div class="form-container">
            <app-image-uploader [(ngModel)]="collection.image" 
            [title]="'Logo*' | translate" 
            [subtitle]="'This image will also be used for navigation. 300 x 300 recommended.' | translate">
            </app-image-uploader>
            
            <app-textbox [(ngModel)]="collection.name" [title]="'Name *' | translate" ></app-textbox>

            <div class="pt-3">
                <app-textarea [title]="'Description' | translate" [(ngModel)]="collection.description"></app-textarea>
            </div>
            

            
            <div class="CreateCollection--actions">
                <div class="ActionButtonrContainer">
                    <div class="ActionButton--content" (click)="updateCollection()" style="min-width: 120px;">
                        {{'Submit Changes' | translate}}
                    </div>
                </div> 
            </div>
           
        </div>
    </div>
</div>