<div *ngIf="collections" class="container">
    <div *ngFor="let collection of collections" class="featured-products-container">
        <div class="mb-8 position-relative">
            <div
                class="d-flex justify-content-between border-bottom border-color-1 flex-md-nowrap flex-wrap border-sm-bottom-0">
                <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">{{ collection.name | translateField
                    }}</h3>
            </div>
            <div class="js-slick-carousel position-static u-slick u-slick--gutters-1 overflow-hidden u-slick-overflow-visble pt-3 pb-3"
                data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                data-arrow-left-classes="fa fa-angle-left right-1" data-arrow-right-classes="fa fa-angle-right right-0"
                data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4">
                <div>
                    <app-products-grid [products]="collection.products"></app-products-grid>
                    <!-- <ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible">
                        <li class="col-wd-3 col-md-4 product-item product-item__card pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
                            <div class="product-item__outer h-100 w-100">
                                <div class="product-item__inner p-md-3 row no-gutters">
                                    <div class="col col-lg-auto product-media-left">
                                        <a [routerLink]="['/product']" class="max-width-150 d-block"><img class="img-fluid" src="../../assets/img/150X140/img1.jpg" alt="Image Description"></a>
                                    </div>
                                    <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                                        <div class="mb-4">
                                            <div class="mb-2"><a href="../shop/product-categories-7-column-full-width.html" class="font-size-12 text-gray-5">Tablets</a></div>
                                            <h5 class="product-item__title"><a [routerLink]="['/product']" class="text-blue font-weight-bold">Tablet Air 3 WiFi 64GB Gold</a></h5>
                                        </div>
                                        <div class="flex-center-between mb-3">
                                            <div class="prodcut-price">
                                                <div class="text-gray-100">$629,00</div>
                                            </div>
                                            <div class="d-none d-xl-block prodcut-add-cart">
                                                <a [routerLink]="['/product']" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-item__footer">
                                            <div class="border-top pt-2 flex-center-between flex-wrap">
                                                <a href="../shop/compare.html" class="text-gray-6 font-size-13"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                                                <a href="../shop/wishlist.html" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>



        <!-- <div class="title-line">

        </div>
        <div>
            <span>
        {{ collection.name | translateField }}
      </span>
            <div class="redcolor" *ngIf="errMsg">
                {{errMsg}}
            </div>
        </div>

        <app-products-grid [products]="collection.products"></app-products-grid>
    </div> -->


    </div>