
<div class="container">
  <div class="text-right">
    <button class="btn" routerLink="/admin/category/add" routerLinkActive="active">New</button>
</div>

  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-3">Name</div>
      <div class="col col-3">Sequence</div>
      <div class="col col-3"></div>
    </li>
    <li class="table-row" *ngFor="let category of categories">
      <div class="col col-3" data-label="Job Id">{{category.category}}</div>
      <div class="col col-3" data-label="Customer Name">{{category.sequence}}</div>
      <div class="col col-3 text-right" data-label="Payment Status">
        <a (click)="edit(category)">
          <img src="/assets/svg/edit.svg">
        </a>
        
      </div>
    </li>
  </ul>
</div>