    <!-- STAY IN TOUCH -->
    <div class="app-home__social app-home__section2">
        <div class=" max-out">
            <h2 class="center app-home__title">{{ 'Social.Title' | translate }}</h2>
            <div class="title2">{{ 'Social.TitleSub' | translate }}</div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6 content">
                    <div class="social tele">
                        <img _ngcontent-qie-c102="" src="./assets/images/social/telegram-w.png">
                        <div class="title">Telegram EN1</div>
                        <a href="https://t.me/fabtoken"><button class="button"><span>{{ 'Social.Button' | translate }} </span></button></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 content">
                    <div class="social tele">
                        <img _ngcontent-qie-c102="" src="./assets/images/social/telegram-w.png">
                        <div class="title">Telegram EN2</div>
                        <a href="https://t.me/exchangily_chat"><button class="button"><span>{{ 'Social.Button' | translate }} </span></button></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 content">
                    <div class="social tele">
                        <img _ngcontent-qie-c102="" src="./assets/images/social/telegram-w.png">
                        <div class="title">Telegram ZH1</div>
                        <a href="https://t.me/Fabcn"><button class="button"><span>{{ 'Social.Button' | translate }} </span></button></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 content">
                    <div class="social tele">
                        <img _ngcontent-qie-c102="" src="./assets/images/social/telegram-w.png">
                        <div class="title">Telegram ZH2</div>
                        <a href="https://t.me/exchangily1"><button class="button"><span>{{ 'Social.Button' | translate }} </span></button></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 content">
                    <div class="social facebook">
                        <img _ngcontent-qie-c102="" src="./assets/images/social/facebook-w.png">
                        <div class="title">Facebook</div>
                        <a href="https://www.facebook.com/Exchangily-439040053240813"><button class="button"><span>{{ 'Social.Button' | translate }} </span></button></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 content">
                    <div class="social twitter">
                        <img _ngcontent-qie-c102="" src="./assets/images/social/twitter-w.png">
                        <div class="title">Twitter</div>
                        <a href="https://twitter.com/Exchangily"><button class="button"><span>{{ 'Social.Button' | translate }} </span></button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>