<div class="text-right">
    <button class="btn" routerLink="/admin/product/add" routerLinkActive="active">{{'New' | translate}}</button>
</div>

<ul class="responsive-table">
  <li class="table-header">
    <div class="col col-3">{{'Title' | translate}}</div>
    <div class="col col-3">{{'Price' | translate}}</div>
    <div class="col col-3">{{'Currency' | translate}}</div>
    <div class="col col-3"></div>

  </li>
  <li class="table-row" *ngFor="let product of products">
    <div class="col col-3" data-label="Title">{{product.title | translateField}}</div>
    <div class="col col-3" data-label="Price">{{product.price}}</div>
    <div class="col col-3" data-label="Currency">{{product.currency}}</div>
    <div class="col col-3 text-right" data-label="Operations">
      <div class="d-inline-block px-2">
        <a (click)="editProduct(product)">
          <img src="/assets/svg/edit.svg">
        </a>
      </div>

      <div class="d-inline-block px-2">
        <a (click)="deleteProduct(product)">
          <img src="/assets/svg/delete.svg">
        </a>
      </div>
    </div>
  </li>
</ul>

