<main id="content" role="main" *ngIf="currentCatorory && category">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">{{'Home' | translate}}</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1" *ngIf="currentCatorory._id != category._id" (click)="navigateTo(category)">
                            {{category.category | translateField}}
                        </li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page" (click)="navigateTo(currentCatorory)">
                            {{currentCatorory.category | translateField}}
                        </li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="row mb-8">
            <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <!-- List -->
                    <ul id="sidebarNav" class="list-unstyled mb-0 sidebar-navbar">
                        <li>
                            <a class="dropdown-toggle dropdown-toggle-collapse dropdown-title" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1Collapse" data-target="#sidebarNav1Collapse">
                              {{'Show All Categories' | translate }}
                          </a>

                            <div id="sidebarNav1Collapse" class="collapse" data-parent="#sidebarNav">
                                <ul id="sidebarNav1" class="list-unstyled dropdown-list">
                                    <!-- Menu List -->
                                    <li *ngFor="let category of categories">
                                        <a class="dropdown-item" href="/category/{{category._id}}">{{category.category | translateField}}<span class="text-gray-25 font-size-12 font-weight-normal"> ({{category.count}})</span></a>
                                    </li>
                                    <!-- End Menu List -->
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-current" [ngClass]="id==category._id ? 'active' : ''" href="/category/{{category._id}}">{{category.category | translateField}} <span class="text-gray-25 font-size-12 font-weight-normal"> ({{category.count}})</span></a>

                            <ul class="list-unstyled dropdown-list" *ngIf="categoryChildren">
                                <!-- Menu List -->
                                <li *ngFor="let category of categoryChildren">
                                    <a class="dropdown-item" [ngClass]="id==category._id ? 'active' : ''" href="/category/{{category._id}}">
                                        {{category.category | translateField}}
                                        <span class="text-gray-25 font-size-12 font-weight-normal"> ({{category.count}})</span>
                                    </a>
                                </li>
                               <!-- End Menu List -->
                            </ul>
                        </li>
                    </ul>
                    <!-- End List -->
                </div>
                <div class="mb-6">
                    <div class="border-bottom border-color-1 mb-5">
                        <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">{{'Filters' | translate}}</h3>
                    </div>
                    <div class="border-bottom pb-4 mb-4">
                        <h4 class="font-size-14 mb-3 font-weight-bold">{{'Brands' | translate}}</h4>

                        <!-- Checkboxes -->
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1" *ngFor="let brand of brands.slice(0, maxItems); let i = index">
                            <!--
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input"
                                [(ngModel)]="brand.isChecked"                           
                                 id="brand{{i}}">
                                 
                                <label class="custom-control-label" for="brandAdidas">{{brand.name.name | translateField}}
                                  <span class="text-gray-25 font-size-12 font-weight-normal"> ({{brand.value}})</span>
                              </label>
                              
                            </div>
                        -->

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="brand.isChecked" id="brand{{i}}">
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{brand.name.name | translateField}} 
                                    <span class="text-gray-25 font-size-12 font-weight-normal">
                                        ({{brand.value}})
                                    </span>
                                </label>                    
                            </div>

                        </div>

                        <!--
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brandNewBalance">
                                <label class="custom-control-label" for="brandNewBalance">New Balance
                                  <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brandNike">
                                <label class="custom-control-label" for="brandNike">Nike
                                  <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brandFredPerry">
                                <label class="custom-control-label" for="brandFredPerry">Fred Perry
                                  <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span>
                              </label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="brandTnf">
                                <label class="custom-control-label" for="brandTnf">The North Face
                                  <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span>
                              </label>
                            </div>
                        </div>


                        -->

                        <div class="collapse" id="collapseBrand" *ngIf="brands && brands.length > maxItems">
                            <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1" 
                            *ngFor="let brand of brands.slice(maxItems); let i = index">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="brand.isChecked" id="brand{{i+maxItems}}">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{brand.name.name | translateField}} 
                                        <span class="text-gray-25 font-size-12 font-weight-normal">
                                            ({{brand.value}})
                                        </span>
                                    </label>                    
                                </div>
                            </div>
                        </div>                        
                        <!-- End View More - Collapse -->

                        <!-- Link -->
                        <a class="link link-collapse small font-size-13 text-gray-27 d-inline-flex mt-2" *ngIf="brands && brands.length > maxItems"
                        data-toggle="collapse" href="#collapseBrand" role="button" aria-expanded="false" aria-controls="collapseBrand">
                            <span class="link__icon text-gray-27 bg-white">
                              <span class="link__icon-inner">+</span>
                            </span>
                            <span class="link-collapse__default">{{'Show more' | translate}}</span>
                            <span class="link-collapse__active">{{'Show less' | translate}}</span>
                        </a>
                        <!-- End Link -->
                    </div>
                    <div class="border-bottom pb-4 mb-4">
                        <h4 class="font-size-14 mb-3 font-weight-bold">{{'Color' | translate}}</h4>

                        <!-- Checkboxes -->
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1" *ngFor="let color of colors.slice(0, maxItems); let i = index">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="color.isChecked" id="color{{i}}">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{color.name}} 
                                <span class="text-gray-25 font-size-12 font-weight-normal"> 
                                    ({{color.value}})
                                </span>
                            </label>
                          </div>                       
                        </div>

                        <!--
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="categoryShoes">
                                <label class="custom-control-label" for="categoryShoes">Black Leather <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="categoryAccessories">
                                <label class="custom-control-label" for="categoryAccessories">Black with Red <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="categoryTops">
                                <label class="custom-control-label" for="categoryTops">Gold <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></label>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="categoryBottom">
                                <label class="custom-control-label" for="categoryBottom">Spacegrey <span class="text-gray-25 font-size-12 font-weight-normal"> (56)</span></label>
                            </div>
                        </div>
                        -->
                        <!-- End Checkboxes -->

                        <!-- View More - Collapse -->

                        
                        <div class="collapse" id="collapseColor"  *ngIf="colors && colors.length > maxItems">
                            <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1"
                            *ngFor="let color of colors.slice(maxItems); let i = index">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="color.isChecked" id="color{{i+maxItems}}">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{color.name}} 
                                        <span class="text-gray-25 font-size-12 font-weight-normal"> 
                                            ({{color.value}})
                                        </span>
                                    </label>
                                </div>  
                            </div>

                        </div>
                        
                        <!-- End View More - Collapse -->

                        <!-- Link -->
                        <a class="link link-collapse small font-size-13 text-gray-27 d-inline-flex mt-2" *ngIf="colors && colors.length > maxItems" data-toggle="collapse" href="#collapseColor" role="button" aria-expanded="false" aria-controls="collapseColor">
                            <span class="link__icon text-gray-27 bg-white">
                              <span class="link__icon-inner">+</span>
                            </span>
                            <span class="link-collapse__default">{{'Show more' | translate}}</span>
                            <span class="link-collapse__active">{{'Show less' | translate}}</span>
                        </a>
                        <!-- End Link -->
                    </div>
                    <div class="range-slider">
                        <h4 class="font-size-14 mb-3 font-weight-bold">{{'Price' | translate}}</h4>
                        <!-- Range Slider -->
                        <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1" *ngFor="let price of prices; let i = index">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" [(ngModel)]="price.isChecked" id="price{{i}}">
                              <label class="form-check-label" for="flexCheckDefault">
                                  {{price.name | translate}} 
                              </label>
                            </div>                       
                        </div>

                        <button type="button" (click)="filter()" class="btn px-4 btn-primary-dark-w py-2 rounded-lg">{{'Filter' | translate}}</button>
                    </div>
                </div>
                <!--
                <div class="mb-8">
                    <div class="border-bottom border-color-1 mb-5">
                        <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">{{'Latest Products' | translate}}</h3>
                    </div>
                    <ul class="list-unstyled">
                        <li class="mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75">
                                        <img class="img-fluid" src="../../assets/img/300X300/img1.jpg" alt="Image Description">
                                    </a>
                                </div>
                                <div class="col">
                                    <h3 class="text-lh-1dot2 font-size-14 mb-0"><a href="../shop/single-product-fullwidth.html">Notebook Black Spire V Nitro VN7-591G</a></h3>
                                    <div class="text-warning text-ls-n2 font-size-16 mb-1" style="width: 80px;">
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star text-muted"></small>
                                    </div>
                                    <div class="font-weight-bold">
                                        <del class="font-size-11 text-gray-9 d-block">$2299.00</del>
                                        <ins class="font-size-15 text-red text-decoration-none d-block">$1999.00</ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75">
                                        <img class="img-fluid" src="../../assets/img/300X300/img3.jpg" alt="Image Description">
                                    </a>
                                </div>
                                <div class="col">
                                    <h3 class="text-lh-1dot2 font-size-14 mb-0"><a href="../shop/single-product-fullwidth.html">Notebook Black Spire V Nitro VN7-591G</a></h3>
                                    <div class="text-warning text-ls-n2 font-size-16 mb-1" style="width: 80px;">
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star text-muted"></small>
                                    </div>
                                    <div class="font-weight-bold font-size-15">
                                        $499.00
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75">
                                        <img class="img-fluid" src="../../assets/img/300X300/img5.jpg" alt="Image Description">
                                    </a>
                                </div>
                                <div class="col">
                                    <h3 class="text-lh-1dot2 font-size-14 mb-0"><a href="../shop/single-product-fullwidth.html">Tablet Thin EliteBook Revolve 810 G6</a></h3>
                                    <div class="text-warning text-ls-n2 font-size-16 mb-1" style="width: 80px;">
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star text-muted"></small>
                                    </div>
                                    <div class="font-weight-bold font-size-15">
                                        $100.00
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75">
                                        <img class="img-fluid" src="../../assets/img/300X300/img6.jpg" alt="Image Description">
                                    </a>
                                </div>
                                <div class="col">
                                    <h3 class="text-lh-1dot2 font-size-14 mb-0"><a href="../shop/single-product-fullwidth.html">Notebook Purple G952VX-T7008T</a></h3>
                                    <div class="text-warning text-ls-n2 font-size-16 mb-1" style="width: 80px;">
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star text-muted"></small>
                                    </div>
                                    <div class="font-weight-bold">
                                        <del class="font-size-11 text-gray-9 d-block">$2299.00</del>
                                        <ins class="font-size-15 text-red text-decoration-none d-block">$1999.00</ins>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="row">
                                <div class="col-auto">
                                    <a href="../shop/single-product-fullwidth.html" class="d-block width-75">
                                        <img class="img-fluid" src="../../assets/img/300X300/img10.png" alt="Image Description">
                                    </a>
                                </div>
                                <div class="col">
                                    <h3 class="text-lh-1dot2 font-size-14 mb-0"><a href="../shop/single-product-fullwidth.html">Laptop Yoga 21 80JH0035GE W8.1</a></h3>
                                    <div class="text-warning text-ls-n2 font-size-16 mb-1" style="width: 80px;">
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star text-muted"></small>
                                    </div>
                                    <div class="font-weight-bold font-size-15">
                                        $1200.00
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            -->
            </div>
            <div class="col-xl-9 col-wd-9gdot5">
                <app-product-list-whole [products]="products" [title]="title"></app-product-list-whole>
            </div>
        </div>
        <!-- Brand Carousel -->
        <div class="mb-6">
            <div class="py-2 border-top border-bottom">
                <div class="js-slick-carousel u-slick my-1" data-slides-show="5" data-slides-scroll="1" data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y" data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                    data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right" data-responsive='[{
                      "breakpoint": 992,
                      "settings": {
                          "slidesToShow": 2
                      }
                  }, {
                      "breakpoint": 768,
                      "settings": {
                          "slidesToShow": 1
                      }
                  }, {
                      "breakpoint": 554,
                      "settings": {
                          "slidesToShow": 1
                      }
                  }]'>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img1.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img2.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img3.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img4.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img5.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img6.png" alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Carousel -->
    </div>
</main>