<div *ngIf="merchantStatus != 'pending'">

  <div class="main-overview" *ngIf="!isUserSummary">  <!-- 菜单: Store -->
    <div class="overviewCard" [routerLink]="['/merchant/brands']">
      <div class="overviewCard-icon overviewCard-icon--document">
         <img src="/assets/svg/brand-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'Brands' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{brands_count}}</p>
      </div>
    </div>
    <div class="overviewCard" [routerLink]="['/merchant/categories']">
      <div class="overviewCard-icon overviewCard-icon--calendar">
        <img src="/assets/svg/category-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'Categories' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{categories_count}}</p>
      </div>
    </div>
    <div class="overviewCard" [routerLink]="['/merchant/products']">
      <div class="overviewCard-icon overviewCard-icon--mail">
        <img src="/assets/svg/product-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'Products' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{products_count}}</p>
      </div>
    </div>
    <div class="overviewCard" [routerLink]="['/merchant/collections']">
      <div class="overviewCard-icon overviewCard-icon--photo">
        <img src="/assets/svg/collection-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'Collections' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{collections_count}}</p>
      </div>
    </div>
  </div> 
  
  <div class="main-overview" *ngIf="isUserSummary">
    <div class="overviewCard" [routerLink]="['/merchant/cart']">
      <div class="overviewCard-icon overviewCard-icon--document">
         <img src="/assets/svg/cart-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'My cart' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{my_cart_count}}</p>
      </div>
    </div>
    <div class="overviewCard" [routerLink]="['/merchant/favorite']">
      <div class="overviewCard-icon overviewCard-icon--calendar">
        <img src="/assets/svg/favorite-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'My favorite' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{my_favorite_count}}</p>
      </div>
    </div>
    <div class="overviewCard" [routerLink]="['/merchant/my-products']">
      <div class="overviewCard-icon overviewCard-icon--mail">
        <img src="/assets/svg/product-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'My products' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{my_products_count}}</p>
      </div>
    </div>
    <div class="overviewCard" [routerLink]="['/merchant/my-comments']">
      <div class="overviewCard-icon overviewCard-icon--photo">
        <img src="/assets/svg/comment-white.svg">
      </div>
      <div class="overviewCard-description">
        <h3 class="overviewCard-title text-black"> <strong>{{'My comments' | translate}}</strong></h3>
        <p class="overviewCard-subtitle">{{my_comments_count}}</p>
      </div>
    </div>
  </div> 
  
  <div class="border-top m-3">  <!-- margin, sides, $spacer * 1.0 -->
    <app-merchant-orders></app-merchant-orders>
  </div>
</div>

<div *ngIf="merchantStatus == 'pending'" class="text-success d-flex justify-content-center align-items-center h-100">
  {{'You have submited application successful, please waiting for review, it may take 3~5 business days.' | translate}}
</div>
