
<!-- 厨师查看订单（后台） -->

<ion-grid class="border rounded bg-white" *ngIf="order">
  <ion-row class="font-size-16">
    <ion-col size="12" class="ion-text-left">
      {{ 'Number' | translate }}: {{ tableNo }}
    </ion-col>
    <!-- <ion-col size="12" class="ion-text-left">
      {{ 'Owner' | translate }}: {{ order.owner }}
    </ion-col> -->
    <ion-col size="12" class="ion-text-left">
      {{ 'Order' | translate }}: {{ orderId }}
    </ion-col>
    <ion-col size="12" class="ion-text-left">
      {{ 'Date' | translate }}: {{ order.create | date:'yyyy-MM-dd hh:mm:ss' }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-title><h1>{{ "Order" | translate }}</h1></ion-title>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="cart-table">

      <form class="" action="#" method="post">  <!-- "mb-4" -->
        <table class="table mb-3" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th class="product-name">{{ 'Product' | translate }}</th>
                    <th class="product-price">{{ 'Price' | translate }}</th>
                    <th class="product-quantity w-lg-15">{{ 'Quantity' | translate }}</th>
                    <th class="product-subtotal">{{ 'Total' | translate }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="py-2" *ngFor="let item of order.items">
                    <td>
                        <div *ngIf="item.flag <= 0">×</div>
                    </td>
                    <td class="font-weight-bold">
                        {{ item.title }}
                        <span *ngIf="(item.flavor && item.flavor != '') || (item.size && item.size != '')">
                          (
                            <span *ngIf="item.flavor && item.flavor != ''">{{ item.flavor }}, </span>
                            <span *ngIf="item.size && item.size != ''">{{ item.size }}, </span>
                          )
                        </span>
                    </td>
                    <td>{{ item.price }}</td>
                    <td>x {{ item.quantity }}</td>
                    <td>{{ item.price * item.quantity }} {{ currency }}</td>
                    <td>
                        <div *ngIf="item.flag <= 0">
                            <a class="font-size-20 px-4 border border-danger rounded" (click)="setFood(orderId, item.pid, item.flavor, item.size, item.quantity, 1)">√</a>
                        </div>
                        <div *ngIf="item.flag > 0">
                            <a class="font-size-20 px-4 border border-danger rounded" (click)="setFood(orderId, item.pid, item.flavor, item.size, item.quantity, 0)">×</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="border-top">
                <tr>
                    <th colspan="4" class="text-right font-size-20">{{ 'Subtotal' | translate }}</th>
                    <th class="font-size-17">
                        {{subtotal}} {{currency}}
                    </th>
                    <th></th>
                </tr>
                <!-- <tr>
                    <th colspan="4" class="text-right font-size-20">{{ 'Shipping' | translate }}</th>
                    <th class="font-size-17">
                        {{ (shippingFee == 0 ? 'Free' : (shippingFee + currency)) | translate }}
                    </th>
                    <th></th>
                </tr> -->
                <!-- <tr *ngIf="discount">
                    <th colspan="4" class="text-right font-size-20">{{ 'Discount' | translate }}</th>
                    <th class="font-size-17">
                        {{ discount }}%
                    </th>
                    <th></th>
                </tr> -->
                <tr>
                    <th colspan="4" class="text-right font-size-20">{{ 'Tax' | translate }}</th>
                    <th class="font-size-17">
                        {{ tax }} {{ currency }}
                    </th>
                    <th></th>
                </tr>
                <tr *ngIf="tips >= 0">
                    <th colspan="4" class="text-right font-size-20">{{ 'Tips' | translate }}</th>
                    <th class="font-size-17">
                        {{ tips }} {{ currency }}
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="4" class="text-right font-size-20">{{ 'Total' | translate }}</th>
                    <th class="font-size-17">
                        {{ total }} {{ currency }}
                    </th>
                    <th></th>
                </tr>
                <tr *ngIf="diffFlag == 1 || diffFlag == 3">  <!-- && order.paymentStatus != 2 -->
                    <td colspan="6" class="text-center font-size-20 border">
                        <b>{{ 'Number' | translate }}: {{ tableNo }}, {{'Placed Order' | translate}}</b>
                    </td>
                </tr>
                <tr *ngIf="diffFlag == 2 || diffFlag == 4">  <!-- && order.paymentStatus == 2 -->
                    <td colspan="6" class="text-center font-size-20 border">
                        <b>{{ 'Number' | translate }}: {{ tableNo }}, {{'Pay Bill' | translate}}</b>
                    </td>
                </tr>
                <tr *ngIf="diffFlag == 0">
                    <td colspan="6" class="text-center font-size-20 border">
                        <b>{{ 'Number' | translate }}: {{ tableNo }}, {{'New Order' | translate}}</b>
                    </td>
                </tr>
            </tfoot>
        </table>
      </form>

    </ion-col>
  </ion-row>

  <ion-row class="py-3">
    <ion-col size="12" class="ion-text-center">
      <!-- 生成二维码 -->
      <qrcode [qrdata]="QrUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <!-- 显示二维码链接 -->
      {{ QrUrl }}
    </ion-col>
  </ion-row>
</ion-grid>


    <!-- <div class="row justify-content-center">
        <div class="m-3 p-3 container border rounded bg-white">

            <div class="container font-size-16" *ngIf="order">
                <div class="text-left">
                    {{ 'Number' | translate }}: {{ tableNo }}
                </div>
                <div class="text-left">
                    {{ 'Owner' | translate }}: {{ order.owner }}
                </div>
                <div class="text-left">
                    {{ 'Order' | translate }}: {{ orderId }}
                </div>
                <div class="text-left">
                    {{ 'Date' | translate }}: {{ order.dateCreated | date:'yyyy-MM-dd hh:mm:ss' }}
                </div>
                <div class="text-center">
                    <h2>{{ "Order" | translate }}</h2>
                </div>

                <div class="cart-table">
                    <form class="" action="#" method="post">
                        <table class="table mb-3" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="product-name">{{ 'Product' | translate }}</th>
                                    <th class="product-price">{{ 'Price' | translate }}</th>
                                    <th class="product-quantity w-lg-15">{{ 'Quantity' | translate }}</th>
                                    <th class="product-subtotal">{{ 'Total' | translate }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="py-2" *ngFor="let item of order.items">
                                    <td>
                                        <div *ngIf="item.lockedDays <= 0">×</div>
                                    </td>
                                    <td class="font-weight-bold">{{ item.title }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>x {{ item.quantity }}</td>
                                    <td>{{ item.price * item.quantity }} {{ currency }}</td>
                                    <td>
                                        <div *ngIf="item.lockedDays <= 0">
                                            <a class="font-size-20 px-4 border border-danger rounded" (click)="setFood(orderId, item._id, item.quantity, 1)">√</a>
                                        </div>
                                        <div *ngIf="item.lockedDays > 0">
                                            <a class="font-size-20 px-4 border border-danger rounded" (click)="setFood(orderId, item._id, item.quantity, 0)">×</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="border-top">
                                <tr>
                                    <th colspan="4" class="text-right font-size-20">{{ 'Subtotal' | translate }}</th>
                                    <th class="font-size-17">
                                        {{subtotal}} {{currency}}
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right font-size-20">{{ 'Tax' | translate }}</th>
                                    <th class="font-size-17">
                                        {{tax}} {{currency}}
                                    </th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="4" class="text-right font-size-20">{{ 'Total' | translate }}</th>
                                    <th class="font-size-17">
                                        {{total}} {{currency}}
                                    </th>
                                    <th></th>
                                </tr>
                                <tr *ngIf="diffFlag == 1 || diffFlag == 3">
                                    <td colspan="6" class="text-center font-size-20 border">
                                        <b>{{ 'Number' | translate }}: {{ tableNo }}, {{'Placed Order' | translate}}</b>
                                    </td>
                                </tr>
                                <tr *ngIf="diffFlag == 2 || diffFlag == 4">
                                    <td colspan="6" class="text-center font-size-20 border">
                                        <b>{{ 'Number' | translate }}: {{ tableNo }}, {{'Pay Bill' | translate}}</b>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <div class="text-center">
                    <qrcode [qrdata]="QrUrl" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
                <div class="text-center">
                    {{ QrUrl }}
                </div>
            </div>

        </div>
    </div> -->

