
<!-- 取消 storeId，增加 orderId，改掉 "/store/{{ storeId }}" -->

<div class="container-fluid">
  <ul class="nav bg-danger justify-content-center">
    <li>
      <a class="nav-link text-white" href="/store/order/{{ orderId }}">
        {{ "ALL" | translateField }}
      </a>  <!-- 全部类别 -->
    </li>
    <li class="nav-item" *ngFor="let category of categories">
      <div *ngIf="category.children && (category.children.length > 0)">
        <a class="nav-link text-white" type="button" id="category-{{category._id}}" data-bs-toggle="dropdown">
          {{ category.name | translateField }}
        </a>
        <ul class="dropdown-menu">
          <li *ngFor="let subcategory of category.children">
            <a class="dropdown-item" href="/store/type/{{subcategory._id}}/order/{{ orderId }}">
              {{ subcategory.name | translateField }}
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="!category.children || (category.children.length == 0)">
        <a class="nav-link text-white" href="/store/type/{{ category.id }}/order/{{ orderId }}">
          {{ category.name | translateField }}
        </a>
      </div>
    </li>
  </ul>
</div>
