<div *ngIf="images" class="d-flex">
  <div *ngFor="let image of images" class="px-2">
    <img class="thumbnail-img" src="{{image}}">
  </div>
</div>
<div *ngIf="!images">
  <label for="email">
    Media
  </label>
  <div>
    <ul>
      <li *ngFor="let file of files">
        {{file.progress}}
        <span id="file-label">

        </span>
      </li>
    </ul>
  </div>

  <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
  <div class="media-container">
    <div class="Polaris-Stack__Item_yiyol">
    </div>
    <div class="Polaris-Stack__Item_yiyol py-2">
      <input type="file" accept="image/png, image/jpeg" (change)="fileChangeEvent($event.target.files)">
    </div>
    <div class="Polaris-Stack__Item_yiyol">
      <span class="Polaris-TextStyle--variationSubdued_1segu">or drop files to upload</span>
    </div>
    <div class="green" *ngIf="uploadSuccess">
      Uploaded successful !
      <br>
      {{url}}
      <br>
      <img src={{url}} width="200">
    </div>
    <div class="red" *ngIf="errMsg">
      {{errMsg}}
    </div>
  </div>
</div>