<input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" (change)="fileChangeEvent($event.target.files)" style="display:none;" />
<div class="container w-100">

  <div *ngIf="checkedImages && (checkedImages.length > 0)" class="pb-2 d-flex justify-content-between">
    <div>
      <input class="checkbox"   type="checkbox" checked="true">
      {{checkedImages.length}} media selected
    </div>
    <div>
      <a class="delete-media py-2" (click)="deleteMedia()">
        Delete media
      </a>
    </div>
  </div>

  <div class="row w-100 flex-wrap">

    <div *ngFor="let image of images" class="col col-3 p-2">
      <div class="img-container" [ngClass]="isChecked(image) ? 'checkbox-visble' : ''">
        <input class="checkbox"  (change)="FieldsChange(image,$event)" type="checkbox">
        <img class="thumbnail-img" src="{{image}}">
      </div>
    
    </div>

    <div class="border col col-3 px-2 py-3 d-flex justify-content-center align-items-center" *ngIf="!singleFile || !images || (images.length == 0)">

      <div>
        <div class="Polaris-Stack__Item_yiyol py-2">
          <button class="btn" (click)="fileUpload.click()">Click</button>
        </div>

        <div class="Polaris-Stack__Item_yiyol">
          <span class="Polaris-TextStyle--variationSubdued_1segu">or drop files to upload</span>
        </div>        
      </div>
    </div>    
  </div>

</div>

<!--
<div *ngIf="!images">
  <label for="email">
    Media
  </label>
  <div>
    <ul>
      <li *ngFor="let file of files">
        {{file.progress}}
        <span id="file-label">

        </span>
      </li>
    </ul>
  </div>

  
  <div class="media-container">
    <div class="Polaris-Stack__Item_yiyol">
    </div>
    <div class="Polaris-Stack__Item_yiyol py-2">
      <button class="btn" (click)="fileUpload.click()">Click</button>
    </div>
    <div class="Polaris-Stack__Item_yiyol">
      <span class="Polaris-TextStyle--variationSubdued_1segu">or drop files to upload</span>
    </div>
    <div class="green" *ngIf="uploadSuccess">
      Uploaded successful !
      <br>
      {{url}}
      <br>
      <img src={{url}} width="200">
    </div>
    <div class="red" *ngIf="errMsg">
      {{errMsg}}
    </div>
  </div>
</div>

-->