<div class="pills-content">
    <section *ngFor="let selectedCollection of selectedCollections; let i = index">
        <span>{{selectedCollection.name}}</span>
        <i class="Pill--delete material-icons" title="Remove" value="close" size="24" (click)="removeCollection(i)">close</i>
    </section> 
</div>

<div class="pills-content">
    <section *ngFor="let selectedCurrency of selectedCurrencies; let i = index">
        <span>{{selectedCurrency}}</span>
        <i class="Pill--delete material-icons" title="Remove" value="close" size="24" (click)="removeCurrency(i)">close</i>
    </section>    
</div>