.pills-content {
    padding: 24px 32px 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;    
}

section {
    -webkit-box-align: center;
    align-items: center;
    cursor: default;
    display: flex;
    height: 48px;
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(21, 178, 229, 0.06);
    border-color: rgb(21, 178, 229);
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(229, 232, 235);
    overflow: hidden;
}

.Pill--delete {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    margin-left: 8px;
    color: rgb(138, 147, 155);
    cursor: pointer;
}