<div class="main-overview">
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--document">
       <img src="/assets/svg/brand-white.svg">
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"> <strong>Brands</strong></h3>
      <p class="overviewCard-subtitle">{{brands_count}}</p>
    </div>
  </div>
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--calendar">
      <img src="/assets/svg/category-white.svg">
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"> <strong>Categories</strong></h3>
      <p class="overviewCard-subtitle">{{categories_count}}</p>
    </div>
  </div>
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--mail">
      <img src="/assets/svg/product-white.svg">
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"> <strong>Products</strong></h3>
      <p class="overviewCard-subtitle">{{products_count}}</p>
    </div>
  </div>
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--photo">
      <img src="/assets/svg/customer-white.svg">
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light"> <strong>Collections</strong></h3>
      <p class="overviewCard-subtitle">{{collections_count}}</p>
    </div>
  </div>
</div> 


<div class="card">
    <div class="card__header">Orders</div>
    <div class="card__main">
      <app-admin-orders></app-admin-orders>
    </div>
</div>
