<div class="main-overview">
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--document">
       <i class="far fa-file-alt"></i>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light">New <strong>Document</strong></h3>
      <p class="overviewCard-subtitle">Europe Trip</p>
    </div>
  </div>
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--calendar">
       <i class="far fa-calendar-check"></i>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light">Upcoming <strong>Event</strong></h3>
      <p class="overviewCard-subtitle">Chili Cookoff</p>
    </div>
  </div>
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--mail">
       <i class="far fa-envelope"></i>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light">Recent <strong>Emails</strong></h3>
      <p class="overviewCard-subtitle">+10</p>
    </div>
  </div>
  <div class="overviewCard">
    <div class="overviewCard-icon overviewCard-icon--photo">
       <i class="far fa-file-image"></i>
    </div>
    <div class="overviewCard-description">
      <h3 class="overviewCard-title text-light">New <strong>Album</strong></h3>
      <p class="overviewCard-subtitle">House Concert</p>
    </div>
  </div>
</div> 


<div class="card">
    <div class="card__header">John Doe</div>
    <div class="card__main">Architect & Engineer</div>
</div>
