
<!-- 统一页首 -->

<ion-toolbar>
  <ion-thumbnail slot="start">
    <ion-img src="{{ store.image ? store.image : '/assets/images/logo/ecombar-logo.png' }}"></ion-img>
  </ion-thumbnail>
  <h1 *ngIf="(tableNo && tableNo > 0)">&nbsp;{{ store.name | translateField }} ({{ 'No.' | translateField }}&nbsp;{{ tableNo }})</h1>
  <h1 *ngIf="!(tableNo && tableNo > 0)">&nbsp;{{ store.name | translateField }}</h1>

  <ion-buttons slot="end"> 
    <ion-button fill="clear" routerLink="/store/cart">  <!-- routerLink="/store/{{ storeId }}/cart" -->
      <ion-icon name="bag-outline"></ion-icon>
      <span class="width-22 height-22 bg-dark position-absolute d-flex align-items-center justify-content-center rounded-circle left-12 top-8 font-weight-bold font-size-12 text-white"> {{ cartCount }}</span>
      <span class="ml-3">{{ 'Cart' | translate }}</span>
    </ion-button>
    <ion-button fill="clear" routerLink="/store/order2">
      <ion-icon name="reader-outline"></ion-icon>{{ "Order" | translate }}
    </ion-button>
    <ion-select interface="popover" placeholder="LANGUAGE" [(ngModel)]="_lang" (ionChange)="changeLanguage(_lang)">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="sc">简体中文</ion-select-option>
      <ion-select-option value="tc">繁體中文</ion-select-option>
    </ion-select>
  </ion-buttons>
</ion-toolbar>
