<div class="container">
<!-- Feature List -->
<div class="mb-6 row border rounded-lg mx-0 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
    <!-- Feature List -->
    <div class="media col px-6 px-xl-4 px-wd-8 flex-shrink-0 flex-xl-shrink-1 min-width-270-all py-3" *ngFor="let feature of features">
        <div class="u-avatar mr-2">
            <i class="text-primary ec ec-transport font-size-46" [ngClass]="feature.icon"></i>
        </div>
        <div class="media-body text-center">
            <span class="d-block font-weight-bold text-dark">{{feature.title | translateField}}</span>
            <div class=" text-secondary">{{feature.subtitle | translateField}}</div>
        </div>
    </div>
    <!-- End Feature List -->

</div>
</div>