.main-container {
    margin: 20px 20px 15px;
}

.Toolbar--interface {
    display: flex;
}

.Toolbar--icon {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    color: rgba(53, 56, 64, 0.75);
    margin: 0px;
    padding: 0px;
}

.Toolbar--interface .Toolbar--tool:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 2px solid rgb(229, 232, 235);
    border-right: 1px solid rgb(229, 232, 235);
}

.Toolbar--interface .Toolbar--tool {
    width: 100%;
    min-width: 40px;
    border: 1px solid rgb(229, 232, 235);
    padding: 5px 5px 5px 6px;
    margin-bottom: -1px;
    cursor: pointer;
}

.item--title {
    font-size: 30px;
    font-weight: 600;
    max-width: 100%;
    width: 588px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Image--image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.ImageWrapper {
    cursor: pointer;
    margin-right: 5px;    
}

.omega{
    float:right;
}

.price {
    font-size: 25px;
    font-weight: 600;
}

.dropdownParent {
    position: relative;
}

.dropdown {
    z-index: 9999;
    position: absolute;
    transform: translate3d(-50px, 15px, 0px);
    max-height: 350px;
    overflow-y: auto;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(14, 14, 14);
}

.hide {
    display: none;
}

ul, ul li {
    list-style: none;
    margin: 0px;
    padding-left: 0;
}

ul > :not(:last-child) {
    border-bottom: 1px solid rgb(229, 232, 235);
}

.dropdown-item {
    padding: 16px;
}