<div class="main-container" *ngIf="collection && asset">
    <div class="d-flex justify-content-between">
        <div>
            <a href="/nft/admin/collections/{{collection.slug}}/view">
                {{collection.name}} 
            </a>
          
        </div>
        <div class="toolbar-wrapper">
            <div class="Toolbar--interface">
                <span class="Toolbar--tool" (click)="onRefresh()">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV Toolbar--icon material-icons" value="refresh" size="24">refresh</i>
                </span>
                <span class="Toolbar--click-handler Toolbar--tool" aria-expanded="false">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV Toolbar--icon material-icons" value="share" size="24">share</i>
                </span>
                <span class="Toolbar--click-handler Toolbar--tool" aria-expanded="false">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV Toolbar--icon material-icons" value="more_vert" size="24">more_vert</i>
                </span>
            </div>
        </div>
    </div>

    <header class="item--title">{{asset.name}}</header>

    <div class="d-flex">
        <div class="pr-2">
            <div class="d-inline-block ImageWrapper">
                <img class="Image--image" src="https://storage.googleapis.com/opensea-static/opensea-profile/20.png" style="object-fit: cover;">
 
            </div>
            <span>Owned by {{owner == address ? 'you' : owner}}</span>
            <div class="pt-2" *ngIf="sellOrder">
                <span class="price">{{sellOrder.basePrice}} {{getCoinName(sellOrder.coinType)}}</span>
            </div>
        </div>

        <div class="pl-2">
            <div class="d-inline-block pr-1">
                <i class="Panel--icon material-icons" size="24">visibility</i>
            </div>
            
            <span class="omega">3 views</span>
        </div>
    </div>
</div>

