<div class="container-fluid banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="introText">
                    <div class="home--subtitle">{{'Buy, sell, and discover rare digital items' | translate}}</div>
                    <h1 class="home--title">The unique <span>NFT artwork collections</span></h1>
                    <div class="home--buttons">
                        <a rel="noreferrer" style="color:white;display:inline-block" role="link" href="/nft/assets">
                            <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light" data-testid="ActionButton"
                                role="button" tabindex="0">
                                <div class="ActionButton--content " style="min-width:120px">{{'Explore' | translate}}</div>
                            </div>
                        </a>

                        <a rel="noreferrer" style="color:white;display:inline-block" role="link" href="/nft/admin/collections">
                            <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--secondary ActionButton--light "
                                data-testid="ActionButton" role="button" tabindex="0" type="secondary">
                                <div class="ActionButton--content " style="min-width:120px">{{'Create' | translate}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 imgBlock">
                <img src="/assets/nft/img/colorful-3d-shapes.jpg">
            </div>
        </div>
    </div>
</div>



<div class="home--header about">
    <div class="home--title2">ABOUT COLLECTION GALA</div>
    <div class="home--subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius modjior tem incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamyl quinol exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    <div class="home--buttons">
        <a rel="noreferrer" style="color:white;display:inline-block" role="link" href="/nft/assets">
            <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light " data-testid="ActionButton"
                role="button" tabindex="0">
                <div class="ActionButton--content " style="min-width:120px">{{'Explore' | translate}}</div>
            </div>
        </a>
        <a rel="noreferrer" style="color:white;display:inline-block" role="link" href="/nft/admin/collections">
            <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--secondary ActionButton--light "
                data-testid="ActionButton" role="button" tabindex="0" type="secondary">
                <div class="ActionButton--content " style="min-width:120px">{{'Create' | translate}}</div>
            </div>
        </a>
    </div>
</div>

<app-nft-get-started></app-nft-get-started>