.home--header {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.1;
    min-height: 325px;
    padding: 8vh 8vw 0px;
    text-align: center;
    width: 100%;
}

.home--header .home--title {
    color: rgb(14, 14, 14);
    font-size: 29px;
    font-weight: 300;
    max-width: 80vw;
}

.home--header .home--subtitle {
    color: rgb(14, 14, 14);
    display: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 800px;
    margin: 10px auto 23px;
    opacity: 0.8;
}

@media (min-width: 600px) {
    .home--header {
        padding: 10vh 14vw 9vh;
    }
    
}

@media (min-width: 375px) {
    .home--header {
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .home--header .home--title {
        max-width: 700px;
    }
}

@media (min-width: 600px) {
    .home--header .home--title {
        font-size: 50px;
        font-weight: 300;
        margin: inherit;
        max-width: 460px;
        width: inherit;
    }
} 

@media (min-width: 375px) {
    .home--header .home--title {
        margin: 2rem 0px 0px;
        width: 390px;
        min-width: 322px;
    }
} 

@media (min-width: 600px) {
    .home--header .home--subtitle {
        display: block;
    }
} 


.home--header .home--buttons {
    display: flex;
    justify-content: space-around;
    width: 380px;
    max-width: 100%;
}

@media (min-width: 768px) {
    .home--header .home--buttons {
        margin-top: 0px;
    }
}

@media (min-width: 600px) {
    .home--header .home--buttons {
        margin-top: 0px;
    }
}
@media (min-width: 375px) {
    .home--header .home--buttons {
        margin-top: 40px;
    }
}

.bwFKIF {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    user-select: none;
}

.bwFKIF .ActionButton--content {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}


.bwFKIF.ActionButton--light.ActionButton--secondary {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(32, 129, 226);
}
