
<!-- 上下边线，解决 margin 问题 -->
<!-- <main id="content" role="main" class="border-top border-bottom bg-light"> -->

    <div class="row justify-content-center">  <!-- 本行，水平置中 -->
        <div class="m-3 p-3 container border rounded bg-white">  <!-- 背景白色，圆角边框，mb-3 改 m-3 -->

            <div class="container font-size-16" *ngIf="order">  <!-- container 水平置中了 -->
                <div class="text-left">
                    {{ 'Number' | translate }}: {{ tableNo }}
                </div>
                <!-- <div class="text-left">
                    {{ 'ObjectId' | translate }}: 
                    <a target="_blank" href="/iddock/detail/things/{{order.objectId}}">
                        {{order.objectId}}
                    </a>
                </div> -->
                <div class="text-left">
                    {{ 'Owner' | translate }}: {{ order.owner }}
                </div>
                <div class="text-left">
                    {{ 'Order' | translate }}: {{ orderId }}
                </div>
                <div class="text-left">
                    {{ 'Date' | translate }}: {{ order.dateCreated | date:'yyyy-MM-dd hh:mm:ss' }}
                </div>
                <div class="text-center">
                    <h2>{{ "Order" | translate }}</h2>
                </div>

                <div class="cart-table">  <!-- 下边框 mb-10 -->
                    <form class="" action="#" method="post">  <!-- "mb-4" -->
                        <table class="table mb-3" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-name">{{'Product' | translate}}</th>
                                    <th class="product-price">{{'Price' | translate}}</th>
                                    <th class="product-quantity w-lg-15">{{'Quantity' | translate}}</th>
                                    <th class="product-subtotal">{{'Total' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="py-2" *ngFor="let item of order.items">
                                    <td class="font-weight-bold">{{ item.title }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>x {{ item.quantity }}</td>
                                    <td>{{ item.price * item.quantity }} {{ currency }}</td>
                                </tr>
                            </tbody>
                            <tfoot class="border-top">
                                <tr>
                                    <th colspan="3" class="text-right font-size-20">{{ 'Subtotal' | translate }}</th>
                                    <th class="font-size-17">
                                        {{subtotal}} {{currency}}
                                    </th>
                                </tr>
                                <!-- <tr>
                                    <th colspan="3" class="text-right font-size-20">{{ 'Shipping' | translate }}</th>
                                    <th class="font-size-17">
                                        {{ (shippingFee == '0' ? 'Free' : (shippingFee + currency)) | translate }}
                                    </th>
                                </tr> -->
                                <tr *ngIf="discount">
                                    <th colspan="3" class="text-right font-size-20">{{ 'Discount' | translate }}</th>
                                    <th class="font-size-17">
                                        {{ discount }}%
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-right font-size-20">{{ 'Tax' | translate }}</th>
                                    <th class="font-size-17">
                                        {{tax}} {{currency}}
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-right font-size-20">{{ 'Total' | translate }}</th>
                                    <th class="font-size-17">
                                        {{total}} {{currency}}
                                    </th>
                                </tr>
                                <tr *ngIf="diffFlag && order.paymentStatus != 2">
                                    <td colspan="4">
                                        <button type="button" class="btn btn-warning btn-lg btn-block NewButton" (click)="confirmOrder()">
                                            {{'Place Order' | translate}}, {{'GET IT' | translate}}
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="diffFlag && order.paymentStatus == 2">
                                    <td colspan="4">
                                        <button type="button" class="btn btn-danger btn-lg btn-block NewButton" (click)="confirmOrder()">
                                            {{'Pay Bill' | translate}}, {{'GET IT' | translate}}
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="!diffFlag && order.paymentStatus != 2">
                                    <td colspan="4" class="text-center font-size-20">
                                        {{'Place Order' | translate}}, {{'We knew' | translate}}
                                    </td>
                                </tr>
                                <tr *ngIf="!diffFlag && order.paymentStatus == 2">
                                    <td colspan="4" class="text-center font-size-20">
                                        {{'Pay Bill' | translate}}, {{'We knew' | translate}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <!-- <div>
                    {{ 'Email' | translate }}: {{ order.merchantId.email }}
                </div> -->
                <!-- Login Email: {{ order.merchantId.createMemberId.email }} -->
            </div>

        </div>
    </div>

<!-- </main> -->


<!-- <div class="m-3 list-group" *ngIf="order">
    <div class="list-group-item list-group-item-action active">
        Order ID:{{id}}
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Merchant information
        </div>
        <div class="list-group-item list-group-item-action">
            Name: {{order.merchantId.name}}
        </div>
        <div class="list-group-item list-group-item-action">
            Phone: {{order.merchantId.phone}}
        </div>  
        <div class="list-group-item list-group-item-action">
            Email: {{order.merchantId.email}}
        </div>    
        <div class="list-group-item list-group-item-action">
            Login Email: {{order.merchantId.createMemberId.email}}
        </div>         
    </div>
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Items information
        </div>
        <div class="list-group-item list-group-item-action">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of order.items">
                    <th scope="row">
                        <img class="img-thumbnail" [src]="item.thumbnailUrl">
                    </th>
                    <td>{{item.title}}</td>
                    <td>{{item.price}} {{item.currency}}</td>
                    <td>{{item.quantity}}</td>
                  </tr>
                </tbody>
              </table>
        </div>        
    </div>       
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Payment information
        </div>
        <div class="list-group-item list-group-item-action">
            Payment Method: {{order.paymentMethod}}
        </div>
        <div class="list-group-item list-group-item-action">
            payment Status: {{order.paymentStatus}}
        </div>  
        <div class="list-group-item list-group-item-action">
            Charge ID: {{order.charge_id}}
        </div>          
    </div>   
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Shipping information
        </div>
        <div class="list-group-item list-group-item-action">
            Shipping Service: {{order.shippingServiceSelected}}
        </div>
        <div class="list-group-item list-group-item-action">
            Receiver name: {{order.name}}
        </div>  
        <div class="list-group-item list-group-item-action">
            Address: {{order.unit}} {{order.streetNumber}} {{order.streetName}} {{order.district}}
            {{order.city}} {{order.zip}}, {{order.province}} {{order.country}}
        </div>         
    </div>     
    <div class="list-group-item list-group-item-action">
        <div class="list-group-item list-group-item-action active">
            Iddock information
        </div>
        <div class="list-group-item list-group-item-action">
            Object ID: 
            <a target="_blank" href="/iddock/detail/things/{{order.objectId}}">
                {{order.objectId}}
            </a>
        </div>        
    </div>  
</div> -->
