
<div class="row u-header__mega-menu-wrapper">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3" *ngFor="let subcategory of category.children">
                <span class="u-header__sub-menu-title">
                        <a class="subcategory" href="/category/{{subcategory._id}}">                        
                        {{subcategory.category | translateField}}
                        </a>
                </span>
                <ul class="u-header__sub-menu-nav-group mb-3">
                    <li *ngFor="let subsubcategory of subcategory.children">
                        <a href="/category/{{subsubcategory._id}}"
                            class="nav-link u-header__sub-menu-nav-link">
                            {{subsubcategory.category | translateField}}
                        </a>
                    </li>

                </ul>
                <!--
                <span class="u-header__sub-menu-title">Cases &amp;
                    Covers</span>
                <ul class="u-header__sub-menu-nav-group">
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            iPhone X<br> </a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            Samsung S9</a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Below
                            AED 59</a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            Xiaomi</a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            iPhone 7</a></li>
                </ul>
                -->
            </div>
            <!--
            <div class="col-md-3">
                <span class="u-header__sub-menu-title">Tablets</span>
                <ul class="u-header__sub-menu-nav-group mb-3">
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">iPads</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Samsung</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Microsoft
                            Surface</a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Lenovo</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Innjoo</a>
                    </li>
                </ul>
                <ul class="u-header__sub-menu-nav-group">
                    <span class="u-header__sub-menu-title">Shop By
                        Price</span>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            iPhone X<br> </a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            Samsung S9</a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Below
                            AED 59</a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            Xiaomi</a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">For
                            iPhone 7</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <span class="u-header__sub-menu-title">Mobiles</span>
                <ul class="u-header__sub-menu-nav-group">
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Samsung</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Lenovo</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Mi</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Motorola</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Oppo</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Panasonic<br>
                        </a></li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">HTC</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Blackberry</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">LG</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Micromax</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Nokia</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Huawei</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <span class="u-header__sub-menu-title">#Trending</span>
                <ul class="u-header__sub-menu-nav-group">
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Oppo</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Panasonic</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Samsung</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Lenovo</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Mi</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Motorola</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Nokia</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Huawei</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">HTC</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Blackberry</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">LG</a>
                    </li>
                    <li><a href="#"
                            class="nav-link u-header__sub-menu-nav-link">Micromax</a>
                    </li>
                </ul>
            </div>
        -->
        </div>
    </div>
    <div class="col-md-4">
        <a href="#" class="d-block">
            <img class="img-fluid" src="../../assets/img/1024X1024/img1.jpg"
                alt="Image Description">
        </a>
    </div>
</div>
