<!-- <div class="auth-container d-flex justify-content-center">
    <div class="container">
      <h1>Sign In</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>


      <div class="clearfix d-flex justify-content-around align-items-center">
        <div class="mx-2">
          <input type="checkbox" checked="checked" name="remember" value="">
          <label for="vehicle1"> Remember me</label><br>          
        </div>
        <div class="mx-2">
          <button type="submit" class="signinbtn" (click)="signin()">Sign In</button>
        </div>
        <div class="red mx-2 left" *ngIf="errMsg">
          {{errMsg | translate}} <br>
          <span class="x-small handcursor"> <u (click)="togoleDetail()">more ...</u></span>
        </div>
        <div class="warning" *ngIf="showDetail">
          {{rawErrMsg}}
        </div>
      </div>

      <div>
        <h5>New to ecombar?</h5>
        <div class="mx-2">
          <button type="submit" class="signinbtn" (click)="signup()">Sign Up</button>
        </div>        
      </div>
    </div>
</div> -->
<main id="content" role="main">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="../home/index.html">{{"Home"|translate}}</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">{{"My Account"|translate}}</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="mb-4">
            <h1 class="text-center">{{"My Account"|translate}}</h1>
        </div>
        <div class="my-4 my-xl-8">
            <div class="row">
                <div class="col-md-5 ml-xl-auto mr-md-auto mr-xl-0 mb-8 mb-md-0">
                    <!-- Title -->
                    <div class="border-bottom border-color-1 mb-6">
                        <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">{{"Password recover"|translate}}</h3>
                    </div>
                    <p class="text-gray-90 mb-4">{{"Please enter your email address"|translate}}.</p>
                    <!-- End Title -->
                    <form class="js-validate" novalidate="novalidate">
                        <!-- Form Group -->
                        <div class="js-form-message form-group">
                            <label class="form-label" for="signinSrEmailExample3">{{"Username or Email address"|translate}}
                              <span class="text-danger">*</span>
                          </label>
                            <input type="email" class="form-control" name="email" id="signinSrEmailExample3" placeholder="{{'Username or Email address'|translate}}" aria-label="Username or Email address" required data-msg="Please enter a valid email address." data-error-class="u-has-error"
                                data-success-class="u-has-success" [(ngModel)]="email" name="email" required>
                        </div>
                        <!-- End Form Group -->

                        <div class="red mx-2 left" *ngIf="errMsg">
                            {{errMsg | translate}}<br>
                            <span class="x-small handcursor"> <u (click)="togoleDetail()">{{"more info"|translate}} ...</u></span>
                        </div>
                        <div class="warning" *ngIf="showDetail">
                            {{rawErrMsg}}
                        </div>
                        <!-- Button -->
                        <div class="mb-1">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary-dark-w px-5" (click)="recover()">{{"Submit"|translate}}</button>
                            </div>
                        </div>
                        <!-- End Button -->
                    </form>
                </div>
                <div class="col-md-1 d-none d-md-block">
                    <div class="flex-content-center h-100">
                        <div class="width-1 bg-1 h-100"></div>
                        <div class="width-50 height-50 border border-color-1 rounded-circle flex-content-center font-italic bg-white position-absolute">{{"or"|translate}}</div>
                    </div>
                </div>
                <div class="col-md-5 ml-md-auto ml-xl-0 mr-xl-auto">
                    <!-- Title -->
                    <div class="border-bottom border-color-1 mb-6">
                        <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">{{"Register"|translate}}</h3>
                    </div>
                    <p class="text-gray-90 mb-4">{{"creacount" | translate}}</p>
                    <!-- End Title -->
                    <!-- Form Group -->
                    <form class="js-validate" novalidate="novalidate">
                        <div class="js-form-message form-group mb-5">
                            <label class="form-label" for="RegisterSrEmailExample3">{{"Email address"|translate}}
                              <span class="text-danger">*</span>
                          </label>
                            <input type="email" class="form-control" name="email" id="RegisterSrEmailExample3" placeholder="{{'Email address'|translate}}" aria-label="Email address" required data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success">
                        </div>
                        <!-- End Form Group -->
                        <p class="text-gray-90 mb-4">{{"privacywarn"|translate}} <a href="#" class="text-blue">{{"privacy policy"|translate}}.</a></p>
                        <!-- Button -->
                        <div class="mb-6">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary-dark-w px-5">{{"Register"|translate}}</button>
                            </div>
                        </div>
                        <!-- End Button -->
                    </form>
                    <h3 class="font-size-18 mb-3">{{"Sign up today and you will be able to"|translate}} :</h3>
                    <ul class="list-group list-group-borderless">
                        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> {{"Product source tracing and anti-counterfeiting verification"|translate}}</li>
                        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> {{"Speed your way through checkout"|translate}}</li>
                        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> {{"Global cryptocurrency instant payment"|translate}}</li>
                        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> {{"Track your orders easily"|translate}}</li>
                        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> {{"Keep a record of all your purchases"|translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>