
<div class="container" *ngIf="!wallets">
  <app-no-wallet></app-no-wallet>
</div>


<ngx-smart-modal #myModal identifier="myModal">
    <h1>Receive</h1>
    <p>Some stuff...</p>
  
    <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>

<div class="container" *ngIf="wallets">

  <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('wallet')">
            {{'My Wallet' | translate}}
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('assets')">
            {{'My Assets' | translate}}
        </div>
  </div>
    
  <div *ngIf="currentTab == 'wallet'">

    <div class="card-section">
        <div class="card">
            <div class="container">
                <div class="row py-3">
                    <div class="col col-8">
                        <select (change)="onChange($event.target.value)">
                            <option *ngFor="let item of wallets.items" [value]="item.id" [selected]="item.id == wallet.id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
            
                    <div class="col col-4 text-black">
                        <div>
                            EXG {{walletBalance}}
                        </div>
                        <div>
                            {{walletValue}} USD
                        </div>
                    </div>        
                </div>
                <div class="row py-3 text-black">
                    Wallet address: {{walletAddress}}
                </div>
            
                <div class="row py-3 text-black">
                    Gas: {{gas}}
                </div>

                <div class="row text-black">
                    <button class="btn mx-3" (click)="ngxSmartModalService.getModal('myModal').open()">
                        Receive
                    </button>
            
                    <button class="btn mx-3">
                        Send
                    </button>     
                    
                    <button class="btn mx-3">
                        Add Gas
                    </button>           
                </div>                
            </div>
        </div>
    </div>


    <div class="card-section my-3">
        <div class="card">
            <div class="container">

                <ul class="responsive-table">
                    <li class="table-header">
                      <div class="col col-2">{{'Asset' | translate}}</div>
                      <div class="col col-2">{{'Balance' | translate}}</div>
                      <div class="col col-2">{{'Locked Balance' | translate}}</div>
                      <div class="col col-2">{{'Value(USD)' | translate}}</div>
                      <div class="col col-2">{{'Dividend' | translate}}</div>
                      <div class="col col-2"></div>
                    </li>
                        <li class="table-row" *ngFor="let coin of coins">
                            
                                <div class="col col-2 text-black" data-label="Coin">{{coin.coin | translate}}</div>
                                <div class="col col-2" data-label="Balance">
                                    <div *ngIf="coin.balance && (coin.balance >= 0)" class="text-black">
                                        {{coin.balance}}
                                    </div>
                                </div>

                                <div class="col col-2" data-label="Locked Balance">
                                    <div class="text-black" *ngIf="coin.lockBalance && (coin.lockBalance > 0)">
                                        {{coin.lockBalance}}
                                    </div>
                                </div>

                                <div class="col col-2 text-black" data-label="Value(USD)">
                                    <p *ngIf="coin.balance && coin.lockBalance && ((coin.lockBalance + coin.balance) > 0)">
                                        {{(coin.balance + coin.lockBalance) * coin.usdValue.USD}}
                                    </p>
                                    
                                </div>
                                <div class="col col-2" data-label="Dividend"></div>
                                <div class="col col-2 text-right" data-label="Operations">
                        
                                <div class="d-inline-block px-2">
                                    <a (click)="deposit(coin)">
                                    <img src="/assets/svg/edit.svg">
                                    </a>
                                </div>
                            
                                </div>
                            

                        </li>
                  </ul>                
            </div>
        </div>
    </div>

  </div>

  <div *ngIf="currentTab == 'assets'">
    <div class="card-section my-3">
        <div class="card">
            <div class="container">

                <ul class="responsive-table">
                    <li class="table-header">
                      <div class="col col-2">{{'Asset' | translate}}</div>
                      <div class="col col-2">{{'Balance' | translate}}</div>
                      <div class="col col-2">{{'Locked Balance' | translate}}</div>
                      <div class="col col-2"></div>
                    </li>
                        <li class="table-row" *ngFor="let coin of assets">
                            
                                <div class="col col-2 text-black" data-label="Coin">{{utilServ.getCoinNameByTypeId(coin.coinType)}}</div>
                                <div class="col col-2" data-label="Balance">
                                    <div *ngIf="coin.unlockedAmount && (coin.unlockedAmount >= 0)" class="text-black">
                                        {{utilServ.toNumber(utilServ.showAmount(coin.unlockedAmount, 18))}}
                                    </div>
                                </div>

                                <div class="col col-2" data-label="Locked Balance">
                                    <div class="text-black" *ngIf="coin.lockedAmount && (coin.lockedAmount > 0)">
                                        {{utilServ.toNumber(utilServ.showAmount(coin.lockedAmount, 18))}}
                                    </div>
                                </div>



                                <div class="col col-2 text-right" data-label="Operations">
                        
                                <div class="d-inline-block px-2">
                                    <a (click)="deposit(coin)">
                                    <img src="/assets/svg/edit.svg">
                                    </a>
                                </div>
                            
                                </div>
                            

                        </li>
                  </ul>                
            </div>
        </div>
    </div>       
  </div>
</div>
