<!--
<div class="container border-bottom d-flex align-items-center">
    <div class="icon px-2">
        <svg focusable="false" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
    </div>
    <div class="flex-grow-1 px-3">
        <input class="w-100 search" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #6774c8;"  type="text" placeholder="Search..">
    </div>
    <div class="px-2">
        <img class="rounded-img" src="https://lh3.googleusercontent.com/ogw/ADGmqu8hfe-BsAcfxAsQKjVOPpENwJpt16FL-oB3KNNW=s32-c-mo">
    </div>
</div>
-->
