.container {
    height: 50px;
    background-color: #1C2260;
}

.container .icon {
    width: 24px;
    height: 24px;
}

.container .icon svg{
    fill: white;
}

input.search {
    background-color:#212b36;
}