<div class="row AssetSell">
    <div class="col col-6">
        <div class="header"> Schedule for a future time </div>
        <div class="desc">You can schedule this listing to only be buyable at a future date </div>
    </div>
    <div class="col col-6">
        <div class="SwitchInput--switch-container">
            <label class="Togglereact__LabelContainer-taymdu-0 gwCGQf  ">
                <input class="Toggle--input" role="switch" type="checkbox" aria-label="ending price">
            </label>
        </div>
    </div>
</div>