<div class="container">
    <div class="text-right">
      <button class="btn" routerLink="/merchant/shipping-carrier/add" routerLinkActive="active">{{'New' | translate}}</button>
  </div>
  
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-3">{{'Name' | translate}}</div>
        <div class="col col-3">{{'Flat Rate' | translate}}</div>
        <div class="col col-3">{{'Sequence' | translate}}</div>
        <div class="col col-3"></div>
      </li>
      <li class="table-row" *ngFor="let shippingCarrier of shippingCarriers">
        <div class="col col-3" data-label="Name">{{shippingCarrier.name | translateField}}</div>
        <div class="col col-3" data-label="Sequance">{{shippingCarrier.flatRate}}</div>
        <div class="col col-3" data-label="Sequance">{{shippingCarrier.sequence}}</div>
        <div class="col col-3 text-right" data-label="Operations">
  
          <div class="d-inline-block px-2">
            <a (click)="editShippingCarrier(shippingCarrier._id)">
              <img src="/assets/svg/edit.svg">
            </a>
          </div>
    
          <div class="d-inline-block px-2">
            <a (click)="deleteShippingCarrier(shippingCarrier._id)">
              <img src="/assets/svg/delete.svg">
            </a>
          </div>        
        </div>
      </li>
    </ul>
</div>