
<!-- 页首，用于 Home -->
<!-- 由于另一页首涉及之前项目 NFT，我们先以此页为主 -->

<ion-toolbar class="bg-white">
  <ion-thumbnail slot="start">
    <ion-img src="/assets/images/logo/ecombar-logo.png"></ion-img>
  </ion-thumbnail>
  <h1>{{ 'MadEat' | translate }}</h1>

  <ion-buttons slot="end"> 
    <ion-button fill="clear" routerLink="/stores"><ion-icon name="home-outline"></ion-icon>&nbsp;{{ 'Home' | translate }}</ion-button>
    <ion-button fill="clear" routerLink="/wallet"><ion-icon name="key-outline"></ion-icon>&nbsp;{{ 'Wallet' | translate }}</ion-button>
    <ion-button fill="clear" routerLink="/account"><ion-icon name="person-outline"></ion-icon>&nbsp;{{ 'Account' | translate }}</ion-button>
    <ion-button fill="clear" routerLink="/merchant"><ion-icon name="storefront-outline"></ion-icon>&nbsp;{{ 'Merchant' | translate }}</ion-button>
    <ion-select interface="popover" placeholder="LANGUAGE" [(ngModel)]="_lang" (ionChange)="changeLanguage(_lang)">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="sc">简体中文</ion-select-option>
      <ion-select-option value="tc">繁體中文</ion-select-option>
    </ion-select>
  </ion-buttons>
</ion-toolbar>


<!-- <div class="nav-bar">
    <nav class="nav-bar-main">
        <div class="nav-bar-left">
            <img src="/assets/images/logo/ecombar-logo.png">
            <span class="logo-text">
                {{ 'MadEarn' | translate }}
            </span>
        </div>
        <div class="search-container">
            <div class="search-input">
                <i class="material-icons" value="search" size=24 (click)="onSearch()">search</i>
                <input type="text" class="search-input--input" [(ngModel)]="searchText" (keydown.enter)="onKeyDownEvent($event)">
            </div>
        </div>
        <ul class="Navbar--items">
            <li class="NavItem--isRoot">
                <a class="NavItem--main" routerLink="/stores">
                    {{ 'Home' | translate }}
                </a>
            </li>
            <li class="NavItem--isRoot">
                <a class="NavItem--main" routerLink="/wallet">
                    {{ 'Wallet' | translate }}
                </a>
            </li>
            <li class="NavItem--isRoot">
                <a class="NavItem--main" routerLink="/account">
                    {{ 'Account' | translate }}
                </a>
            </li>
            <li class="NavItem--isRoot">
                <a class="NavItem--main" routerLink="/team">
                    {{ 'Team' | translate }}
                </a>
            </li>
            <li class="NavItem--isRoot">
                <a class="NavItem--main" routerLink="/merchant">
                    {{ 'Merchant' | translate }}
                </a>
            </li>

            <li class="NavItem--isRoot">
                <a class="NavItem--main">
                    {{ 'Language' | translate }}
                </a>
                <ul class="NavDropdown--items">
                    <li (click)="changeLanguage('en')">
                        English
                    </li>
                    <li (click)="changeLanguage('sc')">
                        简体中文
                    </li>
                    <li (click)="changeLanguage('tc')">
                        繁體中文
                    </li>
                </ul>
            </li>

            <li class="NavItem--isRoot" *ngIf="setting">
                <a class="NavItem--main">
                    <div class="img-container" style="height: 32px; width: 32px;">
                        <img class="Image--image" *ngIf="setting.logo" src="{{setting.logo}}" style="object-fit: cover;">
                    </div>
                </a>
                <ul class="NavDropdown--items">
                    <li routerLink="/nft/account">
                        {{ 'My Profile' | translate }}
                    </li>
                    <li>
                        <a routerLink="/nft/admin/collections">
                            {{ 'My Collections' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/nft/admin/favorites">
                            {{ 'My Favorites' | translate }}
                        </a>
                    </li>
                    <li>
                        <a routerLink="/nft/account/settings">
                            {{ 'Account Settings' | translate }}
                        </a>
                    </li>
                    <li (click)="logout()">
                        {{ 'Logout' | translate }}
                    </li>
                </ul>
            </li>

            <li class="NavItemreact__LiContainer-sc-1agh4ne-0 eUbTNn NavItem--isRoot" (click)="showAside = !showAside">
                <div class="NavItem--main ">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV NavItem--icon material-icons-outlined" title="Wallet" value="account_balance_wallet" size="24">
                        account_balance_wallet
                    </i>
                </div>
            </li>

        </ul>
    </nav>
</div> -->

<!-- <aside *ngIf="showAside">
    <app-wallet-aside></app-wallet-aside>
</aside> -->
