<header class="drift-widget-header" style="height: 48px">
    <div class="drift-widget-header-top-line" style="background: rgb(45, 103, 185); color: rgb(255, 255, 255);">
        <div class="d-flex h-100 align-items-center">
            <div class="drift-widget-avatar drift-widget-avatar--small mx-3" style="background-image: url(&quot;https://driftt.imgix.net/https%3A%2F%2Ffile2.api.drift.com%2Fdata%2Fdrift-prod-file-uploads%2F2658%252F2658d824fe07b78a046b445f4e95709a%2Favatar.svg%3FmimeType%3Dimage%252Fsvg%252Bxml?fit=max&amp;fm=png&amp;h=200&amp;w=200&amp;s=c1386402536b4bb74f59faecaba2a145&quot;);"></div>
            <div>
                Madearns
            </div>
        </div>
    </div>

</header>