<form style="border:1px solid #ccc">
    <div class="container">
      <h1>New product</h1>
      <hr>
  
      <label for="email"><b>Title</b></label>
      <input type="text" placeholder="Enter product title" [(ngModel)]="title" name="title" required>
  
      <label for="psw"><b>Price</b></label>
      <input type="text" placeholder="Enter price" [(ngModel)]="price" name="price" required>
  
      <label for="psw"><b>Currency</b></label>
      <input type="text" placeholder="Enter currency" [(ngModel)]="currency" name="currency" required>
  
      <div class="custom-select" style="width:200px;">
        <select>
          <option value="0">Select car:</option>
          <option value="1">Audi</option>
          <option value="2">BMW</option>
          <option value="3">Citroen</option>
          <option value="4">Ford</option>
          <option value="5">Honda</option>
          <option value="6">Jaguar</option>
          <option value="7">Land Rover</option>
          <option value="8">Mercedes</option>
          <option value="9">Mini</option>
          <option value="10">Nissan</option>
          <option value="11">Toyota</option>
          <option value="12">Volvo</option>
        </select>
      </div>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn cancelbtn">Cancel</button>
        <button type="submit" class="btn signinbtn" (click)="addProduct()">Add</button>
      </div>
    </div>
  </form>