
    <div class="container">
      <h1>New product</h1>
      <hr>
      <div class="text-right py-3">
        <button class="btn" (click)="saveProduct()">Save</button>
      </div>

      <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('default')">
          English
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Chinese')">
          中文
        </div>
      </div>   
      
      <div *ngIf="currentTab == 'default'">

        <div class="row">
          <div class="col col-8">
            <div class="card-section">
              <div class="card">
                <div class="container">
                  <div class="form-field">
                    <label for="email">Title</label>
                    <input type="text" placeholder="Enter product title" [(ngModel)]="title" name="title" required>
                  </div>
    
                  <div class="form-field">
                    <label for="email">Description</label>
                    <input type="text" placeholder="Enter product description" [(ngModel)]="description" name="description" required>              
      
                  </div>
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="card">
                <div class="container">
                  <app-admin-upload-media [(images)]="images"></app-admin-upload-media>
                </div>
              </div>
            </div>   

          </div>
          <div class="col col-4">
            <div class="card-section">
              <div class="card">
                <div class="container">
                <label for="email">Availability</label>
                <div>
                  <label class="container">Online
                    <input type="radio" [checked]="active" (click)="setActive(true)" name="radio">
                    <span class="checkmark"></span>
                  </label>
                  <label class="container">Offline
                    <input type="radio" [checked]="!active" (click)="setActive(false)" name="radio">
                    <span class="checkmark"></span>
                  </label>
                </div>
    
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Price</b></label>
                    <div>
                      <div class="d-inline-block px-2">
                        <input type="text" placeholder="Enter price" [(ngModel)]="price" name="price" required>
                      </div>
                      USD
                    </div>

                  </div>

                </div>
              </div>
            </div>    
            
            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Category</b></label>
                  </div>
                  <div class="custom-select py-2" *ngIf="categories">
                    <select [(ngModel)]="category">
                      <option value="0">Select Category:</option>
                      <option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.category | translateField}}</option>
                    </select>
                  </div>
    
                </div>
              </div>
            </div> 


            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Brand</b></label>
                  </div>
                  <div class="custom-select py-2" *ngIf="brands">
                    <select [(ngModel)]="brand">
                      <option value="0">Select Brand:</option>
                      <option *ngFor="let br of brands" value="{{br._id}}">{{br.name | translateField}}</option>
                    </select>
                  </div>
    
                </div>
              </div>
            </div>             
          </div>
        </div>
      </div>

      <div *ngIf="currentTab=='Chinese'">
        <label for="name"><b>名称</b></label>
        <input type="text" placeholder="输入名称" [(ngModel)]="titleChinese" name="titleChinese">     
        
        <label for="name"><b>描述</b></label>
        <input type="text" placeholder="输入描述" [(ngModel)]="descriptionChinese" name="descriptionChinese">             
      </div>












      
    </div>