.container {
    padding-top: 120px;
}

.img-thumbnail {
    width: 50px;
    height: 100%;
}

.Shipping-method>div,
.Payment-method>div
{
    cursor: pointer;
}

.Shipping-method>div:hover,
.Payment-method>div:hover{
    background-color: #fed700;
}

.Shipping-method>.selected,
.Payment-method>.selected
{
    background-color: #fed700;
}