.CollectionManager--topbar {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(251, 253, 255);
    border-bottom: 1px solid rgb(229, 232, 235);
    display: flex;
    height: 72px;
    padding: 0px 8px;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.CollectionManager--topbar a {
    color: rgb(136, 136, 136);
}

.CollectionManager--topbar i {
    font-size: 29px;
    margin-bottom: 2px;
    margin-right: -2px;
}

.CollectionManager--topbar a * {
    vertical-align: middle;
}