<div class="card-section my-3">
    <div class="card">
        <div class="container">

            <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-2">{{'ID' | translate}}</div>
                  <div class="col col-2">{{'From' | translate}}</div>
                  <div class="col col-2">{{'Merchant Recipient' | translate}}</div>
                  <div class="col col-2">{{'Merchant Get' | translate}}</div>
                  <div class="col col-2">{{'Date' | translate}}</div>
                  <div class="col col-2">{{'Status' | translate}}</div>
                </li>
                    <li class="table-row" *ngFor="let item of transactionHistories">         
                            <div class="col col-2 text-black" data-label="{{'ID' | translate}}">
                                {{showId(item.id)}}
                            </div>
                            <div class="col col-2" data-label="{{'From' | translate}}">
                                {{item.from}}
                            </div>
                            <div class="col col-2" data-label="{{'Merchant Recipient' | translate}}">
                                {{item.merchantRecipient}}
                            </div>    
                            <div class="col col-2" data-label="{{'Merchant Get' | translate}}">
                                {{showAmount(item.merchantGet)}}
                            </div>  
                            <div class="col col-2" data-label="{{'Date' | translate}}">
                                {{showDate(item.dateCreated)}}
                            </div>      
                            <div class="col col-2" data-label="{{'Status' | translate}}">
                                <div>
                                    {{showStatus(item.status)}}
                                </div>

                                <div *ngIf="item.status == 1">
                                    <div *ngIf="(type == 'customer') && (walletAddress == item.from)">
                                        <a (click)="requestRefund(item)">
                                            request refund
                                        </a>                                     
                                    </div>
                                </div>

                                <div *ngIf="item.status == 2">
                                    <div *ngIf="(type == 'customer') && (walletAddress == item.from)">
                                        <a (click)="cancelRequestRefund(item)">
                                            cancel request refund
                                        </a>  
                                    </div>
                                    <div *ngIf="(type == 'merchant') && (walletAddress == item.merchantRecipient)">
                                        <a (click)="refund(item)">
                                            approve refund
                                        </a>                                          
                                    </div>
                                </div>
                            </div>                  
                    </li>
              </ul>                
        </div>
    </div>
</div>   