
<div class="px-2">  <!-- padding, left/right, $spacer * .5 -->

    <dl class="work-list row">
        <dt class="col-2">{{ 'ID' | translate }}</dt>
        <dt class="col-2">{{ 'From' | translate }}</dt>
        <dt class="col-2">{{ 'Merchant Recipient' | translate }}</dt>
        <dt class="col-2">{{ 'Merchant Get' | translate }}</dt>
        <dt class="col-2">{{ 'Date' | translate }}</dt>
        <dt class="col">{{ 'Status' | translate }}</dt>
    </dl>

    <dl class="work-list row" *ngFor="let item of transactionHistories">
        <dd class="col-2">
            <div>
                {{ showId(item.id) }}
            </div>
            <div>
                <a (click)="showRewards(item.id)">
                    {{ 'Rewards' | translate }}
                </a>
            </div>
        </dd>
        <dd class="col-2">{{ item.from }}</dd>
        <dd class="col-2">{{ item.merchantRecipient }}</dd>
        <dd class="col-2">{{ showAmount(item.merchantGet) }}</dd>
        <dd class="col-2">{{ showDate(item.dateCreated) }}</dd>
        <dd class="col">
            <div>
                {{ showStatus(item.status) }}
            </div>
            <div *ngIf="item.status == 1">
                <div *ngIf="(type == 'customer') && (walletAddress == item.from)">
                    <a (click)="requestRefund(item)">
                        request refund
                    </a>                                     
                </div>
            </div>
            <div *ngIf="item.status == 2">
                <div *ngIf="(type == 'customer') && (walletAddress == item.from)">
                    <a (click)="cancelRequestRefund(item)">
                        cancel request refund
                    </a>  
                </div>
                <div *ngIf="(type == 'merchant') && (walletAddress == item.merchantRecipient)">
                    <a (click)="refund(item)">
                        approve refund
                    </a> 
                </div>
            </div>
        </dd>
    </dl>

</div>
