<form style="border:1px solid #ccc">
    <div class="container">
      <h1>Edit User</h1>
      <hr>
  
      <label for="email" *ngIf="user"><b>Email:</b>{{user.email}}</label>
      
      <div>
        <label for="psw"><b>Parent ReferMemberId</b></label>
        <input type="text" placeholder="Enter parent ReferMemberId" [(ngModel)]="parentReferMemberId" name="parentReferMemberId">
    
      </div>

      <div>
        <label for="refCode"><b>refCode</b></label>
        <input type="text" placeholder="Enter parent refCode" [(ngModel)]="refCode" name="refCode">
    
      </div>      
      
      <div class="d-flex justify-content-between">
        <button type="button" class="btn cancelbtn">Cancel</button>
        <button type="submit" class="btn signinbtn" (click)="addParentReferral()">Add parent Referral</button>
      </div>
    </div>
</form>