
<!-- <ion-app id="app"> 测试过没必要 -->
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
  <!-- <div *ngIf="themeSwitch">
    <button (click)="changeTheme(themeList[0])">{{themeList[0]}}</button>
    <button (click)="changeTheme(themeList[1])">{{themeList[1]}}</button> -->
    <!-- <button (click)="changeTheme(themeList[2])">{{themeList[2]}}</button> -->
    <!-- <button [routerLink]="['/admin']" routerLinkActive="router-link-active" >admin</button> -->
  <!-- </div> -->
  <!-- <router-outlet></router-outlet> -->

<!-- <style>
#app {
  background-color: transparent !important;
}
</style> -->
