<form style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'My comment' | translate}}</h1>
      <hr>


      <div class="text-left">
        <div class="py-2">
          <label for="tag">{{'Rating' | translate}}</label>
        </div>
        
        <app-star-rating [(rating)]="rating"></app-star-rating>
      </div>
      <div class="py-3">
        <div class="py-2">
          <label for="comment" >{{'Comment' | translate}}</label>
        </div>
        


        <ejs-richtexteditor [(ngModel)]='comment' name="comment" [enableResize]='true'  [insertImageSettings]='insertImageSettings'></ejs-richtexteditor>


      </div>


      <div class="text-right py-2">
        <button type="submit" class="btn signinbtn" (click)="update()">{{(commentId?'Update':'Add') | translate}}</button>
      </div>
    </div>
</form>

<!--
parentId: ObjectId,
comment: String,
authorId: ObjectId,
authorName: String,
tag: String,
-->