<app-text-header 
[title]="'My Collections'" [new]="true"
[subtitle]="'Create collections (your own storefronts), upload digital creations, configure your commission, and sell NFTs to your fans - all for free!'">
</app-text-header>

<app-nft-collections-list
[collections]="collections"
 (createEvent)="openModal(templateCreateCollection)"></app-nft-collections-list>

<ng-template #templateCreateCollection>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create your collection</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-nft-collections-add (createEvent)="createCollection($event, templateDone)"></app-nft-collections-add>
    </div>
</ng-template>

<ng-template #templateDone>
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-nft-collections-add-done
       [collection]="collection"
       (createEvent)="createItem($event)"></app-nft-collections-add-done>
    </div>
</ng-template>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>