<app-nft-header></app-nft-header>
<app-nft-account-overview *ngIf="address" [wallet]="wallet" [address]="address" [self]="self"></app-nft-account-overview>
<app-nft-account-tab [(ngModel)]="currentTab"></app-nft-account-tab>
<div *ngIf="address">

    <app-nft-account-in-wallet 
    *ngIf="currentTab == 'wallet'"  
    [collections]="collections"
    [address]="address"
    ></app-nft-account-in-wallet>

    <app-nft-account-activity 
    *ngIf="currentTab == 'activity'"
    [collections]="collections"
    ></app-nft-account-activity>

    <app-nft-account-offers 
    *ngIf="currentTab == 'offers'" 
    ></app-nft-account-offers>
    
    <app-nft-account-favorites 
    *ngIf="currentTab == 'favorites'"
    ></app-nft-account-favorites>
</div>
