select {
    width: auto;
}

.current-tab {
    color: blue;
}

.cursor-pointer, a {
    cursor: pointer;
}

ul, ul li {
    list-style: none;
}

li a:hover {
    color: blue;
}

.img-avatar {
    max-width: 30px;
    height: auto;
}