<div class="container" *ngIf="!wallets">
  <app-no-wallet></app-no-wallet>
</div>


<div class="container" *ngIf="wallets">

  <div class="d-flex align-items-center  navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer " [ngClass]="currentTab == 'wallet' ? 'current-tab' : 'text-black'" (click)="changeTab('wallet')">
            {{'My Wallet' | translate}}
        </div>
        <div class="px-3 py-3 cursor-pointer" [ngClass]="currentTab == 'assets' ? 'current-tab' : 'text-black'" (click)="changeTab('assets')">
            {{'My Assets' | translate}}
        </div>

        <div class="px-3 py-3 cursor-pointer" [ngClass]="currentTab == 'rewards' ? 'current-tab' : 'text-black'" (click)="changeTab('rewards')">
            {{'7star rewards' | translate}}
        </div>        
  </div>
    
  <div *ngIf="currentTab == 'wallet'">

    <div class="card-section">
        <div class="card">
            <div class="container">
                <div class="row py-3">
                    <div class="col col-8">
                        <select (change)="onChange($event.target.value)" class="form-control">
                            <option *ngFor="let item of wallets.items; let i = index" [value]="i" [selected]="item.id == wallet.id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
            
                    <div class="col col-4 text-black">
                        <div>
                            EXG {{walletBalance}}
                        </div>
                        <div>
                            {{walletValue}} USD
                        </div>
                    </div>        
                </div>

                <div class="row py-3">
                    <div class="col col-8">

                        <div class="py-3 text-black">
                            {{'Wallet address' | translate}}: {{walletAddress}}
                        </div>
                    
                        <div class="py-3 text-black">
                            {{'Gas' | translate}}: {{gas}}
                        </div>

                        <div class="row text-black px-3">

                            <div class="CreateCollection--actions m-1 py-3 text-center">
                                <div class="ActionButtonrContainer ">
                                    <div class="ActionButton--content" (click)="receive()" style="min-width: 120px;">
                                        {{'Receive' | translate}}
                                    </div>
                                </div> 
                            </div>  


                            <div class="CreateCollection--actions m-1 py-3 text-center">
                                <div class="ActionButtonrContainer ActionButton--secondary">
                                    <div class="ActionButton--content" (click)="send()" style="min-width: 120px;">
                                        {{'Send' | translate}}
                                    </div>
                                </div> 
                            </div>              
        
                            <div class="CreateCollection--actions m-1 py-3 text-center">
                                <div class="ActionButtonrContainer ActionButton--secondary">
                                    <div class="ActionButton--content" (click)="addGas()" style="min-width: 120px;">
                                        {{'Add Gas' | translate}}
                                    </div>
                                </div> 
                            </div>                        
                            

                            <div class="CreateCollection--actions m-1 py-3 text-center" *ngIf="gas==0">
                                <div class="ActionButtonrContainer ActionButton--secondary">
                                    <div class="ActionButton--content" (click)="getFreeGas()" style="min-width: 120px;">
                                        {{'Get free Gas' | translate}}
                                    </div>
                                </div> 
                            </div>                                 
                        </div>    
                    </div>
                    <div class="col col-4 text-black">
                        <ul>
                            <li>
                                <a (click)="addWallet()">
                                    {{'Create Wallet' | translate}}
                                </a>                                  
                            </li>
                            <li>
                                <a (click)="importWallet()">
                                    {{'Restore Wallet' | translate}}
                                </a> 
                            </li>
                            <li>
                                <a (click)="subtab = 'assets'">
                                    {{'My Wallet' | translate}}
                                </a> 
                            </li>

                            <li>
                                <a (click)="subtab = 'history'">
                                    {{'Transaction History' | translate}}
                                </a> 
                            </li>    
                            
                            <li>
                                <a (click)="loginSetting()">
                                    {{"Login Setting"|translate}}
                                </a> 
                            </li>     
                            <li>
                                <a (click)="showSeedPhrase()">
                                    {{"Show seed phrase"|translate}}
                                </a> 
                            </li>          
                            <li>
                                <a (click)="deleteWallet()">
                                    {{"Delete Wallet"|translate}}
                                </a> 
                            </li>   
                        </ul>
                      
                    </div>
                </div>            
            </div>
        </div>
    </div>


    <div class="card-section my-3">
        <div class="card">
            <div class="container">
                
                <app-admin-coins-list *ngIf="subtab == 'assets'"  [coins]="coins" (deposit)="depositCoin($event)">
                </app-admin-coins-list>
                
                <app-transaction-history *ngIf="subtab == 'history'" [transactions]="transactions" [walletId]="wallet.id">
                </app-transaction-history>
            
            </div>
        </div>
    </div>

  </div>

  <div *ngIf="currentTab == 'assets'">
    <app-wallet-assets-list [assets]="assets" (withdraw)="withdrawCoin($event)"></app-wallet-assets-list>
  </div>

  <div *ngIf="currentTab == 'rewards'">
    <app-wallet-star-rewards [rewards]="rewards"></app-wallet-star-rewards>
  </div>  
</div>
