
<div class="container" *ngIf="!wallets">
  <app-no-wallet></app-no-wallet>
</div>


<ngx-smart-modal #receiveModal identifier="receiveModal">
    <h1 class="text-center">{{'Receive' | translate}}</h1>
    <div>
        <div>{{'Currency' | translate}}</div>
        <div class="py-2">
            <select [(ngModel)]="currentCoin" name="currentCoin" (change)="onCoinChange($event.target.value)">
                <option value="0">{{'Select Currency' | translate}}:</option>
                
                <option *ngFor="let coin of coins" value="{{coin.coin}}">
                    {{coin.coin}}
                </option>
                
              </select>            
        </div>

        <div class="py-2">
            Wallet address
        </div>

        <div class="d-flex">
            <div class="px-2">
                {{currentCoinAddress}}
            </div>
           
            <div class="px-2">
                <img src="assets/svg/copy.svg">
            </div>

        </div>

        <div class="text-center py-5" *ngIf="currentCoinAddress">
            <qrcode [qrdata]="currentCoinAddress" id="address_qr_code" style="display: inline-block" [size]="150" [level]="'M'"></qrcode>
            <div class="py-2">
                <a href="{{link}}" download (click)="dlDataUrlBin()">
                    <div class="d-inline-block px-1">
                        <img src="/assets/download.png">
                    </div>
                    <div class="d-inline-block px-1">
                        {{'Download QR Code' | translate}}
                    </div>
                </a>

            </div>
        </div>  
    </div>
    
  
</ngx-smart-modal>




<ngx-smart-modal #sendModal identifier="sendModal">
    <h1 class="text-center">{{'Send' | translate}}</h1>
    <div>
        {{'Send to' | translate}}
    </div>
    <div>
        <input type="text" placeholder="{{'To address' | translate}}" [(ngModel)]="to" name="to" required>
    </div>

    <div>{{'Currency' | translate}}</div>
    <div class="py-2">
        <select [(ngModel)]="currentCoin" name="currentCoin" (change)="onCoinChange($event.target.value)">
            <option value="0">{{'Select Currency' | translate}}:</option>
            
            <option *ngFor="let coin of coins" value="{{coin.coin}}">
                {{coin.coin}}
            </option>
            
          </select>            
    </div>
    
    <div>
        {{'Balance' | translate}}:
    </div>

    <div>
        {{'Send amount' | translate}}
    </div>   
    <div>
        <input type="number" placeholder="{{'Send amount' | translate}}" [(ngModel)]="sendAmount" name="sendAmount" required>
    </div>

    <div>
        {{'Comment' | translate}}
    </div>
    <div>
        <input type="text" placeholder="{{'Comment' | translate}}" [(ngModel)]="comment" name="comment" required>
    </div>    

    <div>
        Transaction fee: 
    </div>

    <div>
        depends on the gas used on the chain
    </div>

    <div>
        <div>
            {{'Advanced' | translate}}
        </div>
    </div>

    <div *ngIf="isAdvance">
        <div>
            {{'Gas price' | translate}}
        </div>
        <div>
            <input type="number" placeholder="{{'Gas price' | translate}}" [(ngModel)]="gasPrice" name="gasPrice" required>
        </div>   
        
        <div>
            {{'Gas limit' | translate}}
        </div>
        <div>
            <input type="number" placeholder="{{'Gas limit' | translate}}" [(ngModel)]="gasLimit" name="gasLimit" required>
        </div>   
        
        <div>
            {{'Satoshis/byte' | translate}}
        </div>
        <div>
            <input type="number" placeholder="{{'Satoshis/byte' | translate}}" [(ngModel)]="satoshisPerByte" name="satoshisPerByte" required>
        </div>  
    </div>
    <div class="text-center">
        <button class="btn" (click)="sendCoin()">
            {{'Send' | translate}}
        </button>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #addGasModal identifier="addGasModal">
    <h1 class="text-center">{{'Add gas' | translate}}</h1>
    <div>
        <input type="number" placeholder="{{'Amount' | translate}}" [(ngModel)]="gasAmount" name="gasAmount" required>
    </div>
    <div class="text-center">
        <button class="btn" (click)="addGasConfirm()">
            {{'Confirm' | translate}}
        </button>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #depositModal identifier="depositModal">
    <h1 class="text-center">{{'Deposit' | translate}} {{currentCoin}}</h1>
    <div>
        <input type="number" placeholder="{{'Amount' | translate}}" [(ngModel)]="depositAmount" name="depositAmount" required>
    </div>
    <div class="text-center">
        <button class="btn" (click)="depositConfirm()">
            {{'Confirm' | translate}}
        </button>
    </div>
</ngx-smart-modal>


<ngx-smart-modal #withdrawModal identifier="withdrawModal">
    <h1 class="text-center">{{'Withdraw' | translate}} {{currentCoin}}</h1>
    <div>
        <input type="number" placeholder="{{'Withdraw Amount' | translate}}" [(ngModel)]="withdrawAmount" name="withdrawAmount" required>
    </div>
    <div class="text-center">
        <button class="btn" (click)="withdrawConfirm()">
            {{'Confirm' | translate}}
        </button>
    </div>
</ngx-smart-modal>


<ngx-smart-modal #passwordModal identifier="passwordModal">
    <h1 class="text-center">{{'Password' | translate}}</h1>
    <div>
        <input type="password" placeholder="{{'Password' | translate}}" [(ngModel)]="password" name="password" required>
    </div>
    <div class="text-center">
        <button class="btn" (click)="confirmPassword()">
            {{'Confirm' | translate}}
        </button>
    </div>
</ngx-smart-modal>

<div class="container" *ngIf="wallets">

  <div class="d-flex align-items-center  navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer text-black" [ngClass]="currentTab == 'wallet' ? 'current-tab' : ''" (click)="changeTab('wallet')">
            {{'My Wallet' | translate}}
        </div>
        <div class="px-3 py-3 cursor-pointer text-black" [ngClass]="currentTab == 'assets' ? 'current-tab' : ''" (click)="changeTab('assets')">
            {{'My Assets' | translate}}
        </div>
  </div>
    
  <div *ngIf="currentTab == 'wallet'">

    <div class="card-section">
        <div class="card">
            <div class="container">
                <div class="row py-3">
                    <div class="col col-8">
                        <select (change)="onChange($event.target.value)">
                            <option *ngFor="let item of wallets.items; let i = index" [value]="i" [selected]="item.id == wallet.id">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
            
                    <div class="col col-4 text-black">
                        <div>
                            EXG {{walletBalance}}
                        </div>
                        <div>
                            {{walletValue}} USD
                        </div>
                    </div>        
                </div>
                <div class="py-3 text-black">
                    Wallet address: {{walletAddress}}
                </div>
            
                <div class="py-3 text-black">
                    Gas: {{gas}}
                </div>

                <div class="row text-black">
                    <button class="btn mx-3" (click)="ngxSmartModalService.getModal('receiveModal').open()">
                        Receive
                    </button>
            
                    <button class="btn mx-3" (click)="ngxSmartModalService.getModal('sendModal').open()">
                        Send
                    </button>     
                    
                    <button class="btn mx-3" (click)="addGas()">
                        Add Gas
                    </button>    
                    
                    <button class="btn mx-3" (click)="addWallet()">
                        Add Wallet
                    </button>                       
                </div>                
            </div>
        </div>
    </div>


    <div class="card-section my-3">
        <div class="card">
            <div class="container">

                <ul class="responsive-table">
                    <li class="table-header">
                      <div class="col col-2">{{'Asset' | translate}}</div>
                      <div class="col col-2">{{'Balance' | translate}}</div>
                      <div class="col col-2">{{'Locked Balance' | translate}}</div>
                      <div class="col col-2">{{'Value(USD)' | translate}}</div>
                      <div class="col col-2">{{'Dividend' | translate}}</div>
                      <div class="col col-2"></div>
                    </li>
                        <li class="table-row" *ngFor="let coin of coins">
                            
                                <div class="col col-2 text-black" data-label="Coin">{{coin.coin | translate}}</div>
                                <div class="col col-2" data-label="Balance">
                                    <div *ngIf="coin.balance && (coin.balance >= 0)" class="text-black">
                                        {{coin.balance}}
                                    </div>
                                </div>

                                <div class="col col-2" data-label="Locked Balance">
                                    <div class="text-black" *ngIf="coin.lockBalance && (coin.lockBalance > 0)">
                                        {{coin.lockBalance}}
                                    </div>
                                </div>

                                <div class="col col-2 text-black" data-label="Value(USD)">
                                    <div *ngIf="coin.balance && coin.lockBalance && ((coin.lockBalance + coin.balance) > 0)">
                                        {{(coin.balance + coin.lockBalance) * coin.usdValue.USD}}
                                    </div>
                                    
                                </div>
                                <div class="col col-2" data-label="Dividend"></div>
                                <div class="col col-2 text-right" data-label="Operations">
                        
                                <div class="d-inline-block px-2">
                                    <a (click)="deposit(coin.coin)">
                                    <img src="/assets/svg/deposit.svg">
                                    </a>
                                </div>
                            
                                </div>
                            

                        </li>
                  </ul>                
            </div>
        </div>
    </div>

  </div>

  <div *ngIf="currentTab == 'assets'">
    <div class="card-section my-3">
        <div class="card">
            <div class="container">

                <ul class="responsive-table">
                    <li class="table-header">
                      <div class="col col-2">{{'Asset' | translate}}</div>
                      <div class="col col-2">{{'Balance' | translate}}</div>
                      <div class="col col-2">{{'Locked Balance' | translate}}</div>
                      <div class="col col-2"></div>
                    </li>
                        <li class="table-row" *ngFor="let coin of assets">
                            
                                <div class="col col-2 text-black" data-label="Coin">{{utilServ.getCoinNameByTypeId(coin.coinType)}}</div>
                                <div class="col col-2" data-label="Balance">
                                    <div *ngIf="coin.unlockedAmount && (coin.unlockedAmount >= 0)" class="text-black">
                                        {{utilServ.toNumber(utilServ.showAmount(coin.unlockedAmount, 18))}}
                                    </div>
                                </div>

                                <div class="col col-2" data-label="Locked Balance">
                                    <div class="text-black" *ngIf="coin.lockedAmount && (coin.lockedAmount > 0)">
                                        {{utilServ.toNumber(utilServ.showAmount(coin.lockedAmount, 18))}}
                                    </div>
                                </div>



                                <div class="col col-2 text-right" data-label="Operations">
                        
                                <div class="d-inline-block px-2">
                                    <a (click)="withdraw(coin.coinType, utilServ.getCoinNameByTypeId(coin.coinType))">
                                    <img src="/assets/svg/withdraw.svg">
                                    </a>
                                </div>
                            
                                </div>
                            

                        </li>
                  </ul>                
            </div>
        </div>
    </div>       
  </div>
</div>
