
<!-- 厨师制作清单 -->

<ion-header>
  <!-- 固定在顶部的 Header -->
  <ion-grid class="px-2 font-size-18">
    <!-- <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-title>{{ 'Food Items' | translate }}</ion-title>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="2">
        <ion-button fill="clear" size="default" (click)="updateFoodData()">{{ 'No' | translate }} / {{ 'Order' | translate }}</ion-button>
      </ion-col>
      <ion-col size="2">{{ 'Date Created' | translate }}</ion-col>
      <ion-col size="4">
        {{ 'Title' | translate }}
      </ion-col>
      <ion-col size="1">{{ 'Price' | translate }}</ion-col>
      <ion-col size="1">{{ 'Qty' | translate }}</ion-col>
      <ion-col>
        <ion-button fill="clear" size="default" (click)="scrollToTop()">
          <ion-icon name="chevron-up"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

<ion-grid *ngFor="let food of foodData">
    <ion-row class="work-list">
      <ion-col size="2">
        <a target="_blank" *ngIf="food.merchantId" href="/chef/order-2/{{food.orderId}}">
          ({{ food.tableNo }}) - {{ trimText(food.orderId) }} - {{ food.num }}
        </a>
        <span *ngIf="!food.merchantId">{{ trimText(food.orderId) }} / {{ food.num }}</span>
      </ion-col>
      <ion-col size="2">{{ food.dateCreated | date:'MM/dd hh:mm' }}</ion-col>
      <ion-col size="4" (click)="removeFood(food.orderId, food.food, food.quantity)">{{ food.title }}</ion-col>
      <ion-col size="1" (click)="removeFood(food.orderId, food.food, food.quantity)">{{ food.price }}</ion-col>
      <ion-col size="1" (click)="removeFood(food.orderId, food.food, food.quantity)">{{ food.quantity }}</ion-col>
      <ion-col>
        <ion-button fill="clear" size="default" class="font-size-26 text-danger" (click)="removeFood(food.orderId, food.food, food.quantity)">×</ion-button>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>


<!-- <h1>{{'Food Items' | translate}}</h1>

<div class="px-2">

  <dl class="work-list row">
    <dt class="col-1">{{ 'No' | translate }}</dt>
    <dt class="col-2">{{ 'Order' | translate }}</dt>
    <dt class="col-2">{{ 'Date Created' | translate }}</dt>
    <dt class="col-3">{{ 'Title' | translate }}</dt>
    <dt class="col-1">{{ 'Price' | translate }}</dt>
    <dt class="col-1">{{ 'Quantity' | translate }}</dt>
    <dt class="col"></dt>
  </dl>

  <dl class="work-list row" *ngFor="let food of foodData">
    <dd class="col-1">{{ food.tableNo }}</dd>
    <dd class="col-2">
      <a target="_blank" *ngIf="food.merchantId" href="/merchant/order-2/{{food.orderId}}">
        {{ trimText(food.orderId) }} - {{ food.num }}
      </a>
      <span *ngIf="!food.merchantId">{{ trimText(food.orderId) }} / {{ food.num }}</span>
    </dd>
    <dd class="col-2">{{ food.dateCreated | date:'MM/dd hh:mm' }}</dd>
    <dd class="col-3">{{ food.title }}</dd>
    <dd class="col-1">{{ food.price }}</dd>
    <dd class="col-1">{{ food.quantity }}</dd>
    <dd class="col"><a class="font-size-26 px-4 border border-danger rounded" (click)="removeFood(food.orderId, food.food, food.quantity)">×</a></dd>
  </dl>

</div> -->
