
<div class="px-2">  <!-- padding, left/right, $spacer * .5 -->

    <dl class="work-list row">
        <dt class="col-3">{{ 'Coin' | translate }}</dt>
        <dt class="col-3">{{ 'Balance' | translate }}</dt>
        <dt class="col-3">{{ 'Locked' | translate }}</dt>
        <dt class="col"></dt>
    </dl>

    <dl class="work-list row" *ngFor="let coin of assets">
        <dd class="col-3">{{ getCoinNameByTypeId(coin.coinType) }}</dd>
        <dd class="col-3">
            <div *ngIf="coin.unlockedAmount && (coin.unlockedAmount >= 0)">
                {{ showAmount(coin.unlockedAmount) }}
            </div>
        </dd>
        <dd class="col-3">
            <div *ngIf="coin.lockedAmount && (coin.lockedAmount > 0)">
                {{ showAmount(coin.lockedAmount) }}
            </div>
        </dd>
        <dd class="col">
            <a (click)="withdrawDo(coin.coinType)">
                <img src="/assets/svg/withdraw.svg">
            </a>
        </dd>
    </dl>

</div>

