<div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-3">{{'Name' | translate}}</div>
        <div class="col col-2">{{'Ref address' | translate}}</div>
        <div class="col col-2">{{'Owner' | translate}}</div>
        <div class="col col-2">{{'Give away rate' | translate}}</div>
        <div class="col col-2">{{'Status' | translate}}</div>
        <div class="col col-1"></div>
      </li>
      <li class="table-row" *ngFor="let store of stores">
        <div class="col col-3" data-label="Name">{{store.name | translateField}}</div>
        <div class="col col-2" data-label="Name">{{showAddress(store.refAddress)}}</div>
        <div class="col col-2" data-label="Name">{{showAddress(store.owner)}}</div>
        <div class="col col-2" data-label="Name">{{store.giveAwayRate}}</div>
        <div class="col col-2" data-label="Name">{{store.status}}</div>
        <div class="col col-1 text-right" data-label="Operations">
  
          <div class="d-inline-block px-2">
            <a (click)="approved(store._id)">
              <img src="/assets/svg/edit.svg">
            </a>
          </div>
  
        </div>
      </li>
    </ul>
  </div>