.enKYLT {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    max-width: 95%;
    width: 600px;
}

.auction_card {
    width: 300px;
    margin: auto!important;
}

.card, .card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    -moz-transition: box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s,-webkit-box-shadow .25s;
    margin: .5rem 0 1rem;
    border-radius: 2px;
    background-color: #fff;
}

.btn, .btn-floating, .btn-large, .card, .card-panel, .collapsible, .dropdown-content, .side-nav, .toast, .z-depth-1 {
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

.card .card-image {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    margin: auto;
    position: relative;
}

.auction_card .card-image {
    max-width: 200px;
}

.card .card-image img {
    height: 100%;
    max-height: 300px;
    min-height: 188px;
    -webkit-object-fit: contain;
    object-fit: contain;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.auction_item {
    text-align: center!important;
}


h4 {
    font-size: 22px;
    margin: 1.14rem 0 .912rem;
}

.AssetTransfer--form {
    width: 100%;
}

.Input--main {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(229, 232, 235);
    display: flex;
    position: relative;
}

.Input--main .Input--prefix {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    color: rgb(138, 147, 155);
    display: flex;
    padding-left: 12px;
}

.Input--main .Input--input {
    background-color: transparent;
    border: none;
    flex: 1 0 0%;
    height: 48px;
    outline: none;
    padding: 0px 12px 0px 0px;
    min-width: 0px;
}

.margin-bottom {
    margin-bottom: 15px!important;
}

.btn-large {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn-large {
    height: 54px;
    line-height: 54px;
}
.btn-blue {
    color: #fff;
    text-transform: uppercase!important;
    background-color: #3291e9!important;
    font-weight: 600;
    font-size: 95%;
}

.full-width {
    width: 100%!important;
}

.margin-top {
    margin-top: 15px!important;
}