<app-nft-header></app-nft-header>
<div class="assetTransfer__DivContainer-tf3ek8-0 enKYLT" *ngIf="asset">
    <div class="card auction_card">
        <div class="card-image">
            <img src="{{asset.media}}">
        </div>
    </div>
    <h4 class="auction_item">Transfer</h4>
    <form class="AssetTransfer--form">
        <div>
            <div>
                <label>Wallet Address</label>
                <div class="Inputreact__DivContainer-sc-17icy78-0 jQqhEq  ">
                    <div class="Input--main ">
                        <div class="Input--prefix"></div>
                        <input autocapitalize="off" name="to" autocomplete="off" autocorrect="off" class="browser-default Input--input " data-testid="Input"  spellcheck="false" type="text" [(ngModel)]="to">
                    </div>
                </div>
            </div>
            <p class="center-align margin-bottom">
                <strong>"{{asset.name}}"</strong> will be transferred to {{to ? to : '...'}}
            </p>
        </div>
        <button class="btn-large btn-blue full-width margin-top" (click)="transfer()">Transfer</button>
        <p class="red-text"></p>
    </form>
</div>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>