
<div class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 SpaceBetweenreact__SpaceBetween-sc-1fhztth-0 AssetTopbarreact__DivContainer-sc-1il1we4-0 hPCQNa irGSTk hUGXgk filPfK"><span></span><span display="flex" class="Blockreact__Block-sc-18q9hu0-0 Textreact__Text-sc-1cvs3a3-0 hWXGeW ilXIqv"><i size="20" aria-label="Favorite" value="favorite_border" class="Iconreact__Icon-sc-1gugx8q-0 FavoriteIconreact__StyledIcon-sc-289aae-0 etJEnN brbNPj material-icons">favorite_border</i><div class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 VerticalAlignedreact__VerticalAligned-sc-1v4gkkl-0 fMwKmi irGSTk jpdfEF">0</div></span></div>

<div class="d-flex justify-content-center align-items-center media-container"> 
    <img class="Image--image" src="https://lh3.googleusercontent.com/NI3PQUecgkQWHhkxRt9_eV-USS4fN4EsYEg5XuPjZbYW2Bim3UbK9iz9lXaVHW9h1dBbxV_UuXphYTAK5WdUyeJ4fBo_W_ztHvHRng=s992" style="object-fit: contain;">
</div>