<h4><strong>{{asset.name}}</strong>{{' has been created!' | translate}}</h4>
<div class="text-center">
    <!--
    <div style="height: 200px;background-image: url('https://lh3.googleusercontent.com/E_vznLJI8etM3V_AmkgNeaIFDZ1ve4v9w-IBMkU4BzgisoX4kptb3jiD0fJcJpQoNwjrEmD61sA8cWVw9GDXIN7MlvVnjkUEcGCU=w250')">

    </div>
    -->
    <img src="{{asset.media}}">
    <div class="d-flex justify-content-center">
        <app-nft-button [type]="'primary'" [name]="'Visit' | translate" (click)="visit()"></app-nft-button>
        <app-nft-button [type]="'secondary'" [name]="'Sell' | translate" (click)="sell()"></app-nft-button>
    </div>
</div>




