
<!-- 支付页 -->
<!-- 暂时停用此页 -->

<!-- 上下边线，解决 margin 问题 -->
<main id="content" role="main" class="border-top border-bottom bg-light" *ngIf="order">  <!-- 背景灰色 -->

    <div class="row justify-content-center">  <!-- 本行，水平置中 -->
        <div class="m-3 p-3 container border rounded bg-white">  <!-- 背景白色，圆角边框，mb-3 改 m-3 -->

            <div class="font-size-16" *ngIf="order">  <!-- container -->
                <div>
                    {{ 'ObjectId' | translate }}: 
                    <a target="_blank" href="/iddock/detail/things/{{order.objectId}}">
                        {{ order.objectId }}
                    </a>
                </div>
                <div class="text-center">
                    <h1>{{ "Payment" | translate }}</h1>
                </div>

                <div class="row" *ngIf="(!tableNo || tableNo <= 0)">  <!-- 现场点餐 1 -->

                    <!-- <div class="col col-8 px-2"> -->
                        <div class="m-3 p-3 container w-90 border rounded">
                            <div class="p-3">
                                <div>  <!-- "py-3" -->
                                    <div class="py-2 text-muted d-flex align-items-center justify-content-between">
                                        <div>
                                            {{'Shipping information' | translate}}
                                        </div>
                                        <button type="button" class="btn btn-default btn-sm btn-block newButton-S border" (click)="change()">
                                            {{ 'Change' | translate }}
                                        </button>
                                    </div>
                                    <div>
                                        <div class="font-weight-bold">
                                            {{order.name}} {{order.buyerPhone}}
                                        </div>
                                        <div>
                                            {{order.streetNumber}} {{order.streetName}} {{order.city}} {{order.province}}, {{order.zip}} {{order.country}}
                                        </div>
                                    </div>
                                </div>
                                <div class="py-3">
                                    <div class="py-2 text-muted">
                                        {{'Shipping services' | translate}}
                                    </div>
                                    <div class="row Shipping-method">

                                        <div class="col col-4 border-top border-bottom  p-3 col-md-offset-1" [ngClass]="selectedShippingService=='express' ? 'selected' : ''" (click)="selectShippingService('express')">
                                            <div class="d-flex align-items-start">
                                                <img src="/assets/svg/delivery2.svg">
                                                <div class="px-3">
                                                    <div class="font-weight-bold">
                                                        {{'Express delivery' | translate}}
                                                    </div>
                                                    <div class="text-muted">
                                                        {{'We ship as soon as possible' | translate}}
                                                    </div>  <!-- 'We ship in 1-2 days' -->
                                                    <div>
                                                        10 {{currency}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <div class="col col-4 border p-3"  [ngClass]="selectedShippingService=='standard' ? 'selected' : ''" (click)="selectShippingService('standard')">
                                            <div class="d-flex align-items-start">
                                                <img src="/assets/svg/delivery.svg">
                                                <div class="px-3">
                                                    <div class="font-weight-bold">
                                                        {{'Standard delivery' | translate}}
                                                    </div>
                                                    <div class="text-muted">
                                                        {{'We ship in 3-7 day' | translate}}
                                                    </div>
                                                    <div>
                                                        {{'Free' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  -->

                                        <div class="col col-4 border-top border-bottom p-3" [ngClass]="selectedShippingService=='pickup' ? 'selected' : ''" (click)="selectShippingService('pickup')">
                                            <div class="d-flex align-items-start">
                                                <img src="/assets/svg/pickup.svg">
                                                <div class="px-3">
                                                    <div class="font-weight-bold">
                                                        {{'Pickup from store' | translate}}
                                                    </div>
                                                    <div class="text-muted">
                                                        {{'Today' | translate}}
                                                    </div>
                                                    <div>
                                                        {{'Free' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 

                                    </div>  
                                </div>

                                <!-- <div class="d-flex justify-content-center" *ngIf="order.paymentStatus != 2">
                                    <button (click)="placeOrder()" type="submit" class="btn myButton-Submit font-size-18">
                                        {{ 'Place order' | translate }}
                                    </button>
                                </div>
                                <div class="text-center" *ngIf="order.paymentStatus == 2">
                                    {{'Your order was paid successfully with txid' | translate}}: {{order.charge_id}}
                                </div> -->
                            </div>
                        </div>
                    <!-- </div> -->

                    <!-- <div class="col col-4 px-2">
                        <div class="card w-100 p-3">
                            <div class="p-3 border-bottom">
                                <div class="text-muted py-3">
                                    {{'Your order' | translate}}
                                </div>
                                <div *ngFor="let item of order.items" class="py-2">
                                    <div class="row">
                                        <div class="col col-4">
                                            <img class="img-thumbnail" [src]="item.thumbnailUrl">
                                        </div>
                                        
                                        <div class="col col-8">
                                            <div class="font-weight-bold">
                                                <div>
                                                    {{item.title}}
                                                </div>
                                                <div *ngIf="item.color"><small>{{item.color}}</small></div>
                                                <div *ngIf="item.size"><small>{{item.size}}</small></div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-4">
                                                    {{item.price}}
                                                </div>
                                                <div class="col col-4">
                                                    x{{item.quantity}}
                                                </div>
                                                <div class="col col-4 font-weight-bold">
                                                    {{item.price * item.quantity}}{{currency}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="row py-2">
                                    <div class="col col-6">
                                        {{'Subtotal' | translate}}
                                    </div>
                                    <div class="col col-6 text-right">
                                        {{subtotal}}{{currency}}
                                    </div>                        
                                </div>
                                <div class="row py-2">
                                    <div class="col col-6">
                                        {{'Shipping' | translate}}
                                    </div>
                                    <div class="col col-6 text-right">
                                        {{(shippingFee == '0' ? 'Free' : (shippingFee + currency)) | translate}}
                                    </div>                        
                                </div>  
                                <div class="row py-2">
                                    <div class="col col-6">
                                        {{'Tax' | translate}}
                                    </div>
                                    <div class="col col-6 text-right">
                                        {{tax + currency}}
                                    </div>                        
                                </div>  
                                <div class="row py-2" *ngIf="discount">
                                    <div class="col col-6">
                                        {{'Discount' | translate}}
                                    </div>
                                    <div class="col col-6 text-right">
                                    {{discount}}%
                                    </div>                        
                                </div>  
                                <div class="row py-2">
                                    <div class="col col-6 font-weight-bold">
                                        {{'Total' | translate}}
                                    </div>
                                    <div class="col col-6 text-right font-weight-bold">
                                        {{total}}{{currency}}
                                    </div>                        
                                </div>
                            </div>
                        </div> 
                    </div> -->
                </div>

                <div class="cart-table">  <!-- 下边框 mb-10 -->
                    <form class="" action="#" method="post">  <!-- "mb-4" -->
                        <table class="table mb-3" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-name">{{'Product' | translate}}</th>
                                    <th class="product-price">{{'Price' | translate}}</th>
                                    <th class="product-quantity w-lg-15">{{'Quantity' | translate}}</th>
                                    <th class="product-subtotal">{{'Total' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="py-2" *ngFor="let item of order.items">
                                    <td class="font-weight-bold">{{ item.title }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>x {{ item.quantity }}</td>
                                    <td>{{ item.price * item.quantity }} {{ currency }}</td>
                                </tr>
                            </tbody>
                            <tfoot class="border-top">
                                <tr>
                                    <th colspan="3" class="text-right font-size-20">{{ 'Subtotal' | translate }}</th>
                                    <th class="font-size-17">
                                        {{subtotal}} {{currency}}
                                    </th>
                                </tr>
                                <tr *ngIf="(!tableNo || tableNo <= 0)">  <!-- 现场点餐 2 -->
                                    <th colspan="3" class="text-right font-size-20">{{ 'Shipping' | translate }}</th>
                                    <th class="font-size-17">
                                        {{ (shippingFee == '0' ? 'Free' : (shippingFee + currency)) | translate }}
                                    </th>
                                </tr>
                                <tr *ngIf="discount">
                                    <th colspan="3" class="text-right font-size-20">{{ 'Discount' | translate }}</th>
                                    <th class="font-size-17">
                                        {{ discount }}%
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-right font-size-20">{{ 'Tax' | translate }}</th>
                                    <th class="font-size-17">
                                        {{tax}} {{currency}}
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="3" class="text-right font-size-20">{{ 'Total' | translate }}</th>
                                    <th class="font-size-17">
                                        {{total}} {{currency}}
                                    </th>
                                </tr>
                                <tr *ngIf="order.paymentStatus != 2">
                                    <td colspan="3">
                                    </td>
                                    <td>
                                        <div class="d-md-flex">
                                            <button type="button" class="btn btn-danger btn-lg btn-block NewButton" (click)="placeOrder()">
                                                {{'Place Order' | translate}}
                                            </button>
                                            <!-- <button type="button" class="btn btn-danger btn-lg btn-block NewButton" *ngIf="(tableNo && tableNo > 0)" (click)="placeOrder()">
                                                {{'Place Order' | translate}}
                                            </button>
                                            <button type="button" class="btn btn-danger btn-lg btn-block NewButton" *ngIf="(!tableNo || tableNo <= 0)" (click)="checkout()">
                                                {{'Check Out' | translate}}
                                            </button> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="order.paymentStatus == 2">
                                    <td colspan="4" class="text-center">
                                        Your order was paid successfully with txid: {{ order.charge_id }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
        
                <div class="font-size-14">
                    {{ "Merchant's Name" | translate }}: {{ order.merchantId.name }}
                </div>
                <div class="font-size-14">
                    {{ "Merchant's Phone" | translate }}: {{ order.merchantId.phone }}
                </div>
                <!-- <div>
                    {{ 'Email' | translate }}: {{ order.merchantId.email }}
                </div> -->
                <!-- Login Email: {{ order.merchantId.createMemberId.email }} -->
    
            </div>

        </div>
    </div>

</main>
