<div class="CreateCollection--form">
    <div class="CreateCollection--form">
        <h4 class="CreateCollection--header">
            {{'Create your collection' | translate}}
        </h4>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="type" type="radio" name="flexRadioDefault" value="ERC721">
            <label class="form-check-label" for="flexRadioDefault1">
              ERC721 - {{'individual NFT standard' | translate}}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="type" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="ERC1155">
            <label class="form-check-label" for="flexRadioDefault2">
              ERC1155 - {{'multiple functions and batch transactions supported NFT standard' | translate}}
            </label>
        </div>
        
        <p class="CreateCollection--info">
            {{'You can change these values later, along with configuring external URLs, and payment options.' | translate}}
        </p>
        <div class="form-container">





            <app-image-uploader [(ngModel)]="image" [title]="'Logo*' | translate" [subtitle]="'(350 x 350 recommended)' | translate"></app-image-uploader>
            <app-textbox [(ngModel)]="name" [title]="'Name *' | translate" ></app-textbox>

            <div class="pt-3">
                <app-textarea [title]="'Description' | translate" [(ngModel)]="description"></app-textarea>
            </div>
            
            <div class="border p-3">
                <div>
                    <h2>
                        {{'Royalties' | translate}}
                    </h2>
                    <div>
                        {{'Collect a fee when a user re-sells an item you originally created. This is deducted from the final sale price and paid monthly to a payout address of your choosing.' | translate}}
                    </div>
                </div>
                <div class="mt-3">
                    <app-textbox [(ngModel)]="payoutPercentageFee" [placeholder]="'e.g. 2.5'" [title]="'Percentage fee' | translate" ></app-textbox>
                </div>
                <div class="mt-3">
                    <app-textbox class="mt-3" [(ngModel)]="payoutWalletAddress" [title]="'Your payout wallet address *' | translate" ></app-textbox>
                </div>
            </div>
            
            <div class="CreateCollection--actions">
                <div class="ActionButtonrContainer">
                    <div class="ActionButton--content" (click)="createCollection()" style="min-width: 120px;">
                        {{'Create' | translate}}
                    </div>
                </div> 
            </div>
           
        </div>
    </div>
</div>