<div class="container">
    <div class="row">
        <div class="col col-6">
            <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-3">{{'Coin' | translate}}</div>
                  <div class="col col-3">{{'Percentage' | translate}}</div>
                </li>
                <li class="table-row" *ngFor="let coin of rewardCoins">
                  <div class="col col-3" data-label="Title">{{coin.name}}</div>
                  <div class="col col-3" data-label="Sequance">{{coin.percentage}}</div>
                </li>
            </ul>    
            <div class="CreateCollection--actions pb-3">
                <div class="ActionButtonrContainer">
                    <div class="ActionButton--content" (click)="updateRewardCoins()" style="min-width: 120px;">
                        {{'Update' | translate}}
                    </div>
                </div> 
            </div>      
            
            
            <ul class="responsive-table">
              <li class="table-row">
                <div class="col col-3" data-label="Payment fee rate">paymentFee Rate</div>
                <div class="col col-3" data-label="Sequance">{{paymentFeeRate}}</div>
              </li>
            </ul>    
            <div class="CreateCollection--actions">
                <div class="ActionButtonrContainer">
                    <div class="ActionButton--content" (click)="updatePaymentFeeRate()" style="min-width: 120px;">
                        {{'Update' | translate}}
                    </div>
                </div> 
            </div>  
            

        </div>
        <div class="col col-6">
            <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-3">{{'Reward' | translate}}</div>
                  <div class="col col-3">{{'Percentage' | translate}}</div>
                </li>
                <li class="table-row" *ngFor="let reward of rewardPercentages">
                  <div class="col col-3" data-label="Title">{{reward.name}}</div>
                  <div class="col col-3" data-label="Sequance">{{reward.percentage}}</div>
                </li>
              </ul>   
              <div class="CreateCollection--actions">
                <div class="ActionButtonrContainer">
                    <div class="ActionButton--content" (click)="updateRewardPercentages()" style="min-width: 120px;">
                        {{'Update' | translate}}
                    </div>
                </div> 
            </div>           
        </div>
    </div>
</div>
