.container {
    padding-top: 100px;
}
.btn {
    max-width: 200px;
}

.img-thumbnail {
    width: 80%;
    height: auto;
}

.title {
    font-weight: 700;
    font-size: 20px;
}

.link {
    color: lightskyblue;
    cursor: pointer;
}

.text-right {
    text-align: right;
}