
<div [ngClass]="!noPadding?'container': ''">

    <div class="card">
        <div *ngIf="cartItems && (cartItems.length > 0)">
            <h4 class="border-bottom p-3 m-3">Items in your cart</h4>
            <div class="border-bottom p-3 m-3" *ngFor="let item of cartItems;let i = index;">
                
                <app-cart-product (productUpdated)="updateProduct($event)" [product]="item"></app-cart-product>
            </div>
    
            <div class="text-right p-3">
                Total: 
                <span *ngFor="let item of Total">
                    {{item.total}} {{item.currency}}
                </span>
            </div> 

            <div class="d-flex justify-content-between">
                <button class="btn" (click)="checkout()">
                    Checkout
                </button>
                <button class="btn" (click)="clear()">
                    Clear
                </button>                
            </div>            
        </div>
        <div *ngIf="!cartItems || (cartItems.length == 0)" class="justify-content-center p-3">
            No items in your cart
        </div>
    </div>





    <div class="row" *ngIf="payLink">
        click the <a target="_blank" href="{{payLink}}">link</a> to finish payment.
    </div>
    <!--
    <div class="row" *ngIf="payQrcode">
        <qrcode [qrdata]="payQrcode" id="address_qr_code" style="display: inline-block" [size]="150" [level]="'M'"></qrcode>
    </div>
    -->
    <div *ngIf="paidConfirmed">
        Your payment is confirmed. txid is 
        <a href="{{txid_link}}">
            {{txid}}
        </a>
        
    </div>
</div>