<div class="container">
    <div class="row" *ngFor="let item of cartItems">

        Product:{{item.title}} {{item.price}} {{item.currency}}   
        Quantity: {{item.quantity}}
    </div>

    <div class="row">
        <button class="btn" (click)="pay()">
            pay
        </button>
        
    </div>

    <div class="row" *ngIf="payLink">
        click the <a target="_blank" href="{{payLink}}">link</a> to finish payment.
    </div>
    <!--
    <div class="row" *ngIf="payQrcode">
        <qrcode [qrdata]="payQrcode" id="address_qr_code" style="display: inline-block" [size]="150" [level]="'M'"></qrcode>
    </div>
    -->
    <div *ngIf="paidConfirmed">
        Your payment is confirmed. txid is 
        <a href="{{txid_link}}">
            {{txid}}
        </a>
        
    </div>
</div>