
<div class="container">

    <div class="card">
        <h4 class="border-bottom p-3 m-3">Items in your cart</h4>
        <div class="border-bottom p-3 m-3" *ngFor="let item of cartItems">
            <div class="d-flex justify-content-between border-bottom">
                <div *ngIf="item.image" class="w-25">
                    <img [src]="item.image" class="img-thumbnail">
                </div>
                <div class="w-75 py-3">
                    <div class="py-3 d-flex justify-content-between border-bottom px-3">
                        <div class="title">
                            {{item.title | translateField}} 
                        </div>
                        <div>
                            {{item.price}} {{item.currency}}
                        </div>
                        <div>
                            <input value="{{item.quantity}}">
                        </div>
                        <div>
                            {{item.price * item.quantity}} {{item.currency}}
                        </div>                        
                    </div>
                    <div class="py-3 text-right">
                        <div class="link">
                            Remove
                        </div>
                        
                    </div>                    
                </div>

            </div>

        </div>

        <div class="text-right p-3">
            Total: 
            <span *ngFor="let item of total">
                {{item.total}} {{item.currency}}
            </span>
        </div>        
    </div>



    <div class="row text-right">
        <button class="btn" (click)="checkout()">
            Checkout
        </button>
        
    </div>

    <div class="row" *ngIf="payLink">
        click the <a target="_blank" href="{{payLink}}">link</a> to finish payment.
    </div>
    <!--
    <div class="row" *ngIf="payQrcode">
        <qrcode [qrdata]="payQrcode" id="address_qr_code" style="display: inline-block" [size]="150" [level]="'M'"></qrcode>
    </div>
    -->
    <div *ngIf="paidConfirmed">
        Your payment is confirmed. txid is 
        <a href="{{txid_link}}">
            {{txid}}
        </a>
        
    </div>
</div>