<!-- Slider Section -->
<div class="mb-4">
  <!-- <div class="bg-img-hero" style="background-image: url(../../assets/img/1920X422/img2.jpg);">
    <div class="container overflow-hidden"> -->
      <!-- Slideshow container -->
      <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides" [ngClass]="(slideIndex==1)?'show':'fade'">
          <img src="/assets/images/banners/img_nature_wide.jpg" style="width:100%">
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides" [ngClass]="(slideIndex==2)?'show':'fade'">
          <img src="/assets/images/banners/img_snow_wide.jpg" style="width:100%">
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides" [ngClass]="(slideIndex==3)?'show':'fade'">
          <img src="/assets/images/banners/img_lights_wide.jpg" style="width:100%">
          <div class="text">Caption Three</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" [ngClass]="(slideIndex==1)?'active':''" (click)="currentSlide(1)"></span>
        <span class="dot" [ngClass]="(slideIndex==2)?'active':''" (click)="currentSlide(2)"></span>
        <span class="dot" [ngClass]="(slideIndex==3)?'active':''" (click)="currentSlide(3)"></span>
      </div>

      <!-- <div class="js-slick-carousel u-slick"
              data-pagi-classes="text-center position-absolute right-0 bottom-0 left-0 u-slick__pagination u-slick__pagination--long justify-content-center mb-3 mb-md-4">
              <div class="js-slide">
                  <div class="row pt-7 py-md-0">
                      <div class="d-none d-wd-block offset-1"></div>
                      <div class="col-xl col col-md-6 mt-md-8 mt-lg-10">
                          <div class="ml-xl-4">
                              <h6 class="font-size-15 font-weight-bold mb-2 text-cyan"
                                  data-scs-animation-in="fadeInUp">
                                  SHOP TO GET WHAT YOU LOVE
                              </h6>
                              <h1 class="font-size-46 text-lh-50 font-weight-light mb-8"
                                  data-scs-animation-in="fadeInUp"
                                  data-scs-animation-delay="200">
                                  TIMEPIECES THAT MAKE A STATEMENT UP TO <b class="font-weight-bold">40% OFF</b>
                              </h1>
                              <a [routerLink]="['/product']" class="btn btn-primary transition-3d-hover rounded-lg font-weight-normal py-2 px-md-7 px-3 font-size-16"
                                  data-scs-animation-in="fadeInUp"
                                  data-scs-animation-delay="300">
                                  Start Buying
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-7 col-6 d-flex align-items-end ml-auto ml-md-0"
                          data-scs-animation-in="fadeInRight"
                          data-scs-animation-delay="500">
                          <img class="img-fluid ml-auto mr-10 mr-wd-auto" src="../../assets/img/468X417/img1.png" alt="Image Description">
                      </div>
                  </div>
              </div>
              <div class="js-slide">
                  <div class="row pt-7 py-md-0">
                      <div class="d-none d-wd-block offset-1"></div>
                      <div class="col-xl col col-md-6 mt-md-8 mt-lg-10">
                          <div class="ml-xl-4">
                              <h6 class="font-size-15 font-weight-bold mb-2 text-cyan"
                                  data-scs-animation-in="fadeInUp">
                                  SHOP TO GET WHAT YOU LOVE
                              </h6>
                              <h1 class="font-size-46 text-lh-50 font-weight-light mb-8"
                                  data-scs-animation-in="fadeInUp"
                                  data-scs-animation-delay="200">
                                  TIMEPIECES THAT MAKE A STATEMENT UP TO <b class="font-weight-bold">40% OFF</b>
                              </h1>
                              <a [routerLink]="['/product']" class="btn btn-primary transition-3d-hover rounded-lg font-weight-normal py-2 px-md-7 px-3 font-size-16"
                                  data-scs-animation-in="fadeInUp"
                                  data-scs-animation-delay="300">
                                  Start Buying
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-7 col-6 flex-horizontal-center ml-auto ml-md-0"
                          data-scs-animation-in="fadeInRight"
                          data-scs-animation-delay="500">
                          <img class="img-fluid ml-auto mr-10 mr-wd-auto h-100" src="../../assets/img/416X420/img1.png" alt="Image Description">
                      </div>
                  </div>
              </div>
              <div class="js-slide">
                  <div class="row pt-7 py-md-0">
                      <div class="d-none d-wd-block offset-1"></div>
                      <div class="col-xl col col-md-6 mt-md-8 mt-lg-10">
                          <div class="ml-xl-4">
                              <h6 class="font-size-15 font-weight-bold mb-2 text-cyan"
                                  data-scs-animation-in="fadeInUp">
                                  SHOP TO GET WHAT YOU LOVE
                              </h6>
                              <h1 class="font-size-46 text-lh-50 font-weight-light mb-8"
                                  data-scs-animation-in="fadeInUp"
                                  data-scs-animation-delay="200">
                                  TIMEPIECES THAT MAKE A STATEMENT UP TO <b class="font-weight-bold">40% OFF</b>
                              </h1>
                              <a [routerLink]="['/product']" class="btn btn-primary transition-3d-hover rounded-lg font-weight-normal py-2 px-md-7 px-3 font-size-16"
                                  data-scs-animation-in="fadeInUp"
                                  data-scs-animation-delay="300">
                                  Start Buying
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-7 col-6 flex-horizontal-center ml-auto ml-md-0"
                          data-scs-animation-in="fadeInRight"
                          data-scs-animation-delay="500">
                          <img class="img-fluid ml-auto mr-10 mr-wd-auto h-100" src="../../assets/img/416X420/img3.png" alt="Image Description">
                      </div>
                  </div>
              </div>
          </div> -->
    <!-- </div>
  </div> -->
</div>
<!-- End Slider Section -->