
<div class="OrderManagerreact__DivContainer-rw3i3h-0 eyduij" *ngIf="isOwner || sellOrder">
    <div class="OrderManager--cta-container">
        <div *ngIf="isOwner">
            <div *ngIf="!sellOrder" class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light" (click)="sell()" data-testid="ActionButton" role="button" tabindex="0">
                <div class="ActionButton--content " style="min-width: 120px;">Sell</div>
            </div>  
            <div *ngIf="sellOrder">
                <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--tertiary ActionButton--light ActionButton--iconOnly OrderManager--second-button" (click)="cancelListing()" data-testid="ActionButton" role="button" tabindex="0" type="tertiary">
                    <div class="ActionButton--content ">Cancel Listing</div>
                </div>
                <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light " data-testid="ActionButton" role="button" tabindex="0" (click)="priceChange()">
                    <div class="ActionButton--content " style="min-width: 120px;">Price Change</div>
                </div>                
            </div>
        </div>
        <div *ngIf="!isOwner && sellOrder" class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light" (click)="buy()" data-testid="ActionButton" role="button" tabindex="0">
            <div class="ActionButton--content " style="min-width: 120px;">Buy</div>
        </div>  

        <!--
        <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light" (click)="validate()" data-testid="ActionButton" role="button" tabindex="0">
            <div class="ActionButton--content " style="min-width: 120px;">Validate</div>
        </div> 
        -->        
    </div>
</div>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>