
<div class="d-flex justify-content-between">
    <div *ngIf="sellOrder || balance" class="pt-2 pl-2 overview-text">
        <div *ngIf="sellOrder">
            <div>
                {{'Seller' | translate}}:{{getSeller()}}
            </div>
    
            <div class="d-flex">
                <div class="pr-2">
                    {{'Amount' | translate}}:{{sellOrder.amount ? sellOrder.amount : 1}}
                </div>
                <div class="pr-2">
                    {{'Price' | translate}}:{{sellOrder.basePrice}}
                </div>
                <div>
                    {{'Total' | translate}}:{{getSellOrderTotal()}}
                </div>
            </div>
        </div>

        <div *ngIf="balance">
            {{'My balance' | translate}}: {{balance}}
        </div>
        owner:{{owner}}, address:{{address}}
    </div>
    <div class="OrderManagerreact__DivContainer-rw3i3h-0 eyduij">
        <div class="OrderManager--cta-container">
            <div *ngIf="address && ((owner == address) || (balance > 0))">
                <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light mx-3" *ngIf="(owner == address)" (click)="edit()" data-testid="ActionButton" role="button" tabindex="0">
                    <div class="ActionButton--content" style="min-width: 120px;">{{'Edit' | translate}}</div>
                </div> 

                <div *ngIf="!sellOrder" class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light" (click)="sell()" data-testid="ActionButton" role="button" tabindex="0">
                    <div class="ActionButton--content " style="min-width: 120px;">{{'Sell' | translate}}</div>
                </div>  
            </div>
            <div *ngIf="sellOrder">
                <div *ngIf="isSellOrderOwner()">
                    <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--tertiary ActionButton--light ActionButton--iconOnly OrderManager--second-button" (click)="cancelListing()" data-testid="ActionButton" role="button" tabindex="0" type="tertiary">
                        <div class="ActionButton--content ">{{'Cancel Listing' | translate}}</div>
                    </div>
                    <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light " data-testid="ActionButton" role="button" tabindex="0" (click)="priceChange()">
                        <div class="ActionButton--content " style="min-width: 120px;">{{'Price Change' | translate}}</div>
                    </div>                
                </div>
    
                <div *ngIf="!isSellOrderOwner() || !address" class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF ActionButton--light" (click)="buy()" data-testid="ActionButton" role="button" tabindex="0">
                    <div class="ActionButton--content " style="min-width: 120px;">{{'Buy' | translate}}</div>
                </div> 
     
            </div>
    
          
        </div>
    </div>
</div>


<ngx-bootstrap-spinner></ngx-bootstrap-spinner>