<div class="TabNavbarreact__DivContainer-v265oa-0 jKagte account--navbar" data-testid="TabNavbar">
    <div class="TabNavItemreact__DivContainer-rysb7w-0 Pisok TabNavItem--button " 
    [ngClass]="value == 'wallet' ? 'TabNavItem--active' : ''"
    (click)="writeValue('wallet')">
        <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV TabNavItem--icon material-icons" value="loyalty" size="24">loyalty</i> 
        <span class="TabNavItem--name">In Wallet</span>
    </div>
    <div class="TabNavItemreact__DivContainer-rysb7w-0 Pisok TabNavItem--button " 
    [ngClass]="value == 'activity' ? 'TabNavItem--active' : ''"
    (click)="writeValue('activity')">
        <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV TabNavItem--icon material-icons" value="history" size="24">history</i> 
        <span class="TabNavItem--name">Activity</span>
    </div>
    <div class="TabNavItemreact__DivContainer-rysb7w-0 Pisok TabNavItem--button " 
    [ngClass]="value == 'offers' ? 'TabNavItem--active' : ''"
    (click)="writeValue('offers')">
        <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV TabNavItem--icon material-icons" value="redeem" size="24">redeem</i> 
        <span class="TabNavItem--name">Offers</span>
    </div>
    <div class="TabNavItemreact__DivContainer-rysb7w-0 Pisok TabNavItem--button " 
    [ngClass]="value == 'favorites' ? 'TabNavItem--active' : ''"
    (click)="writeValue('favorites')">
        <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV TabNavItem--icon material-icons" value="favorite_border" size="24">favorite_border</i> 
        <span class="TabNavItem--name">Favorites</span>
    </div>
</div>