.rankings--table {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 7px;
    overflow-x: scroll;
    width: 100%;
}

.rankings--table .rankings--table-body {
    min-height: 600px;
    min-width: 1200px;
    overflow-x: inherit;
    width: 100%;
}

.rankings--table .rankings--table-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 40px;
    padding: 0px 5px 7px 0px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.rankings--table .rankings--table-body .rankings--table-row:nth-child(2n) {
    background: rgba(0, 0, 0, 0.01);
}

.rankings--table .rankings--table-body .rankings--table-row {
    display: flex;
    padding: 20px 10px;
    width: 100%;
}

.relative {
    position: relative!important;
}

.rankings--table-header-item {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 14%;
}

.rankings--table .rankings--table-body .rankings--table-row .rankings--table-cell {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(158, 158, 158);
    display: flex;
    font-size: 15px;
    line-height: 16px;
    padding-top: 4px;
    width: 20%;
}