<div class="rankings--table">
    <div class="rankings--table-body">
        <div class="rankings--table-header">
            <h6 style="font-size: 14px; font-weight: 600; letter-spacing: 1px; margin: 12px 116px 12px 8px;">
                <span>Collection</span>
            </h6>
            <h6 class="rankings--table-header-item">
                <a style="cursor: pointer;">↓7 day volume</a>
            </h6>
            <h6 class="rankings--table-header-item">
                <a style="cursor: pointer;">7 day change</a>
            </h6>
            <h6 class="rankings--table-header-item">
                <a style="cursor: pointer;">total volume</a>
            </h6>
            <h6 class="rankings--table-header-item">
                <a style="cursor: pointer;">avg price</a>
            </h6>
            <h6 class="rankings--table-header-item">
                <a style="cursor: pointer;">owners</a>
            </h6>
            <h6 class="rankings--table-header-item">
                <a style="cursor: pointer;">assets</a>
            </h6>
        </div>
        <div class="rankings__DivRow-sc-186wz2p-1 eaiNgo rankings--table-row relative">
            <div class="rankings--table-row-badge">NEW</div>
            <div class="rankings--table-cell rankings--table-row-rank">1.</div>
            <span class="rankings--table-cell">
                <div class="rankings--category-wrapper">
                    <div class="Imagereact__DivContainer-dy59cl-0 DQxmU Image--isImageLoaderDisplayed Image--isImageLoaderVisible " style="height: 24px; width: 24px;"></div>
                    <span class="rankings--category-title">
                        <a class="Linkreact__StyledA-sc-2wdtl1-0 beDHjL rankings--category-title-link" href="/activity/evaverse-azc1clexti">
                            <strong>Evaverse - Azc1clextI</strong>
                        </a>
                    </span>
                </div>
            </span>
            <span class="rankings--table-cell">㆔ 17.87</span>
            <span class="rankings--table-cell ">---</span>
            <span class="rankings--table-cell">㆔ 17.87</span>
            <span class="rankings--table-cell">㆔ 1.62</span>
            <span class="rankings--table-cell">4</span>
            <span class="rankings--table-cell">1,509</span>
        </div>
    </div>
</div>