<div class="AssetForm--has-unlockable-content">
    <div class="d-flex justify-content-between">
        <div>
            <div class="AssetForm--item">
                <i class="Iconreact__Icon-sc-1gugx8q-0 kyEOvi AssetForm--item-icon material-icons" color="purple" value="lock_open" size="24">lock_open</i>
                <span class="AssetForm--item-label">{{'Unlockable Content' | translate}}</span>
            </div>
            <header class="AssetForm--input-header">
                {{'Include unlockable content that can only be revealed by the owner of the item.' | translate}}
            </header>
        </div>
        <div class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 VerticalAlignedreact__VerticalAligned-sc-1v4gkkl-0 ijQNAs irGSTk jpdfEF">
            <div class="switch">
                <label>
                    <input type="checkbox" (click)="switch()">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="AssetForm--unlockable-content" *ngIf="unlocked">
    <textarea class="TextAreareact__TextAreaImpl-sc-1dlb6ar-0 jFLKqz" 
    [(ngModel)]="value" (ngModelChange)="updateChanges()"
    placeholder="{{'Enter content (access key, code to redeem, link to a file, etc.)' | translate}}" 
    rows="4"></textarea>
</div>