.CreateCollection--success {
    
    background-position: center center;
    background-size: cover;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 3px 1px;
    height: 350px;
    margin: 24px auto;
    width: 350px;
}

.CreateCollection--actions {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}