.CreateCollection--success {
    background-image: url(https://lh3.googleusercontent.com/E_vznLJI8etM3V_AmkgNeaIFDZ1ve4v9w-IBMkU4BzgisoX4kptb3jiD0fJcJpQoNwjrEmD61sA8cWVw9GDXIN7MlvVnjkUEcGCU=w250);
    background-position: center center;
    background-size: cover;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 3px 1px;
    height: 350px;
    margin: 24px auto;
    width: 350px;
}

.CreateCollection--actions {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
}