<form style="border:1px solid #ccc">
    <div class="container">
      <h1>My profile</h1>
      <hr>
      


      <div>
        <label for="email"><b>Display Name</b></label>
        <input type="text" placeholder="Enter display name" [(ngModel)]="displayName" name="displayName" required>
  
        <label for="email"><b>Avatar</b></label>
        <app-admin-upload-media [(images)]="images" [singleFile]="true"></app-admin-upload-media>

      </div>

      <div class="text-right py-2">
        <button type="submit" class="btn signinbtn" (click)="update()">Update</button>
      </div>
    </div>
</form>