
<!-- 新增统一页首 -->
<app-stores-header></app-stores-header>

<!-- <div class="grid" [ngClass]="showNavMenu ? 'grid--noscroll' : ''">
    <header class="header">
        <img class="header__menu" (click)="toggleShowNavMenu()" src="/assets/svg/bars-solid.svg">
        <div class="header__search">
            <input class="header__input" placeholder="{{'Search' | translate}}..." />
        </div>
        <div class="d-flex align-items-center">
            {{wallet.name}}
            <div class="header__avatar" (click)="toggleDropDownActive()">

                <div class="d-inline-block">
                    <img class="img-avatar" *ngIf="myPhotoUrl" [src]="myPhotoUrl">
                    <i *ngIf="!(myPhotoUrl)" class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV NavItem--icon material-icons-outlined" title="Wallet" value="account_balance_wallet" size="24">
                            account_balance_wallet
                        </i> -->
                        <!--  更古老的
                        <img class="img-avatar" *ngIf="!(myPhotoUrl)" src="/assets/images/crypto-wallet.png">
                        -->
                <!-- </div> -->

                <!-- <div class="d-inline-block">
                    <div class="dropdown" [ngClass]="dropDownActive ? 'dropdown--active' : ''">
                        <ul class="dropdown__list">

                            <li class="dropdown__list-item" *ngFor="let item of wallets.items; let i=index" (click)="changeWallet(i, item)">
                                <span class="dropdown__icon"><i class="fas fa-wallet"></i></span>
                                <span class="dropdown__title">{{item.name}}</span>
                            </li> -->
                            <!--  更古老的
                            <li class="dropdown__list-item" (click)="profile()">
                                <span class="dropdown__icon"><i class="far fa-user"></i></span>
                                <span class="dropdown__title">{{'my profile' | translate}}</span>
                            </li>
                            <li class="dropdown__list-item" (click)="logout()">
                                <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="dropdown__title">{{'log out' | translate}}</span>
                            </li>
                            -->
                        <!-- </ul>
                    </div>
                </div>

            </div>
        </div>
    </header> -->

<div class="bg-light">  <!-- 背景灰色 -->

    <div class="main_page row">  <!-- "container" 宽度不对 -->
        <div class="col-2">  <!-- 12格中占2格 -->
            <div class="py-3">  <!-- "container" -->
                <div class="menu_box" style="border-radius: 5%;">  <!-- 菜单页面, rounded 不够圆 -->
                    <!-- <aside class="sidenav" [ngClass]="showNavMenu ? 'sidenav--active' : ''"> -->
                    <div class="pt-2">
                        <div class="text-center text-dark">
                            {{ displayName }}
                        </div>

                        <!-- <div class="d-flex justify-content-around">
                            <a href="/" class="text-success">
                                {{'Shopping' | translate}}
                            </a>
                            <a href="/wallet" class="text-success">
                                {{'Wallet' | translate}}
                            </a>                
                        </div> -->
                        <div class="text-center text-secondary" 
                            *ngIf="(role == 'Seller' || role == 'Delivery') && (merchantStatus == 'pending')">
                            ({{ 'In review' | translate }})
                        </div>
                        <div class="pt-2 text-center">
                            <a target="_blank" class="text-success" *ngIf="role == 'Merchant'" href="/store/{{merchantId}}">
                                {{ 'My store' | translate }}
                            </a>

                            <a target="_blank" class="text-success" *ngIf="role == 'Customer'" href="/apply-for-merchant">
                                {{ 'Apply for merchant' | translate }}
                            </a>                
                        </div>   

                        <div class="pt-2">
                            <img class="close__btn" (click)="toggleShowNavMenu()" src="/assets/svg/close.svg">
                        </div>
                    </div>
                    <div class="avatar_box">  <!-- 我的头像 -->
                        <img class="img-avatar" *ngIf="myPhotoUrl" [src]="myPhotoUrl">
                        <img class="img-avatar" *ngIf="!(myPhotoUrl)" src="/assets/images/default_avatar.jpeg">
                    </div>
                    <div class="pt-2 text-center avatar_text">
                        <h4>{{ 'My Name' }}</h4>  <!-- merchant.name -->
                        <!-- <span class="star">{{ merchant.star }}</span> -->
                    </div>
                </div>
                <div class="menu_box">  <!-- 菜单页面 -->

                    <ul class="sidenav__list">
                        <ng-container *ngFor="let item of menuItems | roleMenu : role : merchantStatus">
                            <ng-container *ngIf="item.link && item.line">  <!-- 下边线支持 -->
                                <li class="sidenav__list-item border-bottom" routerLink="{{item.link}}">  <!-- routerLinkActive="active" -->
                                    <img *ngIf="item.icon" class="svg_icon" src="/assets/svg/{{item.icon}}.svg">&nbsp;&nbsp; {{ item.title | translate }}
                                </li>                    
                            </ng-container>
                            <ng-container *ngIf="item.link && !item.line">
                                <li class="sidenav__list-item" routerLink="{{item.link}}">  <!-- routerLinkActive="active" -->
                                    <img *ngIf="item.icon" class="svg_icon" src="/assets/svg/{{item.icon}}.svg">&nbsp;&nbsp; {{ item.title | translate }}
                                </li>                    
                            </ng-container>
                            <ng-container *ngIf="!item.link">
                                <li class="sidenav__list-item" (click)="toggle(item.title)"
                                [attr.aria-expanded]="(extendedMenu == item.title)" aria-controls="collapseBasic">
                                <img *ngIf="item.icon" class="svg_icon" src="/assets/svg/{{item.icon}}.svg">&nbsp;&nbsp; {{ item.title | translate }}
                                </li>
                                <ul class="sidenav__list_2" [collapse]="(extendedMenu != item.title)" [isAnimated]="true">
                                    <li class="sidenav__list-item" *ngFor="let subitem of item.items" routerLink="{{subitem.link}}" routerLinkActive="active">
                                        <img *ngIf="subitem.icon" class="svg_icon" src="/assets/svg/{{subitem.icon}}.svg">&nbsp;&nbsp; {{ subitem.title | translate }}
                                    </li>
                                </ul>
                            </ng-container>
                        </ng-container>
                        <!-- <li *ngFor="let item of menuItems | roleMenu : role : merchantStatus" class="sidenav__list-item" routerLink="{{item.link}}">
                            <img *ngIf="item.icon" class="svg_icon" src="/assets/svg/{{item.icon}}.svg">&nbsp;&nbsp; {{ item.title | translate }}
                        </li> -->  <!-- routerLinkActive="active" -->

                        <li class="sidenav__list-item" (click)="changeLang()">
                            <img class="svg_icon" src="/assets/svg/language.svg">&nbsp;&nbsp; English / 中文
                        </li>
                    </ul>
                    <!-- </aside> -->
                </div>
            </div>
        </div>

        <div class="col">  <!-- 12格中剩余 -->
            <div class="py-3">  <!-- "container" -->
                <div class="main_box">  <!-- 内容页面 -->
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- <main class="main">
        <router-outlet></router-outlet>
    </main> -->
    <!-- <footer class="footer">
        <div class="footer__copyright">&copy; {{year}} 7-Star Group Corp All Rights Reserved</div>
        <div class="footer__signature">Powered by Fast Access Blockchain</div>
    </footer> -->
<!-- </div> -->

<!-- 新增统一页脚 -->
<app-nft-footer></app-nft-footer>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
