table {
    width: 100%;
    display: table;
}

.AssetTraitsForm--head {
    border-bottom: none;
}

.AssetTraitsForm--head .AssetTraitsForm--head-row {
    margin-bottom: 20px;
}

.AssetTraitsForm--head .AssetTraitsForm--head-row .AssetTraitsForm--head-column:first-of-type {
    padding-left: 50px;
}

.AssetPropertiesForm--column {
    padding: 0px 0px 20px;
}
.Input--main {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(229, 232, 235);
    display: flex;
    position: relative;
}

.Input--main .Input--left-label {
    border-bottom-left-radius: 5px;
    border-right: 1px solid rgb(229, 232, 235);
    border-top-left-radius: 5px;
}

.Input--main .Input--label {
    width: 48px;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(138, 147, 155);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    background-color: rgb(251, 253, 255);
}

.AssetPropertiesForm--close {
    padding: 0px 12px;
    cursor: pointer;
}

.Input--main .Input--prefix {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    color: rgb(138, 147, 155);
    display: flex;
    padding-left: 12px;
}

.Input--main .Input--input {
    background-color: transparent;
    border: none;
    flex: 1 0 0%;
    height: 48px;
    outline: none;
    padding: 0px 12px 0px 0px;
    min-width: 0px;
}

.fwfywF {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    user-select: none;
}

.AssetTraitsForm--save {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 24px;
}

.fwfywF {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    user-select: none;
}

.fwfywF .ActionButton--content {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}



.ActionButton--light.ActionButton--secondary {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(32, 129, 226);
}

.ActionButton--content {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}


.NumericTraitTableRow--column {
    padding: 0px 0px 20px;
}

.Input--main:focus-within {
    color: inherit;
    box-shadow: rgb(14 14 14 / 25%) 0px 0px 8px 0px;
    z-index: 1;
}

.Input--main .Input--prefix {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    color: rgb(138, 147, 155);
    display: flex;
    padding-left: 12px;
}

.Input--main .Input--input {
    background-color: transparent;
    border: none;
    flex: 1 0 0%;
    height: 48px;
    outline: none;
    padding: 0px 12px 0px 0px;
    min-width: 0px;
}

.Input--main .Input--right-label {
    border-bottom-right-radius: 5px;
    border-left: 1px solid rgb(229, 232, 235);
    border-top-right-radius: 5px;
}

.Input--main .Input--label {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(138, 147, 155);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
}

.NumericTraitTableRow--value-input input {
    width: 50px;
}

.NumericTraitTableRow--max-input input, .NumericTraitTableRow--value-input input {
    width: 50px;
}