<div *ngIf="noWallet">
  <div class="text-center py-2">
    Wallet not existed, please create or import a wallet and continue.

  </div>
  <div class="text-center py-2">
    <button class="btn" (click)="createWallet()">Create Wallet</button>
  </div>
  <div class="text-center py-2">
    <button class="btn" (click)="importWallet()">Import Wallet</button>
  </div>
</div>
    <div class="container" *ngIf="!noWallet">
      <h1>New product</h1>
      <hr>
      <div class="text-right my-3">
        <button class="btn" (click)="saveProduct()">Save</button>
      </div>

      <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('default')">
          English
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Chinese')">
          中文
        </div>
      </div>   
      
      <div *ngIf="currentTab == 'default'">

        <div class="row">
          <div class="col col-8">
            <div class="card-section">
              <div class="card">
                <div class="container">
                  <div class="form-field">
                    <label for="title">Title</label>
                    <input type="text" placeholder="Enter product title" [(ngModel)]="title" name="title" required>
                  </div>

                  <div class="form-field">
                    <label for="title">Sub Title</label>
                    <input type="text" placeholder="Enter product subtitle" [(ngModel)]="subtitle" name="subtitle">
                  </div>

                  <div class="form-field">
                    <label for="detail">Content</label>
                    <ejs-richtexteditor (uploading) = "addHeaders($event)" [(ngModel)]='detail' placeholder="Enter product detail"   [enableResize]='true'  [insertImageSettings]='insertImageSettings'></ejs-richtexteditor>
                  </div>                  

                  <div class="form-field">
                    <label for="description">Description</label>
                    <ejs-richtexteditor (uploading) = "addHeaders($event)" [(ngModel)]='description' placeholder="Enter product description"  [enableResize]='true'  [insertImageSettings]='insertImageSettings'></ejs-richtexteditor>
                  </div>

                
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="card">
                <div class="container">
                  <div class="form-field">
                    <label for="specification">Quantity</label>
                    <input type="text" placeholder="Enter product quantity" [(ngModel)]="quantity" name="quantity" required>
                    <!--s
                    <div>
                      <div *ngFor="let content of contents">
                        <div class="d-flex align-items-center justify-content-between py-2">
                          <div>
                            {{content.name}}: {{content.quantity}}
                          </div>
                          <div>
                            <button class="btn" (click)="removeContent(content)">{{'Remove' | translate}}</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  
                    <div class="d-flex">
                      <div class="w-50 px-2">
                        <input type="text"  style="display:table-cell; width:100%"  placeholder="Enter Name" [(ngModel)]="contentName" name="contentName">
                      </div>

                      <div class="w-50  px-2">
                        <input type="number"  style="display:table-cell; width:100%"  placeholder="Enter Quantity" [(ngModel)]="contentQuantity" name="contentQuantity">
                      </div>                      
                    </div>

                    <div class="pt-2">
                      <button class="btn" (click)="addContent()">{{'Add' | translate}}</button>
                    </div>
                    -->
                  </div>                  
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="card">
                <div class="container">
                  <div class="form-field">
                    <label for="specification">Specification</label>

                    <div>
                      <div *ngFor="let spec of specs">
                        <div class="d-flex align-items-center justify-content-between py-2">
                          <div>
                            {{spec.name}}: {{spec.value}}
                          </div>
                          <div (click)="removeSpec(spec)">
                            <img src="/assets/svg/delete.svg">
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="w-50 px-2">
                        <input type="text"  style="display:table-cell; width:100%"  placeholder="Enter Name" [(ngModel)]="specName" name="specName">
                      </div>

                      <div class="w-50  px-2">
                        <input type="text"  style="display:table-cell; width:100%"  placeholder="Enter Value" [(ngModel)]="specValue" name="specValue">
                      </div>                      
                    </div>

                    <div class="pt-2">
                      <button class="btn" (click)="addSpec()">{{'Add' | translate}}</button>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="card">
                <div class="container">
                  <div class="form-field">
                    <label for="specification">Features</label>

                    <div>
                      <div *ngFor="let feature of features">
                        <div class="d-flex align-items-center justify-content-between py-2">
                          <div>
                            {{feature}}
                          </div>
                          <div (click)="removeFeature(feature)">
                            
                            <img src="/assets/svg/delete.svg">
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div>
                      <div class=" px-2">
                        <input type="text" style="display:table-cell; width:100%" placeholder="Enter Feature" [(ngModel)]="feature" name="feature">
                      </div>
                     
                    </div>

                    <div class="pt-2">
                      <button class="btn" (click)="addFeature()">{{'Add' | translate}}</button>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="card">
                <div class="container">
                  <app-admin-upload-media [(images)]="images" [singleFile]="false"></app-admin-upload-media>
                </div>
              </div>
            </div>   

          </div>
          <div class="col col-4">
            <div class="card-section">
              <div class="card p-3">

                <div class="form-check">
                  <input type="radio" [checked]="active" (click)="setActive(true)" name="radio">
                  &nbsp;&nbsp;
                  <label class="form-check-label" for="flexRadioDefault1">
                    Available
                  </label>
                </div>
                <div class="form-check">
                  <input type="radio" [checked]="!active" (click)="setActive(false)" name="radio">
                  &nbsp;&nbsp;
                  <label class="form-check-label" for="flexRadioDefault2">
                    Out of stock
                  </label>
                </div>

              </div>
            </div>

            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Price</b></label>
                    <div class="d-flex align-items-center">
                      <div class="d-inline-block px-2">
                        <input type="text"  placeholder="Enter price" [(ngModel)]="price" name="price" required>
                      </div>
                      {{currency}}
                    </div>

                  </div>

                </div>
              </div>
            </div>    


            <!--
            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Colors</b></label>
                    <div>
                      <div *ngFor="let c of colors">
                        <div class="d-flex align-items-center justify-content-between py-2">
                          <div>
                            {{c}}
                          </div>
                          <div (click)="removeColor(c)">
                            <img src="/assets/svg/delete.svg">
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div>
                      <div class="d-inline-block px-2">
                        <input type="text" placeholder="Enter Color" [(ngModel)]="color" name="color">
                      </div>
                    </div>

                    <div class="pt-2">
                      <button class="btn" (click)="addColor()">{{'Add' | translate}}</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>              
-->
            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Category</b></label>
                  </div>
    
                  <!--
                  <div *ngIf="categories">
                    <select [(ngModel)]="category" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option value="">Select Category:</option>
                      <option *ngFor="let cat of categories" value="{{cat._id}}">
                        {{cat.category | translateField}}
                        <span *ngIf="cat.parentId">
                          ({{cat.parentId.category | translateField}})
                        </span>
                      </option>
                    </select>
                  </div>
                -->

                <div class="btn-group" dropdown>
                  <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-animated">
                    {{selectedCategory ? (selectedCategory.category | translateField) : ('Select Category' | translate)}} <span class="caret"></span>
                  </button>
                  <div  *ngIf="categories && categories.length > 0">
                    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-animated">
                  <li role="menuitem" *ngFor="let cat of categories">
                    <a class="dropdown-item" (click)="changeSelectedCategory(cat)">{{cat.category | translateField}}</a>
                  </li>
                </ul>
                  </div>
        
                </div>



                </div>
              </div>
            </div> 


            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Brand</b></label>
                  </div>
                  <div class="py-2" *ngIf="brands">
                    <select [(ngModel)]="brand" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option value="">Select Brand:</option>
                      <option *ngFor="let br of brands" value="{{br._id}}">{{br.name | translateField}}</option>
                    </select>
                  </div>
    
                </div>
              </div>
            </div>     
            
          <!--  
            <div class="card-section">
              <div class="card">
                <div class="container">  
                  <div class="py-2">
                    <label for="psw"><b>Keywords</b></label>
                    <div>
                      <div *ngFor="let k of keywords">
                        <div class="d-flex align-items-center justify-content-between py-2">
                          <div>
                            {{k}}
                          </div>
                          <div (click)="removeKeyword(k)">

                              <img src="/assets/svg/delete.svg">
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div>
                      <div class="d-inline-block px-2">
                        <input type="text" placeholder="Enter Keyword" [(ngModel)]="keyword" name="keyword">
                      </div>
                    </div>

                    <div class="pt-2">
                      <button class="btn" (click)="addKeyword()">{{'Add' | translate}}</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>   
          -->           
          </div>
        </div>
      </div>

      <div *ngIf="currentTab=='Chinese'">
        <label for="name"><b>标题</b></label>
        <input type="text" placeholder="输入标题" [(ngModel)]="titleChinese" name="titleChinese">     

        <label for="name"><b>子标题</b></label>
        <input type="text" placeholder="输入子标题" [(ngModel)]="subtitleChinese" name="subtitleChinese">     

        
        <div class="py-2">
          <label for="name"><b>内容</b></label>
          <ejs-richtexteditor 
          [(ngModel)]='detailChinese' 
          (uploading) = "addHeaders($event)"
          placeholder="请输入内容"  
          [enableResize]='true'  [insertImageSettings]='insertImageSettings'></ejs-richtexteditor>            
   
        </div>
        <div class="py-2">
          <label for="name"><b>描述</b></label>
          <ejs-richtexteditor [(ngModel)]='descriptionChinese' (uploading) = "addHeaders($event)" placeholder="请输入描述" [enableResize]='true'  [insertImageSettings]='insertImageSettings'></ejs-richtexteditor>  
        </div>
       

        <div class="py-2">
          <div class="card">
            <div class="container">
              <div class="form-field">
                <label for="specification">规格</label>

                <div>
                  <div *ngFor="let spec of specsChinese">
                    <div class="d-flex align-items-center justify-content-between py-2">
                      <div>
                        {{spec.name}}: {{spec.value}}
                      </div>
                      <div (click)="removeSpecChinese(spec)">
                        <img src="/assets/svg/delete.svg">
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class="d-flex">
                  <div class="w-50 px-2">
                    <input type="text"  style="display:table-cell; width:100%"  placeholder="Enter Name" [(ngModel)]="specNameChinese" name="specNameChinese">
                  </div>

                  <div class="w-50  px-2">
                    <input type="text"  style="display:table-cell; width:100%"  placeholder="Enter Value" [(ngModel)]="specValueChinese" name="specValueChinese">
                  </div>                      
                </div>

                <div class="pt-2">
                  <button class="btn" (click)="addSpecChinese()">{{'Add' | translate}}</button>
                </div>
              </div>                  
            </div>
          </div>
        </div>

        <div class="py-2">
          <div class="card">
            <div class="container">
              <div class="form-field">
                <label for="specification">特征</label>

                <div>
                  <div *ngFor="let feature of featuresChinese">
                    <div class="d-flex align-items-center justify-content-between py-2">
                      <div>
                        {{feature}}
                      </div>
                      <div (click)="removeFeatureChinese(feature)">
                        
                        <img src="/assets/svg/delete.svg">
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div>
                  <div class=" px-2">
                    <input type="text" style="display:table-cell; width:100%" placeholder="Enter Feature" [(ngModel)]="featureChinese" name="featureChinese">
                  </div>
                 
                </div>

                <div class="pt-2">
                  <button class="btn" (click)="addFeatureChinese()">{{'Add' | translate}}</button>
                </div>
              </div>                  
            </div>
          </div>
        </div>



     </div>

    </div>

<!--
    <ngx-smart-modal #passwordModal identifier="passwordModal">
      <app-password-modal *ngIf="wallet" [pwdHash]="wallet.pwdHash" (onConfirmPassword)="onConfirmPassword($event)"></app-password-modal>
    
    </ngx-smart-modal>
-->