.button {
    display: inline-block;
    padding: 0.85em 1.5em;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: #5c6ac4;
    border: none;
    border-radius: 0.62em;
    box-shadow: 0 0.1em #999999; 
  }

  a {
      text-decoration: none;
  }