.btn {
    text-decoration: none;
    border: 1px solid #fed700;
    position: relative;
    overflow: hidden;
    background-color: #fed700;
    color: #333e48;
    font-weight: 700;
    border-radius: 0;
}