<div style="border:1px solid #ccc">
    <div class="container">
      <h1>{{'New Store' | translate}}</h1>
      <hr>
      
      <div class="d-flex align-items-center navigate-bar my-3">
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('default')">
          English
        </div>
        <div class="px-3 py-3 cursor-pointer" (click)="changeTab('Chinese')">
          中文
        </div>
      </div>

      <div *ngIf="currentTab=='default'">
        <label for="email"><b>Name</b></label>
        <input type="text" placeholder="Enter name" [(ngModel)]="name" name="name" required>

        <div  *ngIf="!(id)">
          <label for="email"><b>{{'Give away Rate' | translate}}(%)</b></label>
          <input type="text" placeholder="{{'Give away Rate' | translate}}" [(ngModel)]="giveAwayRate" name="giveAwayRate" required>  
        </div>
        <div *ngIf="id">
          <label for="email"><b>{{'Give away Rate' | translate}}(%):</b></label>
          {{giveAwayRate}}
        </div>
       <div>
        <label for="email"><b>Image</b></label>
        <app-admin-upload-media [(images)]="images" [singleFile]="true"></app-admin-upload-media>
        </div>

        <div>
          <div>
            <label for="email"><b>Coin</b></label>
          </div>
          <div>
            <select [(ngModel)]="coin" name="coin" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <option value="">Select Coin:</option>
              <option *ngFor="let coin of coins" value="{{coin}}">
                {{coin}}
              </option>
            </select>
          </div>
        
        </div>

        <div>
          <label for="email"><b>{{'Tax rate' | translate}}(%)</b></label>
          <input type="text" placeholder="{{'Tax rate' | translate}}" [(ngModel)]="taxRate" name="taxRate" required>
        </div>
        
        <div *ngIf="feeChargerSmartContractAddress">
          <label for="email"><b>{{'FeeCharger Smart contract address' | translate}}:</b></label>
          {{feeChargerSmartContractAddress}}
        </div> 

        <div *ngIf="smartContractAddress">
          <label for="email"><b>{{'Smart contract address' | translate}}:</b></label>
          {{smartContractAddress}}
        </div>   
        
        <div *ngIf="!(id)">
          <label for="email"><b>{{'Ref address' | translate}}</b></label>
          <input type="text" placeholder="{{'ref address' | translate}}" [(ngModel)]="refAddress" name="refAddress" required>
        </div>
  
  
        <div *ngIf="id">
          <label for="email"><b>{{"Merchant's referral address" | translate}}(*):</b></label>
          {{refAddress}}
        </div>     
        
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="hideOnStore">
          <label class="form-check-label" for="flexCheckChecked">
            {{'Hide on Madearn' | translate}}
          </label>
        </div>
      </div>
      


      <div *ngIf="currentTab=='Chinese'">
        <label for="email"><b>名称</b></label>
        <input type="text" placeholder="输入名称" [(ngModel)]="nameChinese" name="nameChinese">        
    
      </div>

      <div class="text-right py-2">

        <button class="btn signinbtn mr-3" (click)="deleteStore()" *ngIf="id">{{('Delete') | translate}}</button>

        <button class="btn signinbtn" (click)="addStore()">{{(id?'Update':'Add') | translate}}</button>
      </div>
    </div>
  </div>
