<div class="main-container">
    <app-nft-asset-overview [asset]="asset"></app-nft-asset-overview>

    <div class="row">
        <div class="col col-8">
            <app-nft-asset-sell-method></app-nft-asset-sell-method>
            <app-nft-asset-sell-price (updateEntity)="onUpdateEntity($event)"></app-nft-asset-sell-price>
            <!--
            <app-nft-asset-sell-include-ending-price></app-nft-asset-sell-include-ending-price>
            <app-nft-asset-sell-schedule-for-future-time></app-nft-asset-sell-schedule-for-future-time>
            
            <app-nft-asset-sell-privacy></app-nft-asset-sell-privacy>
            -->
            <div class="pt-2">
                <app-nft-asset-sell-instructions></app-nft-asset-sell-instructions>
            </div>
 

<!--
           
-->
        </div>
        <div class="col col-4">
            <app-nft-asset-sell-summary [asset]="asset" 
            [coin]="coin" [quantity]="quantity" 
            (postListing)="postListing()"></app-nft-asset-sell-summary>
        </div>
    </div>
</div>

<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
