.czNuLg {
    display: flex;
    margin: 0px;
    flex-direction: column;
}

.czNuLg .AccountHeader--banner {
    height: 225px;
}

.hIFVgG {
    display: flex;
    min-height: 120px;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: rgb(229, 232, 235);
}

.hIFVgG .Banner--content {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.czNuLg .AccountHeader--main {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -64px;
    margin-bottom: 12px;
}

.czNuLg .AccountHeader--main .AccountHeader--profile-image {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 130px;
    min-width: 130px;
    height: 130px;
    min-height: 130px;
}

.gBhcJZ {
    position: relative;
}

.kKbqlJ {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 100%;
}

.dHtAcF {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.dHtAcF .Image--image {
    height: 100%;
    object-fit: contain;
    transition: opacity 400ms ease 0s;
    width: 100%;
}

.AccountHeader--quick-links {
    align-self: flex-end;
    position: absolute;
    right: 15px;
    top: 312px;
    height: 0px;
    display: flex;
}

.bwFKIF.ActionButton--light.ActionButton--tertiary {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 232, 235);
    color: rgb(138, 147, 155);
}

.bwFKIF.ActionButton--iconOnly {
    padding: 12px;
}

.bwFKIF {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
    user-select: none;
}

.bwFKIF .ActionButton--content {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

.czNuLg .AccountHeader--main .AccountHeader--title {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 600;
    min-height: 40px;
    margin-top: 4px;
}

