<div class="AccountHeaderreact__DivContainer-sc-1omadrn-0 czNuLg">
    <div class="Bannerreact__DivContainer-m8vf0o-0 hIFVgG AccountHeader--banner">

        <div class="AccountHeader--banner-edit" *ngIf="self">
            <span (click)="fileBannerUploader.click()">
                <div class="ImageInputreact__DivContainer-h0z0qe-0 SYDjB  AccountHeader--banner-input">
                    <div class="Imagereact__DivContainer-dy59cl-0 eltLFv Image--isImageLoaderDisplayed Image--isImageLoaderVisible ImageInput--image " style="height: 100%; width: 100%;">
                        <div class="Image--content">
                            <div class="ImageInput--wrapper">
                                
                                <i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX ImageInput--icon material-icons" value="image" size="24">image</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ActionButtonreact__DivButton-sc-7jpoey-0 gZqYMT ActionButton--tertiary ActionButton--light ActionButton--iconOnly " data-testid="ActionButton" role="button" tabindex="0" type="tertiary">
                    <div class="ActionButton--content ">
                        <i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX ActionButton--icon material-icons" value="edit" size="24">edit</i>
                    </div>
                </div>
            </span>
        </div>

        <img class="Image--image" *ngIf="banner" src="{{banner}}" style="object-fit: cover;">
        <!--
        <div class="Image--content"><div class="Banner--content"></div></div>
        -->
    </div>
    <div class="AccountHeader--main">
        <div class="ProfileImagereact__DivContainer-yrcith-0 gBhcJZ  AccountHeader--profile-image" (click)="self && fileLogoUploader.click()" [ngClass]="self ? 'ProfileImage--editable' : ''">
            <div class="BaseModalreact__DivContainer-sc-1b6y25y-0 kKbqlJ">
                <div class="Imagereact__DivContainer-dy59cl-0 dHtAcF Image--isImageLoaded Image--isImageLoaderVisible ProfileImage--image" style="border-radius: 50%; height: 100%; width: 100%;">
                    <img class="Image--image" *ngIf="logo" src="{{logo}}" style="object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="AccountHeader--title" *ngIf="username">
            {{username}}
            <div class="AccountHeader--badge"></div>
        </div>
        <div class="AccountHeader--subtitle">
            <div class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 TextCopierreact__FlexContainer-ga2cnk-0 hPCQNa irGSTk gLhpoM AccountHeader--name"></div>
            <div class="AccountHeader--address">
                <div class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 TextCopierreact__FlexContainer-ga2cnk-0 hPCQNa irGSTk gLhpoM">
                    {{address}}
                </div>
            </div>
        </div>
        <div>
            <span></span>
        </div>
    </div>
    <div class="AccountHeader--quick-links">
        <div class="Blockreact__Block-sc-18q9hu0-0 hiIhff" *ngIf="self">
            <a rel="noreferrer" role="link" href="/nft/account/settings" style="color: white; display: inline-block;">
                <div class="ActionButtonreact__DivButton-sc-7jpoey-0 gZqYMT ActionButton--tertiary ActionButton--light ActionButton--iconOnly " data-testid="ActionButton" role="button" tabindex="0" type="tertiary">
                    <div class="ActionButton--content ">
                        <i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX ActionButton--icon material-icons" value="settings" size="24">settings</i>
                    </div>
                </div>
            </a>
        </div>


        <div height="50px" class="Blockreact__Block-sc-18q9hu0-0 fwerDR">
            <div class="ActionButtonreact__DivButton-sc-7jpoey-0 bwFKIF gZqYMT ActionButton--tertiary ActionButton--light ActionButton--iconOnly " data-testid="ActionButton" role="button" tabindex="0" type="tertiary" aria-expanded="false">
                <div class="ActionButton--content ">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV ActionButton--icon material-icons" title="Share" value="share" size="24">share</i>
                </div>
            </div>
        </div>
    </div>
</div>


<input class="image-input" #fileBannerUploader  accept="image/*" (change)="fileBannerChange($event)" type="file">

<input class="image-input" #fileLogoUploader  accept="image/*" (change)="fileLogoChange($event)" type="file">