<div class="card-section my-3">
    <div class="card">
        <div class="container">

            <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-2">{{'ID' | translate}}</div>
                  <div class="col col-4">{{'Details' | translate}}</div>
                  <div class="col col-2">{{'Release time' | translate}}</div>
                  <div class="col col-2">{{'Txids' | translate}}</div>
                  <div class="col col-2">{{'Status' | translate}}</div>
                </li>
                    <li class="table-row" *ngFor="let reward of rewards">         
                            <div class="col col-2 text-black" data-label="{{'Coin' | translate}}">
                                {{showId(reward.id.substring(0, reward.id.length - 4)) }}
                            </div>
                            <div class="col col-4" data-label="{{'Details' | translate}}">
                                {{showDetail(reward) }}
                            </div>
                            <div class="col col-2" data-label="{{'Release time' | translate}}">
                                {{showReleaseTime(reward) }}
                            </div>    
                            <div class="col col-2" data-label="{{'Txids' | translate}}">
                                <div *ngFor="let txid of reward.txids">
                                  <a target="_blank" href="{{getTxidUrl(txid)}}">
                                    {{showId(txid)}}
                                  </a>
                                </div>
                            </div>      
                            <div class="col col-2" data-label="{{'Status' | translate}}">
                                <div>
                                    {{showStatus(reward.status) | translate}}
                                </div>
                                <div *ngIf="redeemable(reward)">
                                    <a (click)="redeem(reward)">
                                        {{'Redeem' | translate}}
                                    </a>
                                    
                                </div>

                            </div>                  
                    </li>
              </ul>                
        </div>
    </div>
</div>   