<div class="container">
    <!-- Banner -->
    <div class="row mb-6 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
      <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1" *ngFor="let banner of banners">
          <a href="{{banner.clickLink}}" class="min-height-146 py-1 py-xl-2 py-wd-1 banner-bg d-flex align-items-center text-gray-90">
              <div class="col-6 col-xl-7 col-wd-6 pr-0">
                  <img class="img-fluid" src="{{banner.image}}" alt="Image Description">
              </div>
              <div class="col-6 col-xl-5 col-wd-6 pr-xl-4 pr-wd-3">
                  <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                      {{banner.title | translateField}}
                  </div>
                  <div class="link text-gray-90 font-weight-bold font-size-15">
                    <a [href]="banner.clickLink">
                        Shop now
                        <span class="link__icon ml-1">
                            <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                        </span>
                    </a>

                  </div>
              </div>
          </a>
      </div>
      <!--
      <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1">
          <a href="../shop/shop.html" class="min-height-146 py-1 py-xl-2 py-wd-1 banner-bg d-flex align-items-center text-gray-90">
              <div class="col-6 col-xl-7 col-wd-6 pr-0">
                  <img class="img-fluid" src="../../assets/img/246X176/img2.jpg" alt="Image Description">
              </div>
              <div class="col-6 col-xl-5 col-wd-6 pr-xl-4 pr-wd-3">
                  <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                      THE NEW <b>360 CAMERAS</b>
                  </div>
                  <div class="link text-gray-90 font-weight-bold font-size-15" href="#">
                      Shop now
                      <span class="link__icon ml-1">
                          <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                      </span>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1">
          <a href="../shop/shop.html" class="min-height-146 py-1 py-xl-2 py-wd-1 banner-bg d-flex align-items-center text-gray-90">
              <div class="col-6 col-xl-7 col-wd-6 pr-0">
                  <img class="img-fluid" src="../../assets/img/246X176/img3.jpg" alt="Image Description">
              </div>
              <div class="col-6 col-xl-5 col-wd-6 pr-xl-4 pr-wd-3">
                  <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                      CATCH BIG <b>DEALS</b> ON THE CAMERAS
                  </div>
                  <div class="link text-gray-90 font-weight-bold font-size-15" href="#">
                      Shop now
                      <span class="link__icon ml-1">
                          <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                      </span>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-6 mb-4 mb-xl-0 col-xl-4 col-wd-3 flex-shrink-0 flex-xl-shrink-1 d-xl-none d-wd-block">
          <a href="../shop/shop.html" class="min-height-146 py-1 py-xl-2 py-wd-1 banner-bg d-flex align-items-center text-gray-90">
              <div class="col-6 col-xl-5 col-wd-6 pr-0">
                  <img class="img-fluid" src="../../assets/img/246X176/img4.png" alt="Image Description">
              </div>
              <div class="col-6 col-xl-7 col-wd-6">
                  <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                      CATCH BIG <b>DEALS</b> ON THE CAMERAS
                  </div>
                  <div class="link text-gray-90 font-weight-bold font-size-15" href="#">
                      Shop now
                      <span class="link__icon ml-1">
                          <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                      </span>
                  </div>
              </div>
          </a>
      </div>
      -->
    </div>
  </div>