
<!-- 上边线，下边线，倒解决了 margin 问题 -->
<main id="content" role="main" class="border-top border-bottom bg-light" *ngIf="product">  <!-- 背景灰色 style="background-color: #f7f7f7;" -->
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">{{ 'Home' | translate }}</a></li>
                        <!--
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Product</a></li>
                        -->
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/store/{{storeId}}/category/{{ product.primaryCategoryId?._id }}">{{ product.primaryCategoryId?.category | translateField }}</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">{{ product && product.title | translateField }}</li>

                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->
    <div class="mb-3 container border rounded bg-white">  <!-- 背景白色，圆角边框 -->

        <!-- Single Product Body -->
        <div class="mb-xl-14 mb-6">
            <div class="row">
                <div class="col-md-5 mb-4 mb-md-0">
                    <div id="sliderSyncingNav" class="js-slick-carousel u-slick mb-2">
                        <div class="" >
                            <img class="img-fluid" [src]="selectedImage" alt="Image Description">
                        </div>
                    </div>
  
                    <div *ngIf="product && product.images" id="sliderThumb" class="js-slick-carousel u-slick u-slick--slider-syncing u-slick--slider-syncing-size u-slick--gutters-1 u-slick--transform-off"
                        >
                        <div  style="cursor: pointer;" *ngFor="let image of product.images">
                            <img [src]="image" (mouseenter) ="mouseEnter(image)" class="img-thumbnail"  [ngClass]="image == selectedImage ? 'img-thumbnail-selected' : ''" alt="Image111 Description">
                        </div>
                    </div>
                </div>
                <div class="col-md WorkForm-2 font-size-16">  <!-- 字体16，col-md 左右同行，"col-md-7 mb-md-6 mb-lg-0" -->
                    <div class="">  <!-- "mb-2" -->
                        <div class="">  <!-- "border-bottom mb-3 pb-md-1 pb-3" -->
                            <a href="/store/{{storeId}}/category/{{product.primaryCategoryId?._id}}" class="font-size-12 text-gray-5 mb-2 d-inline-block">
                                {{product.primaryCategoryId?.category | translateField}}
                            </a>
                            <h2 class="font-size-25 text-lh-1dot2">{{product && product.title | translateField}}</h2>
                            <p *ngIf="product.subtitle">
                                {{product.subtitle | translateField}}
                            </p>
                            <div class="mb-2">
                                <a class="d-inline-flex align-items-center small font-size-15 text-lh-1" href="/store/{{storeId}}/product/{{id}}/#product-tabs">
                                    <div class="text-warning mr-2">
                                        <small class="fa-star" 
                                        [ngClass]="overall >= 1 ? 'fas' : 'far text-muted'"></small>
                                        <small class="fa-star"
                                        [ngClass]="overall >= 2 ? 'fas' : 'far text-muted'"></small>
                                        <small class="fa-star"
                                        [ngClass]="overall >= 3 ? 'fas' : 'far text-muted'"></small>
                                        <small class="fa-star"
                                        [ngClass]="overall >= 4 ? 'fas' : 'far text-muted'"></small>
                                        <small class="fa-star"
                                        [ngClass]="overall >= 5 ? 'fas' : 'far text-muted'"></small>
                                    </div>
                                    <span class="text-secondary font-size-13">({{ comments ? comments.length : 0 }} {{ 'customer reviews' | translate }})</span>
                                </a>
                            </div>
                            <hr>
                            <!-- <div class="d-md-flex align-items-center"> -->
                                <!--
                                <a href="#" class="max-width-150 ml-n2 mb-2 mb-md-0 d-block"><img class="img-fluid" src="../../assets/img/200X60/img1.png" alt="Image Description"></a>
                                -->
                                <div class="ml-md-3 text-gray-9">{{ 'Availability' | translate }}: <span class="text-green font-weight-bold">
                                    <span *ngIf="!product.active">{{ 'Out of stock' | translate }}</span>
                                    <span *ngIf="product.active">
                                        {{ product.quantity - product.sales }} {{ 'In Stock' | translate }}
                                    </span>
                                </span></div>
                            <!-- </div> -->
                            <br>
                        </div>
                        <div class="flex-horizontal-center flex-wrap mb-4">
                            <a (click)="toggleFavorite(id)" class="text-gray-6 font-size-13 mr-2">
                                <i class="ec ec-favorites mr-1" [ngClass]="isFavorited ? 'favorited' : ''"></i> 
                                <span [ngClass]="isFavorited ? 'favorited' : ''">
                                    {{'Wishlist' | translate}}
                                </span>
                            </a>
                            <!--
                            <a href="#" class="text-gray-6 font-size-13 ml-2"><i class="ec ec-compare mr-1 font-size-15"></i> Compare</a>
                            -->
                        </div>
                        <div class="mb-2">
                            {{'Content' | translate}}:
                            <!-- <ul class="font-size-14 pl-3 ml-1 text-gray-110">
                                <li>4.5 inch HD Touch Screen (1280 x 720)</li>
                                <li>Android 4.4 KitKat OS</li>
                                <li>1.4 GHz Quad Core™ Processor</li>
                                <li>20 MP Electro and 28 megapixel CMOS rear camera</li>
                            </ul> -->
                        </div>
                        <p  [innerHTML]="product && product.briefIntroduction | translateField">
                       </p>
                       
                        <!-- <p><strong>SKU</strong>: 2222FW511948218</p> -->
                       
                        <div class="mb-4">
                            <div class="d-flex align-items-baseline">
                                <ins class="font-size-36 text-decoration-none">{{ product && product.price }} {{ currency }}</ins>
                                <!-- <del class="font-size-20 ml-2 text-gray-6">$2,299.00</del> -->
                            </div>
                        </div>

                        <hr>
                        <!-- <div *ngIf="lang == 'en'"> -->  <!-- 有 translate 够用了 -->
                            <dl *ngIf="colors && colors.length > 0">
                                <dt>{{ 'Color' | translate }}</dt>
                                <dd class="text-left">
                                    <div btnRadioGroup [(ngModel)]="color">  <!-- 取消 btn-group -->
                                        <label class="btn btn-info-2" btnRadio="{{ c }}" *ngFor="let c of colors"
                                               [uncheckable]="true" tabindex="0" role="button">{{ c }}</label>
                                    </div>
                                </dd>
                            </dl>

                            <dl *ngIf="sizes && sizes.length > 0">
                                <dt>{{ 'Size' | translate }}</dt>
                                <dd class="text-left">
                                    <div btnRadioGroup [(ngModel)]="size">  <!-- 取消 btn-group -->
                                        <label class="btn btn-info-2" btnRadio="{{ c }}" *ngFor="let c of sizes"
                                               [uncheckable]="true" tabindex="0" role="button">{{ c }}</label>
                                    </div>
                                </dd>
                            </dl>
                        <!-- </div> -->
                        <hr>

                        <!-- <div *ngIf="lang == 'sc'">
                            <div class="border-top border-bottom py-3 mb-4" *ngIf="colorsChinese && colorsChinese.length > 0">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 mr-3">{{ '颜色' | translate }}</h6>
                                      <div class="btn-group" btnRadioGroup [(ngModel)]="colorChinese">
                                        <label class="btn btn-info" btnRadio="{{cc}}" *ngFor="let cc of colorsChinese"
                                               [uncheckable]="true" tabindex="0" role="button">{{ cc }}</label>
                                      </div>
                                </div>
                            </div>
                            <div class="border-top border-bottom py-3 mb-4" *ngIf="sizesChinese && sizesChinese.length > 0">
                                <div class="d-flex align-items-center">
                                    <h6 class="mb-0 mr-3">{{ '尺寸' | translate }}</h6>
                                      <div class="btn-group" btnRadioGroup [(ngModel)]="sizeChinese">
                                        <label class="btn btn-info" btnRadio="{{cc}}" *ngFor="let cc of sizesChinese"
                                               [uncheckable]="true" tabindex="0" role="button">{{ cc }}</label>
                                      </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="d-md-flex align-items-end mb-3">
                            <div class="max-width-150 mb-4 mb-md-0">
                                <h6>{{ 'Quantity' | translate }}</h6>
                                <!-- Quantity -->
                                <div class="border rounded-pill py-2 px-3 border-color-1">
                                    <div class="js-quantity row align-items-center">
                                        <div class="col">
                                            <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" value="1" [(ngModel)]="quantity">
                                        </div>
                                        <div class="col-auto pr-1">
                                            <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle" (click)="decQuantity()">
                                                <small class="fas fa-minus btn-icon__inner font-size-16">－</small>
                                            </a>
                                            <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle" (click)="incQuantity()">
                                                <small class="fas fa-plus btn-icon__inner font-size-16">＋</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Quantity -->
                            </div>
                            <div class="ml-md-3">
                                <a (click)="addToCart(product, quantity)" class="btn myButton-Submit font-size-18"><i class="ec ec-add-to-cart mr-2"></i> {{ 'Add to Cart' | translate }}</a>
                            </div>

                            <div class="ml-md-3">
                                <a (click)="buyNow(product, quantity)" class="btn myButton-Buy font-size-18"><i class="ec ec-add-to-cart mr-2"></i> {{ 'Buy now' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Product Body -->

        <!-- Single Product Tab -->

        <div class="myNavTabs-2" style="padding: 0 20px;">

          <ul class="nav nav-tabs justify-content-center nav-justified">  <!-- 水平居中，等宽 -->
            <li class="nav-item"></li>  <!-- 两边留空 -->

            <li *ngIf="NavTab == 'Description'" class="nav-item">
              <a class="nav-link active" href="javascript:;">{{ 'Description' | translate }}</a>
            </li> 
            <li *ngIf="NavTab != 'Description'" class="nav-item" (click)="changeNavTab('Description')">
              <a class="nav-link" href="javascript:;">{{ 'Description' | translate }}</a>
            </li> 
        
            <li *ngIf="NavTab == 'Specification'" class="nav-item">
              <a class="nav-link active" href="javascript:;">{{ 'Specification' | translate }}</a>
            </li> 
            <li *ngIf="NavTab != 'Specification'" class="nav-item" (click)="changeNavTab('Specification')">
              <a class="nav-link" href="javascript:;">{{ 'Specification' | translate }}</a>
            </li> 
        
            <li *ngIf="NavTab == 'Features'" class="nav-item">
              <a class="nav-link active" href="javascript:;">{{ 'Features' | translate }}</a>
            </li> 
            <li *ngIf="NavTab != 'Features'" class="nav-item" (click)="changeNavTab('Features')">
              <a class="nav-link" href="javascript:;">{{ 'Features' | translate }}</a>
            </li> 

            <li *ngIf="NavTab == 'Reviews'" class="nav-item">
              <a class="nav-link active" href="javascript:;">{{ 'Reviews' | translate }}</a>
            </li> 
            <li *ngIf="NavTab != 'Reviews'" class="nav-item" (click)="changeNavTab('Reviews')">
              <a class="nav-link" href="javascript:;">{{ 'Reviews' | translate }}</a>
            </li> 

            <li class="nav-item"></li>
          </ul>
            
        </div>

        <!-- Description -->
        <div *ngIf="NavTab == 'Description'" class="WorkForm-2">
            <div [innerHtml]="product.description | translateField"></div>
        </div>

        <!-- Specification -->
        <div *ngIf="NavTab == 'Specification'" class="WorkForm-2">
            <table class="table table-hover text-center" *ngIf="product.specs && product.specs.en">  <!-- 滑入效果，文字居中 -->
                <tbody>
                    <tr *ngFor="let spec of product.specs.en[0].details">
                        <td class="border-top-0">{{ spec.name }}</td>  <!-- th td 去除上边线 -->
                        <td class="border-top-0">{{ spec.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Features -->
        <div *ngIf="NavTab == 'Features'" class="WorkForm-2">
            <ul>
                <li *ngFor="let feature of product.features.en">
                    {{ feature }}
                </li>
            </ul>
        </div>

        <!-- Reviews -->
        <div *ngIf="NavTab == 'Reviews'" class="WorkForm-2">
            <app-comments 
            [overall]="overall" 
            [comments]="comments"
            [rating1]="rating1"
            [rating2]="rating2"
            [rating3]="rating3"
            [rating4]="rating4"
            [rating5]="rating5"
            ></app-comments>
        </div>
        
        <!-- End Single Product Tab -->

        <hr>

        <!-- Related products -->
        <div class="mb-6" *ngIf="relatedProducts && relatedProducts.length > 0">
            <app-related-products [products]="relatedProducts" 
            (onAddToCart)="onAddToCart($event)"
            (onAddToFavorite)="onAddToFavorite($event)"></app-related-products>
        </div>

    </div>
    <!--
    <app-chatbot></app-chatbot>
    -->
</main>
