<div class="auth-container d-flex justify-content-center">
    <div class="container">
      <h1>Sign In</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>


      <div class="clearfix d-flex justify-content-around align-items-center">
        <div class="mx-2">
          <input type="checkbox" checked="checked" name="remember" value="">
          <label for="vehicle1"> Remember me</label><br>          
        </div>
        <div class="mx-2">
          <button type="submit" class="signinbtn" (click)="signin()">Sign In</button>
        </div>
        
      </div>
    </div>
</div>