<div class="d-flex flex-column justify-content-center align-items-center">
    <h3 class="title">Get started creating & selling your NFTs</h3>
    <div class="GettingStarted--step-container">
        <div class="GettingStarted--step">
            <div class="image-container">
                <img src="https://testnets.opensea.io/static/images/icons/wallet.svg">
            </div>
            <p class="subtitle">
                Set up your wallet
            </p>
            <p class="content">
                Once you’ve set up your wallet of choice, connect it to OpenSea by clicking the wallet icon in the top right corner. 
            </p>
        </div>

        <div class="GettingStarted--step">
            <div class="image-container">
                <img src="https://testnets.opensea.io/static/images/icons/collection.svg">
            </div>
            <p class="subtitle">
                Create your collection
            </p>
            <p class="content">
                Click Create and set up your collection. Add social links, a description, profile & banner images, and set a secondary sales fee.
            </p>
        </div>     
        
        <div class="GettingStarted--step">
            <div class="image-container">
                <img src="https://testnets.opensea.io/static/images/icons/nft.svg">
            </div>
            <p class="subtitle">
                Add your NFTs
            </p>
            <p class="content">
                Upload your work (image, video, audio, or 3D art), add a title and description, and customize your NFTs with properties, stats, and unlockable content.
            </p>
        </div>  
        
        <div class="GettingStarted--step">
            <div class="image-container">
                <img src="https://testnets.opensea.io/static/images/icons/sale.svg">
            </div>
            <p class="subtitle">
                List them for sale
            </p>
            <p class="content">
                Choose fixed-price listings to sell your NFTs, and we help you sell them!
            </p>
        </div>          
    </div>
</div>