<div class="AssetForm--has-unlockable-content">
    <div class="d-flex justify-content-between">
        <div>
            <div class="AssetForm--item">
                <i class="Iconreact__Icon-sc-1gugx8q-0 kyEOvi AssetForm--item-icon material-icons" color="purple" value="lock_open" size="24">lock_open</i>
                <span class="AssetForm--item-label">{{'Hide Asset' | translate}}</span>
            </div>
            <header class="AssetForm--input-header">
                {{'Hide this asset from the public' | translate}}
            </header>
        </div>
        <div class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 VerticalAlignedreact__VerticalAligned-sc-1v4gkkl-0 ijQNAs irGSTk jpdfEF">
            <div class="switch">
                <label>
                    <input type="checkbox" [checked]="value" (click)="switch()">
                    <span class="lever"></span>
                </label>
            </div>
        </div>
    </div>
</div>
