.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before,
  .rating > span.rated:before,
  .rating > span.rated ~ span:before {
     content: "\2605";
     position: absolute;
     color: #ffc600;
  }

  .rating-ro {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating-ro > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }  
  .rating-ro > span.rated:before,
  .rating-ro > span.rated ~ span:before {
     content: "\2605";
     position: absolute;
     color: #ffc600;
  }