
<div class="container">
  
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-2">{{'Id' | translate}}</div>
        <div class="col col-3">{{'Date Created' | translate}}</div>
        <div class="col col-3">{{'Total' | translate}}</div>
        <div class="col col-2">{{'Status' | translate}}</div>
        <div class="col col-2"></div>
      </li>
      <li class="table-row" *ngFor="let order of orders">
        <div class="col col-2" data-label="{{'Id' | translate}}">
          <a target="_blank" href="/store/{{order.store._id}}/track-order/{{order._id}}">
            {{trimText(order._id)}}
          </a>
        </div>
        <div class="col col-3" data-label="{{'Date Created' | translate}}">{{order.dateCreated | date}}</div>
        <div class="col col-3" data-label="{{'Total' | translate}}">{{order.totalToPay}}</div>
        <div class="col col-2" data-label="{{'Status' | translate}}">
          <div>
            {{getStatus(order) | translate}}
          </div>
          <div *ngIf="order.paymentStatus == 5">
            <a (click)="refund(order)">
              Approve refund
            </a>
          </div>
        </div>
        <div class="col col-2 text-right" data-label="Operations">

          <div class="d-inline-block px-2" *ngIf="(order.paymentStatus == 2)">
            <a href="/merchant/shipping/{{order._id}}">
              <img src="/assets/svg/shipping.svg">
            </a>
          </div>

          
          
        </div>
      </li>
    </ul>
  </div>