
<!-- 列示所有订单 -->

<ion-grid class="px-2 bg-white text-dark font-size-18 border-bottom">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-title><h1>{{ 'All Orders' | translate }}</h1></ion-title>
    </ion-col>
  </ion-row>
  <ion-row class="bg-light">
    <ion-col size="3">{{ 'Id' | translate }}</ion-col>
    <ion-col size="2">{{ 'Table' | translate }}</ion-col>
    <ion-col size="3">{{ 'Date Created' | translate }}</ion-col>
    <ion-col size="2">{{ 'Total' | translate }}</ion-col>
    <ion-col>{{ 'Status' | translate }}</ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="bg-white" *ngFor="let order of orders">
  <ion-row class="work-list">
    <ion-col size="3">
      <a target="_blank" href="/merchant/order/{{ order.id }}">
        {{ trimText(order.id) }}
      </a>
      <!-- <span *ngIf="!order.merchantId">{{ trimText(order.id) }}</span> -->
    </ion-col>
    <ion-col size="2">{{ order.table }}</ion-col>
    <ion-col size="3">{{ order.create | date:'MM/dd hh:mm' }}</ion-col>  <!-- order.dateCreated -->
    <ion-col size="2">{{ order.total }}</ion-col>  <!-- order.totalAmount -->
    <ion-col size="2">{{ order.status }}</ion-col>
    <!-- <ion-col *ngIf="order.memo">
      {{ order.memo }}
    </ion-col>
    <ion-col *ngIf="!order.memo">
      {{ getStatus(order) | translate }}
    </ion-col> -->
      <!-- <div *ngIf="order.paymentStatus == 5">
        <a (click)="refund(order)">
          Approve refund
        </a>
      </div> -->
      <!-- <div class="d-inline-block px-2" *ngIf="(order.paymentStatus == 2)">
        <a href="/merchant/shipping/{{order._id}}">
          <img src="/assets/svg/shipping.svg">
        </a>
      </div> -->
  </ion-row>
</ion-grid>


<!-- <h1>{{ 'Orders' | translate }}</h1>

<div class="px-2">

  <dl class="work-list row">
    <dt class="col-3">{{ 'Id' | translate }}</dt>
    <dt class="col-3">{{ 'Date Created' | translate }}</dt>
    <dt class="col-2">{{ 'Total' | translate }}</dt>
    <dt class="col">{{ 'Status' | translate }}</dt>
  </dl>

  <dl class="work-list row" *ngFor="let order of orders">
    <dd class="col-3">
      <a target="_blank" *ngIf="order.merchantId" href="/merchant/order/{{order._id}}">
        {{ order._id }}
      </a>
      <span *ngIf="!order.merchantId">{{ order._id }}</span>
    </dd>
    <dd class="col-3">{{ order.dateCreated | date:'MM/dd hh:mm' }}</dd>
    <dd class="col-2">{{ order.totalAmount }}</dd>
    <dd class="col" *ngIf="order.memo">
      {{ order.memo }}
    </dd>
    <dd class="col" *ngIf="!order.memo">
      <div>
        {{ getStatus(order) | translate }}
      </div>
    </dd>
  </dl>

</div> -->

    <!-- <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-2">{{ 'Id' | translate }}</div>
        <div class="col col-3">{{ 'Date Created' | translate }}</div>
        <div class="col col-3">{{ 'Total' | translate }}</div>
        <div class="col col-2">{{ 'Status' | translate }}</div>
        <div class="col col-2"></div>
      </li>
      <li class="table-row" *ngFor="let order of orders">
        <div class="col col-2" data-label="Id">
          <a target="_blank" *ngIf="order.store" href="/store/{{order.store._id}}/track-order/{{order._id}}">
            {{ trimText(order._id) }}
          </a>
          <span *ngIf="!order.store">{{ trimText(order._id) }}</span>
        </div>
        <div class="col col-3" data-label="Date Created">{{ order.dateCreated | date }}</div>
        <div class="col col-3" data-label="Total">{{ order.totalAmount }}</div>
        <div class="col col-2" data-label="Status">
          <div>
            {{ getStatus(order) | translate }}
          </div>
          <div *ngIf="order.paymentStatus == 5">
            <a (click)="refund(order)">
              Approve refund
            </a>
          </div>
        </div>
        <div class="col col-2 text-right" data-label="Operations">
          <div class="d-inline-block px-2" *ngIf="(order.paymentStatus == 2)">
            <a href="/merchant/shipping/{{order._id}}">
              <img src="/assets/svg/shipping.svg">
            </a>
          </div>
        </div>
      </li>
    </ul> -->
  