
// ---------- 我的 nav-tabs 菜单 ----------

.myNavTabs .nav-tabs li a {
  color:#a5a5a5;  // 未选颜色
}
.myNavTabs .nav-tabs li a:hover {
  color: #7f7f7f;    // 深一点点
  border-color:#eee #eee transparent #eee
}
.myNavTabs .nav-tabs li a.active {
  color:#333;  // 选中颜色
}
.myNavTabs .nav-tabs li a.active :hover {
  color:#333;  // 颜色不变  // 放 a:hover 后
}

.myNavTabs .nav-tabs { 
  margin-bottom:25px;  // 下面间隙
}

// ---------- 我的 work-form 表单 ----------

.work-form {
  font-size: 16px; 
  color: #3b3b3b; 
  line-height: 34px; 
  padding-top: 20px;
  margin: 20px 0;
  // border: solid 1px #eee;  // 灰色边框
}
.work-form dl {
  width: 100%;  // 占据整行
}
.work-form dt {
    float: left; 
    width: 150px;  // 120px
    padding: 6px 0 8px; 
    text-align: right;
}
.work-form dt span { 
  color: #f00; 
}
.work-form dd {
  margin-left: 160px;  // 125px
  padding: 5px 20px 5px 10px;
}
// 单行文本
.work-form .inp {
  // float: left;
  height: 36px;
  background-color: #ffffff; 
  border: 1px solid #d8d8d8; 
  border-radius: 5px; 
  margin: 0px;
}

// ---------- 自定义按钮 ----------

.myButton {  // 自定义按钮
  color: white;
  background-color: #f60; 
  border: 0;
  border-radius: 0%;
}
.myButton:hover {
  cursor: pointer;  // 手形光标
}

.myButton-fix {  // 自定义按钮(圆角)
  color: white;
  background-color: #f60; 
  border: 0;
  border-radius: 15%;  // 圆角
}

.myButton-Submit {  // 提交按钮（用于下单 Place order）
  width: 200px;
  // color: #3b3b3b; 
  background-color: #ffd814;
  display: block;
  // border-radius: 0%;
}
.myButton-Submit:hover {
  background-color: #f7ca00;
  cursor: pointer;  // 手形光标
}

.myButton-Buy {  // 提交按钮（用于下单 Buy）
  width: 200px;
  background-color: #ffa41c;
  display: block;
}
.myButton-Buy:hover {
  background-color: #fa8900;
  cursor: pointer;  // 手形光标
}

.myButton-Cancel {  // 自定义按钮
  width: 200px;
  background-color: #a5a5a5;
  display: block;
}
.myButton-Cancel:hover {
  background-color: #7f7f7f;
  cursor: pointer;  // 手形光标
}

.myButton-White {  // 小白按钮（用于地址 Change）
  width: 120px;
  // color: #3b3b3b; 
  background-color: white;
  display: block;
  border: solid 1px #3b3b3b;  // 灰色边框
  // border-radius: 0%;
}
.myButton-White:hover {
  background-color: #d8d8d8;
  cursor: pointer;  // 手形光标
}

// ---------- 其它样式 ----------

legend {
  text-align: left;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}

.work-list {
  width: 100%;
  font-size: 16px; 
  color: #3b3b3b; 
  background-color: #ffffff; 
  line-height: 34px; 
  margin: 10px 0;
  border-bottom: solid 1px #eee;  // 灰色下边框
}

.work-list dt {
  // 可将 style="background-color: #f7f7f7;" 改用 "bg-light"
  background-color: #f7f7f7;  // 背景灰色 
}
