select {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: #c0392b;
    border: none;
    border-bottom: 2px solid #962d22;
    color: #eeeeee;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
  }
  /* For IE <= 11 */
  select::-ms-expand {
    display: none; 
  }

  select {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: white;

    border: none;
    border-bottom: 2px solid grey;
    color: black;
    padding: 10px;
    padding-right: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Adding transition effect */
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
  }
  /* For IE <= 11 */
  select::-ms-expand {
    display: none; 
  }
  select:hover,
  select:focus {
    color: black;
    background-color: white;
    border-bottom-color: #DCDCDC;
  }