

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.rounded-img {
    border-radius: 50%;
}

.flex-grow-1 {
    flex-grow: 1;
}

.w-100 {
    width: 100%;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;    
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;    
}

.backend-main {
    height: 90vh;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */


/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.btn {
  max-width: 200px;
}

.text-right {
  text-align: right;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.px-2 {
  padding-right: 5px;
  padding-left: 5px;
}

.mx-2 {
  margin-left: 5px;
  margin-right: 5px;
}

.cursor-pointer{
  cursor: pointer;
}

.d-inline-block {
  display: inline-block;
}