<!-- <div class="container-fluid">
    <app-slide-show></app-slide-show>
    <app-collections></app-collections>
</div> -->
rrrr
<div class="container-fluid">
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <app-slide-show></app-slide-show>
        <app-info-bar></app-info-bar>
        <app-collections></app-collections>
        <app-collections2></app-collections2>

        <div class="container">
            <!-- Top Categories this Month -->
            <div class="mb-2">
                <div class="border-bottom border-color-1 mb-5">
                    <h3 class="section-title section-title__full d-inline-block mb-0 pb-2 font-size-22">{{"Top Categories this Month"|translate}}</h3>
                </div>
                <div class="row align-items-start">
                    <div class="col-4 col-wd-3 border-right border-lg-down-0 mb-8">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img1.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Mobile Devices</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Accessories</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Chargers</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Powerbanks</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Smartphones</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Smartwatch</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Tablets</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-wd-3 border-right border-lg-down-0 mb-8">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img2.png" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Games & Consoles</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Accessories</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Action Games</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Game Consoles</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Racing Games</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Station Consoles</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Video Games & Consoles</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-wd-3 border-right remove-bd-xl-only border-lg-down-0 mb-8">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img3.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Gadgets</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Gadgets & Accesories</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Smartwatches</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Wearables</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">3D Printing</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Alexa Gadgets</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Wireless VR Headset</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-wd-3 border-right remove-bd-wd border-lg-down-0 mb-8">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img4.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Home Entertainment</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Blue-ray Players</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">DVD Players</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Home & Audio Entertainment</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Home Theater Systems</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Soundbar Speakers</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Projectors</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-wd-3 border-right border-lg-down-0 mb-8">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img5.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Laptops & Computers</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Accessories</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">All in One</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Computer Accessories</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Computer Monitors</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Laptop Skins</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Desktop Computers</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-wd-3 border-right remove-bd-xl-only border-lg-down-0 mb-8">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img6.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Accessories</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Cases</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Headphone Accessories</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Headphone Cases</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Headphones</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Pendrives</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Chargers</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-wd-3 border-right border-lg-down-0 mb-8 d-xl-none d-wd-block">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img7.png" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Cameras & Photography</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Cameras</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Photo Cameras</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Video Cameras</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">GoPro Cameras</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Drone Camera</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">360 camera</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-wd-3 border-lg-down-0 mb-8 d-xl-none d-wd-block">
                        <div class="row align-items-center align-items-xl-start">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block">
                                    <img class="img-fluid" src="../../assets/img/300X300/img8.jpg" alt="Image Description">
                                </a>
                            </div>
                            <div class="col-md-7 pl-lg-0">
                                <h4 class="font-size-18 mb-0 mb-xl-2 font-size-14-down-lg text-center text-md-left">
                                    <a href="../shop/product-categories-7-column-full-width.html" class="underline-on-hover">Computer Components</a>
                                </h4>
                                <ul class="mb-1 font-size-13 list-unstyled text-lh-21 d-none d-xl-block">
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Computer Cases</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Desktops</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Monitors</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Software</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">USB Hubs</a></li>
                                    <li><a href="../shop/product-categories-7-column-full-width.html" class="text-gray-15 underline-on-hover">Hard Disk Bags</a></li>
                                </ul>
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-none d-xl-block text-right font-weight-bold text-gray-15 underline-on-hover">See all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Categories this Month -->


            <!-- Banner 2 columns -->
            <div class="mb-8">
                <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <a href="../shop/shop.html">
                            <img class="img-fluid" src="../../assets/img/690X150/img1.jpg" alt="Image Description">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="../shop/shop.html">
                            <img class="img-fluid" src="../../assets/img/690X150/img2.jpg" alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Banner 2 columns -->
        </div>
        <!-- Brand Carousel -->
        <!-- <div class="container mb-8">
            <div class="py-2 border-top border-bottom">
                <div class="js-slick-carousel u-slick my-1"
                    data-slides-show="5"
                    data-slides-scroll="1"
                    data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y"
                    data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                    data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right"
                    data-responsive='[{
                        "breakpoint": 992,
                        "settings": {
                            "slidesToShow": 2
                        }
                    }, {
                        "breakpoint": 768,
                        "settings": {
                            "slidesToShow": 1
                        }
                    }, {
                        "breakpoint": 554,
                        "settings": {
                            "slidesToShow": 1
                        }
                    }]'>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img1.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img2.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img3.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img4.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img5.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img6.png" alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- End Brand Carousel -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
</div>