<div class="AssetSell">
    <!--
    <div class="asset-sell-subheader">Select your sell method</div>
    <div class="AssetSellToggleTypereact__DivContainer-i93ht2-0 dBLbNG">
        <div class="AssetSellToggleType--toggle AssetSellToggleType--toggle-selected" data-testid="AssetSellToggleType--toggle-fixed">
            <div class="AssetSellToggleType--inner">
                <div class="AssetSellToggleType--header">Set Price</div>
                <div class="AssetSellToggleType--description">Sell at a fixed or declining price</div>
            </div>
        </div>
        
        <div class="AssetSellToggleType--toggle " data-testid="AssetSellToggleType--toggle-english">
            <div class="AssetSellToggleType--inner">
                <div class="AssetSellToggleType--header">Highest Bid</div>
                <div class="AssetSellToggleType--description">Auction to the highest bidder</div>
            </div>
        </div>
        <div class="AssetSellToggleType--toggle">
            <a role="link" href="/account?select=sell">
                <div class="AssetSellToggleType--inner">
                    <div class="AssetSellToggleType--header">
                        Bundle <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV material-icons material-icons" value="chevron_right" size="24">chevron_right</i>
                    </div>
                    <div class="AssetSellToggleType--description">
                        Group this item with others to sell
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    -->
</div>