.AssetSell .asset-sell-subheader {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.dBLbNG {
    border-bottom: 1px solid rgb(229, 232, 235);
    display: flex;
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 0px 10px;
    width: 100%;
}

@media (min-width: 600px)
 {
    .dBLbNG {
        flex-direction: row;
    }
 }


 .dBLbNG .AssetSellToggleType--toggle.AssetSellToggleType--toggle-selected {
    background: rgb(251, 253, 255);
    border-color: rgb(32, 129, 226);
    box-shadow: rgb(32 129 226) 0px 0px 0px 1px inset;
}

.dBLbNG .AssetSellToggleType--toggle {
    border-radius: 4px;
    border: 1px solid rgb(229, 232, 235);
    cursor: pointer;
    flex: 1 1 0%;
    margin: 0px 5px 15px;
    text-align: center;
}

.dBLbNG .AssetSellToggleType--toggle .AssetSellToggleType--inner {
    margin: 15px;
}

.dBLbNG .AssetSellToggleType--toggle .AssetSellToggleType--header {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(14, 14, 14);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 5px;
}

.dBLbNG .AssetSellToggleType--toggle .AssetSellToggleType--description {
    color: rgb(138, 147, 155);
    font-size: 14px;
    line-height: 16px;
    min-height: 32px;
}

