<div class="header-container">
    <div class="row1">
        <div>
            <!--
            <a>
                <img  src="/assets/images/exg-logo.svg">
                
            </a>
            -->
            <img class="img-responsive" src="/assets/images/exg-logo.svg">

        </div>
        <div>
            eXchangily
        </div>
        <div class="search-bar">
            <div class="flex-box">
                <input type="text" id="search-text" name="searchText" placeholder="Search">
                <button class="search-btn">Search</button>
            </div>
        </div>

        <div class="select-btn">
            <select class="select-css">
                <option>English</option>
                <option>中文</option>
            </select>            
        </div>
        <div>
            login
        </div>
        

    </div>
    
</div>