<div class="header-container">
    <div id="nav-belt" class="p-2">
        <div>
            <!--
            <a>
                <img  src="/assets/images/exg-logo.svg">
                
            </a>
            -->
            <img class="img-responsive" src="/assets/images/exg-logo.svg">

        </div>
        <div>
            eXchangily
        </div>

        
        <div class="search-bar">
            <!--
            <div class="flex-box">
                <input type="text" id="search-text" name="searchText" placeholder="Search">
                <button class="search-btn">
                    <img src="/assets/svg/search.svg">
                </button>
            </div>
            -->
        </div>

        <div class="select-btn">
            <select class="select-css" [(ngModel)]="lang">
                <option value="en">English</option>
                <option value="zh">中文</option>
            </select>            
        </div>

        <div class="px-3 mx-3 cursor-pointer" [routerLink]="['/cart']">
            <span [attr.badge]="cartCount">
                
                {{'Cart' | translate}}
            </span>
        </div>

        <div class="px-3 mx-3 cursor-pointer" [routerLink]="['/auth/signin']">
            {{'Login' | translate}}
        </div>
        

    </div>
    <div id="nav-main">
        <ul>
            <li><a href="/">{{'Home' | translate}}</a></li>

            <li *ngFor="let category of categories"><a href="/category/{{category._id}}">{{category.category | translateField}}</a></li>
          </ul>
    </div>
</div>