<div class="header-container">
    <div id="nav-belt">
        <div>
            <!--
            <a>
                <img  src="/assets/images/exg-logo.svg">
                
            </a>
            -->
            <img class="img-responsive" src="/assets/images/exg-logo.svg">

        </div>
        <div>
            eXchangily
        </div>

        
        <div class="search-bar">
            <!--
            <div class="flex-box">
                <input type="text" id="search-text" name="searchText" placeholder="Search">
                <button class="search-btn">
                    <img src="/assets/svg/search.svg">
                </button>
            </div>
            -->
        </div>
        <div [routerLink]="['/cart']">
            Cart
        </div>
        <div class="select-btn">
            <select class="select-css">
                <option>English</option>
                <option>中文</option>
            </select>            
        </div>
        <div>
            login
        </div>
        

    </div>
    <div id="nav-main">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="news.asp">Fashion</a></li>
            <li><a href="contact.asp">Electronic</a></li>
            <li><a href="about.asp">Sporting Goods</a></li>
            <li><a href="about.asp">Home & Garden</a></li>
          </ul>
    </div>
</div>