<div class="container">
<!-- Feature List -->
<div class="mb-6 row border rounded-lg mx-0 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
    <!-- Feature List -->
    <div class="media col px-6 px-xl-4 px-wd-8 flex-shrink-0 flex-xl-shrink-1 min-width-270-all py-3">
        <div class="u-avatar mr-2">
            <i class="text-primary ec ec-transport font-size-46"></i>
        </div>
        <div class="media-body text-center">
            <span class="d-block font-weight-bold text-dark">Free Delivery</span>
            <div class=" text-secondary">from $50</div>
        </div>
    </div>
    <!-- End Feature List -->

    <!-- Feature List -->
    <div class="media col px-6 px-xl-4 px-wd-8 flex-shrink-0 flex-xl-shrink-1 min-width-270-all border-left py-3">
        <div class="u-avatar mr-2">
            <i class="text-primary ec ec-customers font-size-56"></i>
        </div>
        <div class="media-body text-center">
            <span class="d-block font-weight-bold text-dark">99 % Customer</span>
            <div class=" text-secondary">Feedbacks</div>
        </div>
    </div>
    <!-- End Feature List -->

    <!-- Feature List -->
    <div class="media col px-6 px-xl-4 px-wd-8 flex-shrink-0 flex-xl-shrink-1 min-width-270-all border-left py-3">
        <div class="u-avatar mr-2">
            <i class="text-primary ec ec-returning font-size-46"></i>
        </div>
        <div class="media-body text-center">
            <span class="d-block font-weight-bold text-dark">30 Days</span>
            <div class=" text-secondary">for free return</div>
        </div>
    </div>
    <!-- End Feature List -->

    <!-- Feature List -->
    <div class="media col px-6 px-xl-4 px-wd-8 flex-shrink-0 flex-xl-shrink-1 min-width-270-all border-left py-3">
        <div class="u-avatar mr-2">
            <i class="text-primary ec ec-payment font-size-46"></i>
        </div>
        <div class="media-body text-center">
            <span class="d-block font-weight-bold text-dark">Payment</span>
            <div class=" text-secondary">Secure System</div>
        </div>
    </div>
    <!-- End Feature List -->

    <!-- Feature List -->
    <div class="media col px-6 px-xl-4 px-wd-8 flex-shrink-0 flex-xl-shrink-1 min-width-270-all border-left py-3">
        <div class="u-avatar mr-2">
            <i class="text-primary ec ec-tag font-size-46"></i>
        </div>
        <div class="media-body text-center">
            <span class="d-block font-weight-bold text-dark">Only Best</span>
            <div class=" text-secondary">Brands</div>
        </div>
    </div>
    <!-- End Feature List -->
</div>
</div>