<ul class="responsive-table">
    <li class="table-header">
      <div class="col col-3">{{'Store' | translate}}</div>
      <div class="col col-3">{{'Order' | translate}}</div>
      <div class="col col-2">{{'Product' | translate}}</div>
      <div class="col col-2">{{'Price' | translate}}</div>
      <div class="col col-2"></div>
  
    </li>
    <li class="table-row" *ngFor="let product of products">
      <div class="col col-3" data-label="Currency">{{product.store?.name | translateField}}</div>
      <div class="col col-3" data-label="Title">{{product.order}}</div>
      <div class="col col-2" data-label="Title">{{product.title | translateField}}</div>
      <div class="col col-2" data-label="Price">{{product.price}} {{product.store?.coin}}</div>
      
      <div class="col col-2 text-right" data-label="Operations">
        <div class="d-inline-block px-2">
          <a href="/account/comment/{{product._id}}">
            <img src="/assets/svg/comment.svg">
          </a>
        </div>
      </div>
    </li>
  </ul>
  
  