<div class="p-3" *ngIf="events">
    <div class="ActivitySearch--event-history">
        <div class="EventHistoryreact__DivContainer-sc-1ndm3on-0 lnJzFU">
            <div class="Panelreact__DivContainer-sc-1u1w6l0-0 gtaqPw Panel--alwaysOpen Panel--isOpen " data-testid="Panel">
                <div class="BasePanelreact__DivContainer-sc-1d6z6bk-0 AxlxQ Panel--panel">
                    <header class=" BasePanel--header Panel--header ">
                        <i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX Panel--icon material-icons" value="swap_vert" size="24">swap_vert</i>
                        {{'Trading History' | translate}}
                        <i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX Panel--toggle Panel--isEnabled  material-icons" value="expand_less" size="24">expand_less</i>
                    </header>
                    <div class="BasePanel--body Panel--body ">
                        <div class="Panel--content-container" style="height: initial;">
                            <div class=" EventHistory--Panel">
                                <div class="Scrollboxreact__DivContainer-sc-1b04elr-0 fAClQF EventHistory--container ActivitySearch--event-history-scrollbox">
                                    <div class="Scrollbox--content">
                                        <div class="Rowreact__DivContainer-amt98e-0 bISFhL Row--isHeader " role="row">
                                            <div class="Row--cell Row--cellIsSpaced EventHistory--event-col">{{'Event' | translate}}</div>
                                            <div class="Row--cell Row--cellIsSpaced EventHistory--item-col">{{'Item' | translate}}</div>
                                            <div class="Row--cell Row--cellIsSpaced EventHistory--price-col">{{'Price' | translate}}</div>
                                            <div class="Row--cell Row--cellIsSpaced ">{{'From' | translate}}</div>
                                            <div class="Row--cell Row--cellIsSpaced ">{{'To' | translate}}</div>
                                            <div class="Row--cell Row--cellIsSpaced ">{{'Date' | translate}}</div>
                                        </div>
                                        <div class="Rowreact__DivContainer-amt98e-0 bISFhL  EventHistory--row EventHistory--polledData " role="row" 
                                        *ngFor="let event of events | eventsSearch : selectedCollections.length : selectedEventTypes.length : selectedCollections : selectedEventTypes">
                                            <div class="Row--cell Row--cellIsSpaced EventHistory--event-col">
                                                <i class="Iconreact__Icon-sc-1gugx8q-0 cdETdX EventHistory--icon material-icons" value="{{getIcon(event.name)}}" size="24">{{getIcon(event.name)}}</i>{{event.name}}
                                            </div>
                                            <div class="Row--cell Row--cellIsSpaced EventHistory--item-col">
                                                <div class="AssetCellreact__DivContainer-sc-1s4s1ca-0 bdDOKm">
                                                    <a class="AssetCell--link" role="link" href="/nft/assets/{{event.smartContractAddress}}/{{event.tokenId}}">
                                                        <div class="AssetCell--container">
                                                            <div class="AssetMediareact__DivContainer-sc-1vbfbdi-0 iGXkUF AssetCell--img">
                                                                <div height="100%" width="100%" class="Blockreact__Block-sc-18q9hu0-0 Flexreact__Flex-sc-19zejk6-0 FlexVerticalreact__FlexVertical-x35rw8-0 VerticalAlignedreact__VerticalAligned-sc-1v4gkkl-0 CenterAlignedreact__CenterAligned-sc-1ek5672-0 jPFzsV gWUZeS qhVAl exleMn jKDYFy" style="background-color: rgb(255, 255, 255);">
                                                                    <div class="Imagereact__DivContainer-dy59cl-0 eltLFv Image--fade Image--isImageLoaded Image--isImageLoaderVisible AssetMedia--img " style="height: 48px; width: 48px;">
                                                                        <img class="Image--image" src="{{event.asset.media}}" style="object-fit: contain; width: auto; height: auto; max-width: 100%; max-height: 100%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span class="AssetCell--name">{{event.asset.name}}</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="Row--cell Row--cellIsSpaced EventHistory--price-col">
                                                <div class="EventHistory--prices">
                                                    <div class="Pricereact__DivContainer-t54vn5-0 jsOkdo Price--main EventHistory--price">
                                                        <div class="Price--amount">{{event.price}} {{getCoinName(event.coinType)}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Row--cell Row--cellIsSpaced ">
                                                <a routerLink="/nft/accounts/{{getFrom(event.from)}}">
                                                    {{addressDisplay(event.from)}}
                                                </a>

                                            </div>
                                            <div class="Row--cell Row--cellIsSpaced ">
                                                <a routerLink="/nft/accounts/{{event.to}}">
                                                    {{addressDisplay(event.to)}}
                                                </a>
                                            </div>
                                            <div class="Row--cell Row--cellIsSpaced ">
                                                <div class="EventTimestamp__DivContainer-sc-3gbwf4-0 hzYpUP" data-testid="EventTimestamp">
                                                    {{event.dateCreated ? (event.dateCreated | date) : ''}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
