<div *ngIf="!isValidMember" class="container text-center py-3">
    <div class="input-group input-group-pill my-3">
        <input type="text" class="form-control border-1 height-40" 
        placeholder="{{'referral code' | translate}}" 
        [(ngModel)]="parentId" name="parentId" required>
    </div>

    <div class="CreateCollection--actions">
        <div class="ActionButtonrContainer">
            <div class="ActionButton--content" (click)="joinAsMember()" style="min-width: 120px;">
                {{'Join as a customer' | translate}}
            </div>
        </div> 
    </div>    
</div>

<div class="main_page row">  <!-- "container" 宽度不对 -->
    <div class="col-9">  <!-- 12格中占9格 -->

        <div class="py-3">  <!-- "container" -->
            <div class="list_box">  <!-- 商家列表 -->
                <ul>
                    <li class="shop_li" *ngFor="let store of stores">
                        <div class="row" (click)="gotoStore(store)">
                            <div class="left_logo border">
                                <img *ngIf="store.image"  src="{{ store.image }}">
                            </div>
                            <div class="right_info">
                                <span class="title">{{ store.name | translateField }}</span><br>
                                <span class="star">{{ store.star }}</span><br>
                                <span class="text">{{ store.text }}</span><br>
                                <span class="address">地址：{{ store.businessAddress.en }}</span><br>
                            </div>
                            <div class="tel">
                                <span><strong>{{ store.phone }}</strong></span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="pagination">
                        <ul>
                            <li><a href="#" (click)="moreStore()">上一页</a></li>
                            <li><a href="#" (click)="moreStore()">下一页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <div class="col">  <!-- 12格中剩余 -->

        <div class="py-3">  <!-- "container" -->
            <div class="rlist_box">  <!-- 热门推荐 -->
                <dl class="hot_rec">
                    <dt>热门推荐</dt>
                    <dd class="border-bottom" *ngFor="let store of storesHot">
                        <div class="row" (click)="gotoStore(store)">
                            <div class="l_box">
                                <span class="l_num red">{{ store.order }}</span>
                                <span class="s_logo"><img *ngIf="store.image"  src="{{ store.image }}"></span>
                            </div>
                            <div class="r_box">
                                <h4>{{ store.name | translateField }}</h4>
                                <span class="text">{{ store.text }}</span>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="py-3">  <!-- "container" -->
            <div class="rlist_box">  <!-- 最新入驻 -->
                <dl class="new_rec">
                    <dt class="border-bottom">最新入驻</dt>
                    <dd class="border-bottom" *ngFor="let store of storesNew">
                        <div class="row" (click)="gotoStore(store)">
                            <div class="l_box">
                                <span class="s_logo"><img *ngIf="store.image"  src="{{ store.image }}"></span>
                            </div>
                            <div class="r_box">
                                <h4>{{ store.name | translateField }}</h4>
                                <span class="star">{{ store.star }}  </span>&nbsp;&nbsp;<span class="text">{{ store.text }}</span>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        
    </div>
</div>
