<div *ngIf="!isValidMember" class="container text-center py-3">
    <div class="input-group input-group-pill my-3">
        <input type="text" class="form-control border-1 height-40" 
        placeholder="{{'referral code' | translate}}" 
        [(ngModel)]="parentId" name="parentId" required>
    </div>

    <div class="CreateCollection--actions">
        <div class="ActionButtonrContainer">
            <div class="ActionButton--content" (click)="joinAsMember()" style="min-width: 120px;">
                {{'Join as a customer' | translate}}
            </div>
        </div> 
    </div>    
</div>

<div class="container py-3">
    <div class="row">
        <div class="col col-3 py-3" *ngFor="let store of stores">

            <div class="card" (click)="gotoStore(store)">
                <img *ngIf="store.image"  src="{{store.image}}" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>{{store.name | translateField}}</b></h4>
                </div>
              </div>

        </div>
    </div>
</div>


