
/* Add shadows to create the "card" effect */
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
} */

/* On mouse-over, add a deeper shadow */
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */

/* .store-image {
  width: 100%;
  height: 200px;
} */

// ---------- 商家列表 ----------

.cursor-pointer {
  cursor: pointer;
}

.list_box {
  width: 100%;  // 整行 w-100
  background: #fff; 
  // float: left;
  border: solid 1px #eee;
  padding: 0 20px 0 20px;    // 撑开高度
}

.list_box ul li {
  padding: 20px 0 20px 0;
}

.title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  margin-block-start:0;
  margin-block-end:0;
  padding-inline-start: 0;
}
.list_box ul li {
  list-style-type: none;  // 去除 li 前小黑点
  border-bottom: solid 1px #eee;  // 灰色下边框
}

.address {
  font-size: 14px;
  color: #999;
}

.shop_li .right_info .label span {
  display: inline-block;
  padding: 0 10px;
  border-radius: 4px;
  background: #F5F5F5;
  line-height: 26px;
  color: #999;
  text-align: center;
}

// .list_box .shop_li {
//   border-bottom: solid 1px #eee;  // 灰色下边框
// }
.list_box .shop_li :hover {
  background: #fafafa;
}

.list_box .shop_li .left_logo img{
  width: 100%; 
  height: auto; 
}

.list_box .shop_li .right_info {
  margin-left: 40px;
  padding: 20px 0;  // 撑开高度
}

.list_box .shop_li .right_info .title {
  font-size: 32px; 
  font-weight: bold; 
}
.list_box .shop_li .right_info .star {
  font-size: 24px; 
  font-weight: bold; 
  color: #FF591E;
}
.list_box .shop_li .right_info .text {
  font-size: 16px; 
  color: #999999;
}
.list_box .shop_li .right_info .address {
  padding-top: 10px;
  font-size: 20px; 
  color: #999999;
}

.list_box .shop_li .tel {
  width: 228px; 
  height: 45px; 
  border-radius: 23px; 
  box-shadow:0px 5px 43px 0px rgba(175,175,175,0.24); 
  background: #fff;
  color: #FF6C00; 
  font-size: 20px; 
  font-weight: bold; 
  line-height: 45px; 
  text-align: center; 
  margin: auto; 
  margin-top: 50px; 
  margin-right: 20px; 
} 
.list_box  .shop_li .tel span {
  display: block;
}
.list_box  .shop_li .tel :hover {
  border-radius: 23px; 
}

// ---------- 热门推荐 ----------

.rlist_box {
  float: right; 
  width: 100%;  // 整行 w-100
}

.rlist_box dt {  // 共用: 热门推荐+最新入驻
  width: 100%;  // 整行 w-100
  color: #fff; 
  background-color: #FF591E; 
  font-size: 20px; 
  font-weight: bold; 
  box-sizing: border-box; 
  text-align: center;
}
.rlist_box dd {
  margin: 0px;  // 没有空隙
  background: #fff;
}
.rlist_box dd :hover {
  background: #fafafa;
}

.rlist_box dd .l_box .l_num {
  vertical-align: middle;
  font-size: 30px; font-weight: 400px; vertical-align: middle; color:#777; margin-right: 16px; font-family: number; font-style: italic;
}
.rlist_box dd .l_box .l_num.red {
  color:#FF591E;
  font-weight: bold;
}
.rlist_box dd .l_box .s_logo {
  display: inline-block; width: 50px; height: 50px; border-radius: 50%; overflow: hidden; border: solid 1px #efefef; 
  vertical-align: middle;
}
.rlist_box dd .l_box .s_logo img { width: 100%; height: 100%; object-fit: cover;}

.rlist_box dd .r_box .star {
  color: #FF591E; 
  font-size: 18px; 
  font-weight: bold; 
  font-family: number; 
  font-style: italic;
}
.rlist_box dd .r_box .text {
  color: #999999;
}

.rlist_box .hot_rec dt {  // 基于: .rlist_box dt
  color: #fff; 
  background-color: #FF591E; 
}


// ---------- 最新入驻 ----------

.rlist_box .new_rec {
  margin-top: 80px;  // 两块之间空隙
}
.rlist_box .new_rec dt {  // 基于: .rlist_box dt
  color: #000000; 
  background-color: #FFFFFF; 
}


// ---------- 上页下页 ----------

.pagination {
  width: 100%; 
  // text-align: center;
  line-height: 32px; 
  font-size: 14px; 
  color: #666; 
}
.pagination ul {
  width: 100%;  // 必须重复
  text-align: center; 
}
.pagination li {
  display: inline-block; 
  margin: 0px 20px;  // 左右间隔
  background-color:#fff;
  border: 1px solid  #D9D9D9;
  border-radius: 3px; 
  min-width: 32px; 
  height: 32px;
}
.pagination li.page_disabled { display: none; }

.pagination li a { 
  display: block; 
  padding: 0 10px; 
  color:#666; 
  text-align: center; 
}
.pagination li a:hover {
  background: #FF6C00; 
  color: #fff;
}
