.CollectionFilter--results {
    max-height: 220px;
    padding: 8px 0px;
}

.fAClQF {
    display: flex;
    flex-direction: column;
}

.fAClQF .Scrollbox--content {
    border-color: rgba(0, 0, 0, 0);
    overflow-y: auto;
    transition: border-color 0.2s ease-in 0s;
}

.CollectionFilter--item {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(53, 56, 64);
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0px 8px;
}

.CollectionFilter--item .CollectionFilter--item-image {
    min-width: 32px;
    border: 1px solid rgb(229, 232, 235);
}

.small-img {
    width: 14px!important;
    height: 14px!important;
}

.bEpYNa {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.bEpYNa .Image--image {
    height: 100%;
    object-fit: contain;
    transition: opacity 400ms ease 0s;
    width: 100%;
}

img {
    border: 0;
}

.CollectionFilter--item .CollectionFilter--item-name {
    font-weight: 400;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

