<app-nft-header></app-nft-header>

<div class="AppContainer--main">
    <span>
        <div class="Error Notice row">

        </div>
    </span>
    <span>
        <div class="Notice row">
            
        </div>
    </span>   
    <div>
        <div class="admin-main">
            <app-nft-admin-sidebar></app-nft-admin-sidebar>
            <main class="admin-main--body">
                <div class="admin--container-with-margins">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </div> 
    
</div>

