<div class="collections-list-container">
    <div height="300" width="250" class="card-container">
        <div class="card-list-card">
            <div class="card-content">
                <i class="material-icons">store</i>
                <h4>Create new collection</h4>
                <div class="card-action">
                    <div class="card-action-content" (click)="createCollection()" style="min-width: 120px;">
                        Create
                    </div>
                </div>
            </div>
        </div>

        <div class="card-list-card" *ngFor="let collection of collections">
            <a href="/">
                <div class="card-content-full">
                    <a href="/nft/admin/collections/{{collection.slug}}/assets/edit" class="image-card-primary-link">
                        <div class="image-card-image" style="background-image: url({{collection.image}});">
                        </div>
                        <footer>
                            <div class="image-card-title">
                                {{collection.name}}
                            </div>
                        </footer>
                    </a>

                </div>
            </a>
        </div>
    </div>
</div>