
<app-expansion 
[title]="'Details' | translate"
[icon]="'subject'"
 [toggleable]="false">
    <section>
        {{'Created by ' | translate}}<span>{{asset.creator == address ? 'you' : asset.creator}}</span>
    </section>
    <p>{{asset.description}}</p>
    
</app-expansion>

<app-expansion 
[title]="'Properties' | translate"
[icon]="'label'"
[toggleable]="true">
    <app-properties-list [properties]="asset.properties"></app-properties-list>
</app-expansion>

<app-expansion 
[title]="'Levels' | translate"
[icon]="'stars'"
[toggleable]="true">
    <app-levels-list [levels]="asset.levels"></app-levels-list>
</app-expansion>

<app-expansion 
[title]="'Stats' | translate"
[icon]="'bar_chart'"
[toggleable]="true">
    <app-levels-list [levels]="asset.stats"></app-levels-list>
</app-expansion>

<app-expansion *ngIf="collection"
[title]="('About ' | translate) + collection.name"
[icon]="'vertical_split'"
[toggleable]="true">
    <a href="/nft/admin/collections/{{collection.slug}}/view">
        <img class="img-thumbnail" src="{{collection.image}}">{{collection.description}}
    </a>
    
</app-expansion>

<app-expansion 
[title]="'Chain Info' | translate"
[icon]="'ballot'"
[toggleable]="true">
    <div class="d-flex justify-content-between">
        <div>
            {{'Contract Address' | translate}}
        </div>
        <div>
            {{smartContractAddress}}
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div>
            {{'Token ID' | translate}}
        </div>
        <div>
            {{showId(tokenId)}}
        </div>
    </div>    
</app-expansion>