<app-expansion 
[title]="'Details'"
[icon]="'subject'"
 [toggleable]="false">
    <section>
        Created by you
    </section>
    <p>fawefawefwaf</p>
</app-expansion>

<app-expansion 
[title]="'Properties'"
[icon]="'label'"
[toggleable]="true">
    ono
</app-expansion>

<app-expansion 
[title]="'Levels'"
[icon]="'stars'"
[toggleable]="true">
    ono
</app-expansion>

<app-expansion 
[title]="'About testme'"
[icon]="'vertical_split'"
[toggleable]="true">
    ono
</app-expansion>

<app-expansion 
[title]="'Chain Info'"
[icon]="'ballot'"
[toggleable]="true">
    ono
</app-expansion>