
<div class="myNavTabs" class="px-3">    <!-- class="container" -->

  <h1 class="py-2">{{'My Information' | translate}}</h1>

  <div class="text-right">
    <button type="button" class="btn btn-danger btn-lg newButton-S rounded" (click)="saveMyInfo()">
      {{ 'Save' | translate }}
    </button>  <!-- 圆角边框 -->
  </div>

  <ul class="nav nav-tabs nav-justified">  <!-- 等宽 -->
    <li *ngIf="NavTab == 'General'" class="nav-item">
      <a class="nav-link active" href="javascript:;">General</a>
    </li> 
    <li *ngIf="NavTab != 'General'" class="nav-item" (click)="changeNavTab('General')">
      <a class="nav-link" href="javascript:;">General</a>
    </li> 

    <li *ngIf="NavTab == 'Data'" class="nav-item">
      <a class="nav-link active" href="javascript:;">Data</a>
    </li> 
    <li *ngIf="NavTab != 'Data'" class="nav-item" (click)="changeNavTab('Data')">
      <a class="nav-link" href="javascript:;">Data</a>
    </li> 

    <li class="nav-item"></li>  <!-- 右边留空 -->
    <li class="nav-item"></li>
    <li class="nav-item"></li>
  </ul>

  <!-- General -->
  <div class="pt-3" *ngIf="NavTab == 'General'">

    <ul class="nav nav-tabs nav-justified">  <!-- 等宽 -->
      <li *ngIf="currentTab == 'default English'" class="nav-item">
        <a class="nav-link active" href="javascript:;">English</a>
      </li> 
      <li *ngIf="currentTab != 'default English'" class="nav-item" (click)="changeTab('default English')">
        <a class="nav-link" href="javascript:;">English</a>
      </li> 
      <li *ngIf="currentTab == 'Simplified Chinese'" class="nav-item">
        <a class="nav-link active" href="javascript:;">简体中文</a>
      </li> 
      <li *ngIf="currentTab != 'Simplified Chinese'" class="nav-item" (click)="changeTab('Simplified Chinese')">
        <a class="nav-link" href="javascript:;">简体中文</a>
      </li> 
      <li *ngIf="currentTab == 'Traditional Chinese'" class="nav-item">
        <a class="nav-link active" href="javascript:;">繁體中文</a>
      </li> 
      <li *ngIf="currentTab != 'Traditional Chinese'" class="nav-item" (click)="changeTab('Traditional Chinese')">
        <a class="nav-link" href="javascript:;">繁體中文</a>
      </li> 
      <li class="nav-item"></li>  <!-- 右边留空 -->
      <li class="nav-item"></li>
    </ul>

    <div class="work-form row">

      <!-- 缺省英文 -->
      <div class="w-100" *ngIf="currentTab == 'default English'">  <!-- 100% 宽度 -->

        <dl>
          <dt>Name</dt>
          <dd class="text-left">
            <input type="text" class="inp w-75" placeholder="Enter your name" [(ngModel)]="name" name="name" required>
          </dd>
        </dl>
        
      </div>

      <!-- 简体中文 -->
      <div class="w-100" *ngIf="currentTab == 'Simplified Chinese'">

        <dl>
          <dt>名称</dt>
          <dd class="text-left">
            <input type="text" class="inp w-75" placeholder="输入你的名称" [(ngModel)]="nameChinese" name="nameChinese" required>
          </dd>
        </dl>

      </div>

      <!-- 繁體中文 -->
      <div class="w-100" *ngIf="currentTab == 'Traditional Chinese'">

        <dl>
          <dt>名稱</dt>
          <dd class="text-left">
            <input type="text" class="inp w-75" placeholder="輸入你的名稱" [(ngModel)]="nameTradition" name="nameTradition" required>
          </dd>
        </dl>

      </div>

    </div>
  </div>

  <!-- Data -->
  <div *ngIf="NavTab == 'Data'">
    <div class="work-form row">

      <dl>
        <dt>Image</dt>  <!-- Images -->
        <dd class="text-left">
          <app-admin-image-cropper [(images)]="images" [singleFile]="true"></app-admin-image-cropper>
        </dd>
      </dl>

    </div>
  </div>

</div>
