<div class="row">
    <div class="col col-md-3 col-12">
        <app-expansion 
        [title]="'Collections' | translate"
        [icon]="'view_comfy'"
        [options]="options"
        [toggleable]="true">
            <app-nft-account-in-wallet-collections 
            [collections]="collections"
            [(ngModel)]="selectedCollections"
            ></app-nft-account-in-wallet-collections>
        </app-expansion>        

        <app-expansion 
        [title]="'On Sale In' | translate"
        [icon]="'local_offer'"
        [options]="options"
        [toggleable]="true">
            <app-nft-account-in-wallet-currency 
            [(ngModel)]="selectedCurrencies"
            ></app-nft-account-in-wallet-currency>
        </app-expansion>          
    </div>
    <div class="col col-md-9 col-12">
        <app-nft-account-in-wallet-pills
        [selectedCollections]="selectedCollections"
        [selectedCurrencies]="selectedCurrencies"        
        ></app-nft-account-in-wallet-pills>
        <!--
        <app-nft-account-in-wallet-search></app-nft-account-in-wallet-search>
        -->
        <app-nft-account-in-wallet-assets 
        [wallet]="wallet"
        [address]="address"
        [favorites]="favorites"
        [selectedCollections]="selectedCollections"
        [selectedCurrencies]="selectedCurrencies"
        [assets]="assets"
        ></app-nft-account-in-wallet-assets>
    </div>

</div>