<div class="row">
    <div class="col col-3">
        <app-expansion 
        [title]="'Collections'"
        [icon]="'view_comfy'"
        [options]="options"
        [toggleable]="true">
            <app-nft-account-in-wallet-collections [(ngModel)]="selectedCollections"></app-nft-account-in-wallet-collections>
        </app-expansion>        

        <app-expansion 
        [title]="'On Sale In'"
        [icon]="'local_offer'"
        [options]="options"
        [toggleable]="true">
            <app-nft-account-in-wallet-currency [(ngModel)]="selectedCurrencies"></app-nft-account-in-wallet-currency>
        </app-expansion>          
    </div>
    <div class="col col-9">
        <app-nft-account-in-wallet-pills
        [selectedCollections]="selectedCollections"
        [selectedCurrencies]="selectedCurrencies"        
        ></app-nft-account-in-wallet-pills>
        <!--
        <app-nft-account-in-wallet-search>

        </app-nft-account-in-wallet-search>
        -->
        <app-nft-account-in-wallet-assets 
        [wallet]="wallet"
        [address]="address"
        [favorites]="favorites"
        [selectedCollections]="selectedCollections"
        [selectedCurrencies]="selectedCurrencies"
        [assets]="assets"
        ></app-nft-account-in-wallet-assets>
    </div>

</div>