<div *ngIf="(userData$ | async) as userDataVar; else loading" class="navigation-space-buffer">
    <h2>Profile image <i class="fas fa-portrait"></i></h2>
    <div class="profile-image">
      <img *ngIf="selectedFileSrc || userDataVar.profile.imageUrl else robot"
           [src]="selectedFileSrc || userDataVar.profile.imageUrl"
           height="200"
           alt="User profile image">
      <br/>
      <br/>
      <ng-template #robot>
        <div class="generic-profile-image"><i class="fas fa-robot"></i></div>
      </ng-template>
      <div class="custom-file">
        <input #imageInput
               type="file"
               accept="image/*"
               class="form-control"
               id="picture"
               (change)="changeImage(imageInput)">
        <label class="custom-file-label" style="cursor: pointer" for="picture"></label>
      </div>
    </div>
  
    <div [hidden]="!imageFileIsTooBig"
         class="alert alert-danger mt-2">
      The image file selected is too big (max 1MB)
    </div>
    <div *ngIf="profileImageChangedStatus === 'ok'" class="alert alert-success mt-2"> Image Profile updated successfully!</div>
    <div *ngIf="profileImageChangedStatus === 'fail'" class="alert alert-danger mt-2"> Image Profile failed to update!</div>
  
    <hr/>
  </div>