.no-wallet{
    .container {
        color: white;
    }
    
    .btn {
        width: 280px;
        margin-top: 3em;
        color: white;
        font-size: 1em;
    }
    
    .btn1 {
        margin-top: 200px;
    }
    
    .btn2 {
        margin-bottom: 200px;
    }
}

.ActionButton--secondary {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(32, 129, 226);
}