

// .media {
//     width: 250px;
//     height: auto;
// }

// .title {
//     display: block;
//     height: 32px;
//     margin: 8px;
//     font-size: 14px;
//     font-weight: 500;
//     color: rgba(0,0,0,.54);
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//     line-height: 1.3;    
// }

// .item-container {
//     background: #fff;
//     border: 1px solid lightgray;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     float: left;
//     position: relative;    
// }

// .item-container:hover {
//     border: 1px solid rgba(250,80,0,.54);
// }
// .price {
//     font-size: 18px;
//     font-weight: 500;
//     color: #FF5000;   
// }

a {
    cursor: pointer;
}