<ul class="row list-unstyled products-group no-gutters mb-0 overflow-visible" *ngIf="products">
    <li  *ngFor="let item of products" class="col-wd-3 col-md-4 pb-2 mb-2 pb-md-0 mb-md-0 border-bottom border-md-bottom-0">
        <div class="product-item__outer h-100 w-100">
            <div class="product-item__inner p-md-3 row no-gutters">
                <div class="col col-lg-auto product-media-left">
                    <a href="/store/{{storeId}}/product/{{item._id}}" class="max-width-150 d-block">
                        <img class="img-fluid" src="{{item.images[0]}}" alt="Image Description">
                    </a>
                </div>
                <div class="col product-item__body pl-2 pl-lg-3 mr-xl-2 mr-wd-1">
                    <div class="mb-4">
                        <div class="mb-2">
                            <a href="/store/{{storeId}}/product/{{item._id}}" class="font-size-12 text-gray-5">
                                {{item.primaryCategoryId ? (item.primaryCategoryId.category | translateField) : ''}}
                            </a>
                        </div>
                        <h5 class="product-item__title">
                            <a [routerLink]="['/store/' + storeId + '/product/' + item._id]" class="text-blue font-weight-bold">
                            {{item.title | translateField}}
                            </a>
                            <!--
                            <a href="{{iddockRoot}}/detail/things/{{item.objectId}}" *ngIf="item.objectId">
                                <img src="/assets/iddock.ico">
                            </a>
                            -->
                        </h5>
                    </div>
                    <div class="flex-center-between mb-3">
                        <div class="prodcut-price">
                            <div class="text-gray-100">${{item.price}}</div>
                        </div>
                        <div class="d-none d-xl-block prodcut-add-cart">
                            <a (click)="addToCart(item)" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-item__footer">
                        <div class="border-top pt-2 flex-center-between flex-wrap">

                            <a (click)="addFavorite(item)" class="text-gray-6 font-size-13"><i class="ec ec-favorites mr-1 font-size-15"></i> Wishlist</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>