<div class="row">
    <div class="col col-md-3 col-12 pt-3 mt-24">
        <app-expansion 
        [title]="'Event Type' | translate"
        [icon]="'star'"
        [options]="options"
        [toggleable]="true">
        </app-expansion>        
        <app-nft-account-activity-event-type
        [(ngModel)]="selectedEventTypes"
        ></app-nft-account-activity-event-type>
        <app-expansion 
        [title]="'Collections' | translate"
        [icon]="'view_comfy'"
        [options]="options"
        [toggleable]="true">
        <app-nft-account-in-wallet-collections 
        [collections]="collections"
        [(ngModel)]="selectedCollections"
        ></app-nft-account-in-wallet-collections>
        </app-expansion>          
    </div>
    <div class="col col-md-9 col-12">
        <app-nft-account-in-wallet-pills
        [selectedCollections]="selectedCollections"
        [selectedEventTypes]="selectedEventTypes"        
        ></app-nft-account-in-wallet-pills>        
        <app-nft-activities
        [events]="events"
        [selectedCollections]="selectedCollections"
        [selectedEventTypes]="selectedEventTypes"
        ></app-nft-activities>
    </div>

</div>