<div class="AssetFormTraitSection--item">
    <div class="AssetFormTraitSection--content">
        <i size="24" class="material-icons">{{icon}}</i>
        <div class="AssetFormTraitSection--content-main">
            <span class="AssetFormTraitSection-input-label">{{title}}</span>
            <p class="AssetFormTraitSection--input-header">{{subtitle}}</p>
        </div>
    </div>
    <div class="AssetFormTraitSection--side">
        <div class="BaseModalreact__DivContainer-sc-1b6y25y-0 kKbqlJ">
            <div class="ActionButtonreact__DivButton-sc-7jpoey-0 ksFLxC ActionButton--isSmall ActionButton--secondary ActionButton--iconOnly " data-testid="ActionButton">
                <div class="ActionButton--content" (click)="addPopup()">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV ActionButton--icon material-icons" value="add" size="24">add</i>
                </div>
            </div>
        </div>
    </div>
</div>
