<div class="modal-header">
    <h4 class="modal-title pull-left">{{'Change Listing Price' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-nft-asset-sell-price [noText]="true" (updateEntity)="onUpdateEntity($event)"></app-nft-asset-sell-price>
    <div class="CreateCollection--actions m-1 py-3 d-flex justify-content-around">
        <div class="ActionButtonrContainer ActionButton--secondary text-center px-2">
            <div class="ActionButton--content" (click)="close()" style="min-width: 120px;">{{'Nevermind' | translate}}</div>
        </div> 

        <div class="ActionButtonrContainer text-center px-2">
            <div class="ActionButton--content" (click)="confirm()" style="min-width: 120px;">{{'Change price' | translate}}</div>
        </div> 
    </div>    
</div>