<header class="collectionManagerView--header">
    <div class="collectionManagerView--collection-image" style="background-image: url({{collection.image}});"></div>
    <div id="category">
        <div id="category-name">
            <span>{{collection.name}}</span>
        </div>
        <div id="category-address">
            <span></span>
        </div>
        <div id="category-description">
            <p>{{collection.description}}</p>
        </div>
        <div class="collectionManagerView--actions" id="category-actions">
            <div class="collectionManagerView--collection-action-button">
                <a class="collectionManagerView--collection-action-link" href="/collection/testmore/edit">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV material-icons material-icons" value="edit" size="24">edit</i>
                    <div>Edit</div>
                </a>
            </div>
            <div class="collectionManagerView--collection-action-button">
                <a class="collectionManagerView--collection-action-link" href="/collection/testmore/payouts">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV material-icons material-icons" value="view_list" size="24">view_list</i>
                    <div>Payouts</div>
                </a>
            </div>
            <div class="collectionManagerView--collection-action-button">
                <a class="collectionManagerView--collection-action-link" href="/collection/testmore">
                    <i class="Iconreact__Icon-sc-1gugx8q-0 kFnBGV material-icons material-icons" value="open_in_browser" size="24">open_in_browser</i>
                    <div>Visit</div>
                </a>
            </div>
        </div>
    </div>
</header>